/* begin c-cart-01 */
.c-cart-01 {
  font-size: 14px;
  background-color: #fff;
}

.c-cart-01 .cart-foot {
  padding: 0 10px 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.c-cart-01 .sub1 {
  float: right;
  font-size: 16px;
  color: #c10017;
  font-weight: 700;
}

.c-cart-01 .product-cart {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

.c-cart-01 .product-cart > div {
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 0 5px;
}

.c-cart-01 .product-cart > div:nth-child(1) {
  text-align: center;
}

.c-cart-01 .product-cart > div:nth-child(3) label {
  color: #c10017;
}

.c-cart-01 .pro-info .p-name {
  color: #333;
  font-size: 14px;
}

.c-cart-01 .num-up-down .up,
.c-cart-01 .num-up-down .down {
  border: 1px solid #ddd;
  text-align: center;
  width: 30px;
  display: inline-block;
  height: 26px;
  margin: 0 -5px;
  cursor: pointer;
  font-weight: bold;
  padding-bottom: 1px;
  font-size: 16px;
}

.c-cart-01 .num-up-down input {
  border: 1px solid #ddd;
  width: 40px;
  height: 26px;
  position: relative;
  top: -1px;
}

.c-cart-01 #shopping_content .item-form {
  padding: 5px 15px;
}

.c-cart-01 #shopping_content .item-form input {
  display: block;
  padding: 9px 0;
  height: 35px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin: 10px 0 5px;
  text-indent: 10px;
  width: 100%;
}

.c-cart-01 #shopping_content .option-group .step_option {
  float: left;
  cursor: pointer;
  text-align: left;
  margin-bottom: 0;
  width: auto !important;
  margin-right: 25px;
}

.c-cart-01 #shopping_content .option-group .step_option .st_opt_active {
  background: #0e76bd;
}

.c-cart-01 #shopping_content .option-group .step_option .st_opt {
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  float: left;
  border: 1px solid #b2b2b2;
  margin-right: 10px;
  border-radius: 50%;
}

.c-cart-01 #shopping_content .ng_ml {
  position: relative;
  margin-bottom: 10px;
}

.c-cart-01 #shopping_content .ng_ml input {
  position: absolute;
  visibility: hidden;
}

.c-cart-01 #shopping_content .ng_ml label {
  padding-left: 20px;
  cursor: pointer;
}

.c-cart-01 #shopping_content .ng_ml label:before {
  content: "\f00c";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  max-width: 16px;
  width: 100%;
  height: 16px;
  line-height: 14px;
  border: 1px solid #777;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  vertical-align: 1px;
  margin-right: 5px;
  position: absolute;
  left: 0;
}

.c-cart-01 #shopping_content .ng_ml input:checked ~ label:before {
  background-color: #549ae6;
  border: 1px solid #549ae6;
}

.c-cart-01 #shopping_content .btn-cart {
  display: inline-block;
  width: 100%;
  padding: 0 15px;
}

.c-cart-01 #shopping_content .btn-cart .btn-now {
  line-height: 20px;
  display: block;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
  overflow: hidden;
  padding: 5px 0;
  background: -webkit-linear-gradient(top, #fe9714, #fd8517);
}

.c-cart-01 #shopping_content .btn-cart .btn-now span {
  color: #fff;
  text-transform: none;
  display: block;
  font-size: 14px;
  font-style: italic;
}

.c-cart-01 #shopping_content .btn-cart .btn-now:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* end c-cart-01 */
