.page_detail{
    .header_detail{
        h2{
            overflow: hidden;
            font-size: 24px;
            color: #333;
            line-height: 40px;
        }
        .star_rate{
            span{
                color: #288ad6;
                display: inline-block;
            }
            .icon-star {
                background-image: url('/template/tantan/images/73_starsprite.png');
                width: 92px;
                height: 17px;
                vertical-align: sub;
                display: inline-block;
                background-repeat: no-repeat; }
              
            .icon-star.star0 {
                background-position: 0 -109px; }
              
            .icon-star.star1 {
                background-position: 0 -88px; }
              
            .icon-star.star2 {
                background-position: 0 -67px; }
              
            .icon-star.star3 {
                background-position: 0 -43px; }
              
            .icon-star.star4 {
                background-position: 0 -23px; }
              
            .icon-star.star5 {
                background-position: 0 0; }
        }
        .fb-like{
            right: 20px;
            top: 15px;
        }
    }
}
/*ảnh sản phẩm*/
.image_detail{
    .list_media{
        .item{
            text-align: center;
            margin-right: 5px;
            img{
                border: 1px solid #e1e1e1;
                border-radius: 3px;
                padding: 6px;
                height: 60px;
            }
            span{
                display: block;
                font-size: 13px;
                font-weight: 500;
            }
        }
        .video{
            a{
                border: 1px solid #e1e1e1;
                border-radius: 3px;
                padding: 11px;
                display: block;
            }
            img{
                border: 0px solid #e1e1e1;
                border-radius: 3px;
                height: auto;
            }
        }
    }
}

/*thông tin sản phẩm*/
.price_sale{
    .area_price{
        strong{
            display: inline-block;
            overflow: hidden;
            font-size: 24px;
            color: #e10c00;
            vertical-align: middle;
            margin-right: 10px
        }
        label{
            background: #f28902;
            margin: 0 0 0 5px;
            position: relative;
            font-size: 11px;
            color: #fff;
            font-weight: 600;
            border-radius: 3px;
            padding: 0 5px 0 8px;
            height: 18px;
        }
        .check_gold{
            float: right;
            line-height: 35px;
            span{
                vertical-align: 2px;
                font-size: 13px;
                font-weight: 500;
            }
            i{
                background-color: #808080;
                color: #fff;
                border-radius: 100%;
                width: 16px;
                line-height: 16px;
                display: inline-block;
                text-align: center;
                cursor: pointer;
            }
        }
    }
    .select_config{
        .title{
            margin-top: 5px;
            max-width: 22%;
            width: 100%;
            text-transform: uppercase;
        }
        .color{
            ul{
                margin-top: 3px;
                margin-bottom: 5px;
                input{
                    position: absolute;
                    width: 22px;
                    height: 22px;
                    cursor: pointer;
                    opacity: 0;
                    z-index: 1;
                    &:checked ~ span{
                        border: 1px solid #000;
                        &::before{
                            opacity: 1;
                        }
                    }
                }
                span{
                    width: 22px;
                    height: 22px;
                    border-radius: 100%;
                    display: inline-block;
                    background-color: #ccc;
                    display: inline-block;
                    position: relative;
                    &::before{
                        content: '';
                        opacity: 0;
                        width: 6px;
                        height: 10px;
                        border: 2px solid #ffffff;
                        border-width: 0 2px 2px 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%) rotate(40deg);
                    }
                }
            }
        }
        .size{
            ul{
                li{
                    position: relative;
                    margin-right: 0;
                }
                input{
                    position: absolute;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    opacity: 0;
                    z-index: 1;
                    left: 0;
                    &:checked ~ span{
                        border: 1px #000 solid;
                    }
                }
                span{
                    border: 1px transparent solid;
                    background-color: #f5f5f5;
                    padding: 6px 8px;
                    display: inline-block;
                    margin-right: 5px;
                    cursor: pointer;
                    border-radius: 2px;
                    color: #7e7e7e;
                }
            }
        }
    }
    .tsh{
        background-color: #ecf7ed;
        border-radius: 3px;
        border: solid 1px #c4ddc8;
        margin: 5px 0px 10px;
        padding: 0 10px;
        font-weight: bold;
        line-height: 30px;
        &:before {
            content: '';
            background: url('/template/tantan/images/nhan-hang-1-gio.png');
            width: 19px;
            height: 21px;
            background-size: 19px 21px;
            margin-right: 10px;
            float: left;
            margin-top: 4px;
        }
        span {
            line-height: 30px;
            padding-left: 10px;
            border-left: 1px solid #c4ddc8;
            display: block;
            margin-left: 28px;
            a{
                color: #30a43b;
            }
        }
    }
    .area_promotion {
        display: block;
        overflow: hidden;
        border: 1px solid #ddd;
        border-radius: 4px;
        position: relative;
        margin: 5px 0px 12px;
        background: #fff;
        padding-bottom: 10px;
        strong {
            display: block;
            overflow: hidden;
            font-size: 15px;
            color: #333;
            padding: 15px 15px 10px 15px;
            text-transform: uppercase;
        }
        .infopr{
            span{
                display: block;
                overflow: hidden;
                font-size: 14px;
                color: #333;
                padding: 0 15px 5px 40px;
                line-height: 18px;
                &::before{
                    content: '';
                    margin-left: -20px;
                    background: url('/template/tantan/images/check.png');
                    width: 14px;
                    height: 14px;
                    background-size: 14px 14px;
                    margin-right: 0;
                    float: left;
                    margin-top: 2px;
                }
            }
        }
    }
    .buy_group{
        display: block;
        overflow: hidden;
        margin: 10px 0px;
        .buy_now{
            display: block;
            overflow: hidden;
            padding: 7px 0;
            border-radius: 4px;
            font-size: 16px;
            line-height: normal;
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            background: #e10531;
        }
        .buy_repay{
            line-height: normal;
            display: block;
            padding: 7px 0;
            text-align: center;
            margin: 10px 0 0;
            background: #fdd504;
            color: rgba(50, 50, 50, 255);
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            font-size: 16px;
            text-transform: uppercase;
            width: 48.5%;
            float: left;
            &.s{
                float: right;
            }
            span{
                color: rgba(50, 50, 50, 255);
            }
        }
        span {
            display: block;
            font-size: 13px;
            color: #fff;
            text-transform: none;
            padding-top: 3px;
        }
    }
    .callorder{
        padding-bottom: 5px;
        padding-top: 5px;
        margin-top: 8px;
        text-align: center;
        display: block;
    }
}

/*Cột phải trên*/
.overview-right{
    .rightInfo{
        overflow: visible;
        background: #fff;
        position: relative;
        .policy {
            display: block;
            overflow: hidden;
            border: 1px solid #ddd;
            border-radius: 3px;
            padding-bottom: 5px;
            margin-bottom: 10px;
            padding-top: 10px;
            list-style: none;
            li{
                display: block;
                overflow: hidden;
                padding: 5px 0 5px 28px;
                font-size: 14px;
                color: #333;
                line-height: 20px;
                margin: 0 10px;
                border-bottom: solid 1px #f0f0f0;
                position: relative;
                font-size: 15px;
                a{
                    font-size: 15px;
                }
            }
            li:first-child {
                padding-top: 0;
            }
            .inpr:before {
                content: '';
                background: url('/template/tantan/images/trong-hop-co@2x.png') 0 0 no-repeat;
                width: 19px;
                height: 16px;
                background-size: 19px 16px;
                position: absolute;
                display: block;
                top: 4px;
                left: 0;
            }
            .wrpr:before {
                content: '';
                background: url('/template/tantan/images/bao-hanh-chinh-hang@2x.png') 2px 0 no-repeat;
                width: 19px;
                height: 23px;
                background-size: 16px 23px;
                position: absolute;
                display: block;
                top: 8px;
                left: 0;
            }
            li:last-child:before {
                content: '';
                background: url('/template/tantan/images/1-doi-1@2x.png') 0 0 no-repeat;
                width: 18px;
                height: 20px;
                background-size: 18px 20px;
                position: absolute;
                display: block;
                top: 8px;
                left: 0;
            }
        }
        .productOld{
            border: solid 1px #ddd;
            padding: 10px 12px 10px 12px;
            margin-bottom: 10px;
            border-radius: 3px;
            position: relative;
            .viewold {
                display: block;
                overflow: hidden;
                font-size: 14px;
                color: #288ad6;
                border-radius: 3px;
                font-size: 15px;
                div {
                    display: block;
                    overflow: hidden;
                    color: #333;
                    margin-top: 3px;
                    span{
                        display: block;
                        line-height: 22px;
                        strong{
                            color: #e10c00;
                        }
                    }
                }
            }
        }
    }
}

/*Nội dung sản phẩm*/
.content_left{
    .title{
        display: block;
        line-height: 1.3em;
        font-size: 20px;
        color: #333;
        margin-bottom: 10px;
        font-weight: 400;
    }
    .bottom_order{
        padding-bottom:15px;
        overflow:hidden
    }
    .bottom_order .area_order{
        display:block;
        vertical-align:middle;
        margin:0;
        float:right;
        width:64%;
        text-align:right
    }
    .bottom_order .area_order .buy_now{
        display:inline-block;
        vertical-align:top;
        padding:15px 10px;
        margin-right:10px;
        float:left;
        min-width:135px !important;
        font-size:12px
    }
    .bottom_order .area_order .buy_repay{
        padding:15px 10px;
        width:140px;
        float:left;
        margin-top:0;
        margin-right:10px;
        font-size:12px
    }
    .bottom_order .area_order .buy_repay.s{
        margin-right:0
    }
    .bottom_order .area_order .buy_now span,.bottom_order .area_order .buy_repay span{
        display:none
    }
    .bottom_order .area_order .b0pc{
        margin:10px 10px 0 0
    }
    .bottom_order.info_acc .area_order{
        width:39%
    }
    .info_sp{
        display:block;
        vertical-align:middle;
        float:left;
        width:35%
    }
    .info_sp img{
        float:left;
        width:70px;
        height:auto;
        margin:0 10px 0 0
    }
    .info_sp h3{
        display:block;
        font-size:16px;
        font-weight:600;
        margin-bottom:5px;
        text-align:left;
        display:-webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient:vertical;
        text-overflow:ellipsis;
        overflow:hidden;
        line-height:1.3
    }
    .info_sp strong{
        display:block;
        color:#d0021b;
        font-size:16px;
        text-align:left
    }
    .info_sp span{
        display:block;
        overflow:hidden;
        color:#c1000c;
        text-align:left
    }
    .info_acc .info_sp{
        width:60%;
    }
    .info_acc .info_sp h3{
        font-size:16px;
        margin-bottom:6px;
        display: block;
        line-height: 1.3em;
        font-size: 20px;
        color: #333;
        font-weight: 600;
        margin-bottom: 0;
        text-align: left;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .area_order{
        .buy_now{
            box-sizing: border-box;
            margin-right: 10px;
            margin-bottom: 0;
            display: inline-block;
            vertical-align: top;
            padding: 15px 10px;
            float: left;
            min-width: 135px !important;
            font-size: 12px;
            line-height: normal;
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            border-radius: 4px;
            background: #e10531;
        }
        .buy_repay{
            background: #fdd504;
            padding: 15px 10px;
            width: 140px;
            float: left;
            margin-top: 0;
            margin-right: 10px;
            font-size: 12px;
            text-align: center;
            color: #333333;
            border-radius: 4px;
        }
    }
    .slider_content{
        .owl-theme .owl-dots .owl-dot span{
            background: transparent;
            border: 1px solid #585858;
        }
        .owl-theme .owl-dots .owl-dot.active span{
            background: #f28c31;
            border: 1px solid #f28c31;
        }
    }
}

/*sidebar right*/
.sidebar_right{
    h4{
        display: block;
        overflow: hidden;
        font-size: 20px;
        color: #333;
        line-height: 1.3em;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    .blog_related{
        display: block;
        overflow: hidden;
        margin: 20px 0 0;
        li{
            display: block;
            overflow: hidden;
            padding: 8px 0;
            .b-img{
                display: block;
                overflow: hidden;
                display: block;
                float: left;
                width: 100px;
                height: 60px;
                margin-right: 10px;
            }
            .b-text{
                overflow: hidden;
                color: #333;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                a{
                    color: #333;
                }
                span{
                    display: block;
                    color: #b3b3b3;
                    i{
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .product_related{
        display: block;
        overflow: hidden;
        margin: 30px 0 0;
        li{
            display: block;
            overflow: hidden;
            padding: 10px 0;
            a{
                display: block;
                overflow: hidden;
            }
            img{
                float: left;
                width: 100px;
                height: auto;
                margin-right: 10px;
            }
            h3{
                display: block;
                overflow: hidden;
                color: #333;
                line-height: 1.3em;
                font-weight: bold;
                font-size: 14px;
            }
            strong{
                display: block;
                overflow: hidden;
                font-size: 14px;
                color: #d0021b;
                padding: 3px 0;
            }
            .gs{
                float: left;
                margin-right: 10px;
            }
            .gg{
                color: #666;
                text-decoration: line-through;
                font-weight: normal;
            }
            label{
                display: inline-block;
                font-size: 12px;
                color: #fff;
                font-weight: 600;
                background: #ee170b;
                border-radius: 2px;
                padding: 0 5px;
                height: 18px;
            }
        }
    }
    #tb-product-spec{
        tr:nth-child(n + 5){
            display: none;
        }
    }
    .viewmore_product-spec{
        display: block;
        width: 100%;
        padding: 6px 0;
        margin: 10px 0 0;
        cursor: pointer;
        text-align: center;
        font-size: 14px;
        color: #288ad6;
        background: #fff;
        border: 1px solid #288ad6;
        border-radius: 4px;
    }
}
#box_product-spec{
    width: 600px;
}
#tb-product-spec{
    width: 100%;
    border-width: 0 0 0 0;
    td{
        border-width: 0 0 1px 0;
        padding: 11px 0;
    }
    tr:last-child{
        td{
            border-width: 0 0 0 0;
        }
    }
    .att-name{
        color: #666;
        width: 40%;
    }
    ul{
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        display: inline-block;
        li{
            float: left;
            &::after{
                content: ',';
                margin-right: 4px;
            }
            &:last-child{
                &::after{
                    content: '';
                    margin-right: 4px;
                }
            }
        }
    }
}