@charset "UTF-8";
body{
    background:#fff;
    font-family: "Fira Sans",Arial,sans-serif;
    font-weight: normal;
    font-size:14px;
    color:#333;
    &.in-detail {
        background: #E5E5E5
    }
}
img { max-width: 100%; height: auto;}
.mm-slideout { z-index: auto;}
img.rounded-img {border-radius: 50%;overflow: hidden;}
.mb-20 { margin-bottom: 20px;}
.mb-10 { margin-bottom: 10px; }
.mt-10 { margin-top: 10px;}
.lh-22 { line-height: 22px;}
.lh-19 { line-height: 19px;}
.border-radius-4 { border-radius : 4px; }
.change-input {
    width: 100%;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 4px;
    height: 36px !important;
    line-height: 36px !important;
    padding: 0 15px;
}
.fira-regular{
    font-family: "Fira Sans";
}
.fira-light{
    font-family: "Fira Sans";
    font-weight:300 !important
}
.fira-medium{
    font-family: "Fira Sans";
    font-weight: 500!important
}
.fira-bold{
    font-family: "Fira Sans";
    font-weight:700
}
.color-green { color : #32a923 }
.color-red { color : #FF3B30}
.mb-30 { margin-bottom: 30px;}
.mt-50 { margin-top: 50px;}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.color-white {
    color: #fff !important;
}
.color-theme {
    color :#FF9500 !important ;
}
.line-though{
    text-decoration:line-through
}
.text-black{
    color:#000!important
}
.text-green-light{
    color:#85c150!important
}
.text-green-32a923{
    color:#32a923!important
}
.text-light-purple{
    color:#a251da!important
}
.text-b42456{
    color:#b42456!important
}
.text-gray{
    color:#999
}
.color-fail{
    color:red
}
.text-theme{
    color: $theme;
}
.bg-theme{
    background-color: $theme;
}
.border-theme{
    border-color: $theme;
}
.line-h11{
    line-height:1.1
}
.lineh_43{
    line-height:43px
}
a{
    transition: 0.3s all;
    &:focus,&:hover{
        text-decoration:none;
        transition: 0.3s all;
        color : #FF9500 !important ;
    }
}
ul{
    margin-bottom: 0;
}

.btn-theme{
    font-size: 14px;
    color: #fff;
    background: linear-gradient(to right, #f12a2a, #f37931);
    padding: 11px 33px;
    border-radius: 100px;
    box-shadow: 0 7px 9px 0 rgba(0, 0, 0, 0.1);
    font-weight: bold;
    display: inline-block;
    &:hover{
        color: #fff;
        box-shadow: inset 0 7px 9px 0 rgba(0, 0, 0, 0.39);
    }
}
.type-title-1{
    text-align: center;
    h4{
        font-size: 14px;
        color: #fff;
        background: linear-gradient(to right, #f12a2a, #f37931);
        padding: 11px 33px;
        border-radius: 100px;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 15px;
    }
    p{
        font-size: 30px;
        color: #4f4f4f;
    }
}

.form-control:focus, .lending-sidebar-right .sidebar input:focus, .lending-sidebar-right .sidebar select:focus{
    border-color: $theme;
    box-shadow: 0 0 0 0.2rem rgba($color: $theme, $alpha: 0.25);
}
.back-to-top{
    position: fixed;
    bottom: 50px;
    right: 30px;
    background-color: #f36f21;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100%;
    text-align: center;
    font-size: 30px;
    color: #fff;
    z-index: 111;
}
.title-theme{
    color: $theme;
}
.page_static .wrap_content{
    padding: 30px 0 60px;
}

/*============================
==============================
==============================
error 404
==============================
==============================
============================*/
.page_404{
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
    @extend .d-flex, .align-items-center;
    img{
        max-width: 100%;
    }
    h4{
        font-size: 18px;
        color: rgba(65, 65, 65, 255);
        margin-top: 20px;
        margin-bottom: 15px;
    }
    a{
        background: #388cf5;
        color: #fff;
        font-weight: normal;
    }
}
@media(max-width: 768px){
    .back-to-top{
        display: none;
    }
    .page_static .wrap_content{
        padding: 0px 0 30px;
    }
}

@media(max-width: 439px){
    .type-title-1 p{
        font-size: 22px;
    }
}

#pb_loader {
    position: fixed;
    width:  96px;
    height: 96px;
    left:  50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0px 24px 64px rgba(0,0,0,0.24);
    border-radius:16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    z-index:1000;
}

#pb_loader.fullscreen {
    padding:  0;
    left:  0;
    top:  0;
    width:  100%;
    height: 100%;
    transform: none;
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
}

#pb_loader.show {
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#pb_loader .circular {
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left:  calc(50% - 24px);
    top:  calc(50% - 24px);
    display: block;
    transform: rotate(0deg);
}

#pb_loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes loader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}


/* custom nav + dots owl carousel */

.owl-carousel 
{
    .owl-nav {
        .owl-prev img {
            transform: rotate(180deg);
        }
        .owl-prev , .owl-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            border: none;
            color: #333333;
            padding: 0;
            margin: 0;
            outline: none;
            span {
                font-size: 40px;
                font-weight: 300;
            }
            &:hover {
                background: transparent !important;
                span{
                    color: #FF9500;
                    background: transparent;
                }
            }
        }
    
        .owl-prev:hover , .owl-nav:hover {
            background: none;
            border: none;
            color: #FF9500;
        }
        .owl-prev {
            left: -35px;
        }
    
    
        .owl-next {
            right: -35px;
        }
        .disabled {
            opacity: 0.2;
            cursor: default
        }
    
    }
    .owl-dots {
        display: flex;
        margin-top: -10px;
        align-items: center;
        justify-content: center;
        .owl-dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            background: #cdcfdd;
            border-radius: 50%;
            margin: 0 4px;
            border-color: transparent;
            padding: 0;
            outline: none;
            &.active {
                background: #FF9500;
                width: 14px;
                height: 14px;
            }
            span {
                display: none;
            }
              
          }
      }
}

/*  modal */


.modal-content {
    background: #FFFFFF;
    border-radius: 4px;
    .close-modal {
        position: absolute;
        right: -12px;
        top: -12px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #828282;
        text-align: center;
        img {
            width: 8px;
            height: 8px;
        }
    }
}
.modal-backdrop.fade.show {
    background: #000000;
    opacity: 0.4;
}




@media (max-width: 1199px) {
	.owl-nav .owl-prev {
		left: -5% !important
	}
	.owl-nav .owl-next {
		right: -5% !important
	}
}
@media (min-width: 992px) {
    .modal-dialog {
      max-width: 730px;
    }
  }

@media (max-width: 991px) {
	.owl-nav .owl-prev {
		left: 0 !important
	}
	.owl-nav .owl-next {
		right: 0 !important
	}
}

@media (max-width: 767px) {
  .owl-carousel .owl-nav .owl-prev:before,
  .owl-carousel .owl-nav .owl-next:before {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px
  }
}


// order-list
.account-box-left {
    min-height: 507px;
}
.content-wrapper {
    padding: 0 10px;
    .table {
        width: 100%;
        display: table;
        background: #fff;
        border-collapse: collapse;
        margin-bottom: 0;
      }
      .tbl_info {
        width: 100%;
        max-width: 100%;
        background-color: #fff !important;
        span {
            padding: 20px 15px 20px 0 ;
            flex: 1;
            color: #333333;
            font-size: 13px;
            &.flex-3 {
                flex: 3;
            }
            &.flex-2 {
                flex: 2;
            }
            a {
                color: #007AFF;
                font-weight: 500;
            }
          }

        .tbl_title span {
            line-height: 16px;
            border-bottom: 1px solid #dddddd;
            padding-bottom: 9px;
            font-weight: 500;
          }
          .tbl_row, .tbl_title {
            display: flex;
            flex-wrap: wrap;
          }
          .tbl_row:not(:last-child) {
            border-bottom: 1px solid #eceeef;
          }
      }
      .order-status{
        b {
            border-radius: 88px;
            padding: 4px 8px;
            font-weight: 500;
        }
        &.waiting b {
            background: #FFE9CE;
            color: #FF9500;
        }
        &.success b{
            background: rgba(52, 199, 89, 0.2);
            color : #34C759;
        }
        &.canceled b {
            background: rgba(255, 62, 50, 0.2);
            color: #FF3B30;
        }
      } 
  }
  
// order-detail
.order-detail-item{
    .title {
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        margin-bottom: 17px;
    }
    table {
        font-size: 13px;
        td {
            padding: 5px 2px;
            min-width: 120px;
            vertical-align: top;
        }
        b {
            font-weight: 500;
        }
    }
} 
.order-item {
    display: block;
    margin-left: 50px;
    i {
        font-weight: 500;
        color: #555555;
        font-style: normal;
    }
}

.order-detail-summary {
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    padding: 20px 0;
    .order-summary-item {
        display: flex;
        align-items: center;
    }
    span { 
        padding: 4.5px 15px 4.5px 0 ;
        text-align: right;
        font-weight: 500;
    }
    .name {
        flex: 7 ;
    }
    .value { 
        flex : 1;
    }
}

.btn-submit-change {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FF9500;
    border-radius: 99px;
    padding: 9px 35px;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
}

// success page 
.success-page{
    .success-content-wrapper {
        padding-top: 47px;
    }
    .icon-success {
        font-size: 76px;
    }
    .success-message {
        line-height: 36px;
    }
    a.btn-success-page {
        border: 1px solid #828282;
        border-radius: 99px;
        padding: 12.5px 35px;
        color: #555555;
        line-height: 17px;
        display: inline-block;
        vertical-align: middle;
        &.btn-success-color {
            background: #FF9500;
            color: #fff;
            border-color: transparent;
            margin-left: 30px;
            .material-icons {
                vertical-align: middle;
            }
            &:hover {
                    color: #555555 !important;
                    border-color: #828282 !important;
                    background: transparent;
                    img {
                        filter: brightness(0);
                    }
            }
        }
    }
    
}

@media( max-width: 640px) {
    .success-page a.btn-success-page {
        display: block;
        &.btn-success-color {
            margin-left: 0;
            margin-top: 20px;
        }
    }
}

//modal user
.modal-user {
    max-width: 350px;
    .modal-register , .modal-login {
        padding: 20px 15px;
    }
    .head-modal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
            font-size: 24px;
            line-height: 29px;
            font-weight: 600;
            color: #333333;
        }
    }
    .line-style {
        &:after {content: '';position: absolute;width: 100%;height: 1px;background: #DDDDDD;left: 0;top: 50%;transform: translateY(-50%);z-index: 10;}
        span {
            background: #fff;
            z-index: 100;
            position: relative;
            padding: 0 5px;
        }
    }
    .login-3rd-item {
        padding: 10px 25.5px;
        border-radius: 99px;
        background: #0066DD;
        margin-bottom: 10px;
        color: #fff;
        img {
            margin-top: -2px;
            margin-right: 4px;
        }
        &.login-gg {
            background: #DA4B1E;
        }
    }


}



  @media (max-width: 768px) {
    .content-wrapper .tbl_info .tbl_title {
      display: none;
    }
    .content-wrapper .tbl_info span,
    .content-wrapper .tbl_info span.flex-3,
    .content-wrapper .tbl_info span.flex-2   {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    .content-wrapper .tbl_info span:before {
      content: attr(data-title) ":";
      float: left;
      font-weight: 700;
    }
  }


