<!--sssssssssss{$item_list|print_r}-->
<div class="container">
  <div id="breadcrumb">
    <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/" itemprop="url" class="nopad-l">
        <span itemprop="title">Trang chủ</span>
      </a>
    </div>
    <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      &nbsp;/&nbsp;<a href="/tong-hop-khuyen-mai" itemprop="url">
      <span itemprop="title"><b class="red">Khuyến mại</b></span>
      </a>
    </div>
  </div>
  {if="sizeof($banner_header[23]) > 0"}
  <div class="banner-pro-list">
    <div class="owl-carousel">
      {loop="$banner_header[23]"}
      <div class="item">{$value.display}</div>
      {/loop}
    </div>

  </div><!--banner-left-->
  <div class="space20"></div>
  {/if}
  <div id="promotion-page">
  	<div class="title-page">
      <h1 class="h-title">Săn khuyến mãi <b>HOT</b></h1>
      <span>Hãy thường xuyên theo dõi các chương trình khuyến mãi để có cơ hội mua HÀNG CHÍNH HÃNG GIÁ TỐT NHẤT</span>
    </div>
    <div class="clear"></div>
    <div class="list">
      {loop="$item_list"}
      <a href="{$value.url}" class="item">
      	<img src="{$value.thumbnail}" class="img" alt="{$value.title}" />
        <span class="title">{$value.title}</span>
        <span class="time">Từ: {$value.start_time} - Kết thúc: {$value.end_time}</span>
        {if="$value.status=='started'"}
        <span class="status started">[Đang bắt đầu]</span>
        {elseif="$value.status=='ended'"}
        <span class="status ended">[Đã kết thúc]</span>
        {else}
        <span class="status not-started">[Chưa bắt đầu]</span>
        {/if}
      </a>
      {/loop}
    </div><!--list-->
    
    <div class="clear"></div>
    {if="sizeof($paging_collection) > 0"}
    <div class="paging">
      {loop="$paging_collection"}
      {if="$value.name!='Back'"}
      <a href="{$value.url}" {if="$value.url=='#'"}class="current"{/if}>{if="$value.name=='Next'"}Tiếp theo{else}{$value.name}{/if}</a>
      {/if}
      {/loop}
    </div>
    {/if}
  </div><!--promotion-page-->
  
</div><!--container-->
