<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="libs/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="libs/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="libs/mmenu/jquery.mmenu.all.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div id="app">
      <div id="menu-mobile">
        <ul class="menu">
          <li class="menu-item">
            <a href="" class="menu-link">
            Trang chủ
            </a>
          </li>
          <li class="menu-item">
            <a href="" class="menu-link">
            Giới thiệu
            </a>
          </li>
          <li class="menu-item">
            <a href="" class="menu-link">
            Sản phẩm
            </a>
          </li>
               
        </ul>
      </div>
      <myheader></myheader>
      <main>
        


        <!-- slider homepage-->
        <section class="js-carousel nonwat-slider position-relative" data-items="1" data-autoplay="true" data-loop="true" data-dots="false" data-dotsData="false" data-arrows="false">
            <div class="item">
                <a href="#" class="clearfix">
                    <img src="images/slider.png" alt="Slider 1">
                </a>
            </div>
            <div class="item">
              <a href="#" class="clearfix">
                  <img src="images/slider.png" alt="Slider 2">
              </a>
          </div>
        </section>

        <!-- banner under slider-->
        <section class="nowat-banner-underslider position-relative">
          <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <figure class="position-relative">
                        <img src="images/banner-home1.png" alt="">
                        <div class="static-text">
                          <span class="title text-uppercase">Đồng hồ Nam</span>
                          <a href="" class="action">
                            Xem chi tiết <span class="material-icons fs-14">keyboard_arrow_right</span>
                          </a>
                        </div>
                    </figure>
                </div>
                <div class="col-lg-4 col-12">
                    <figure class="position-relative ">
                        <img src="images/banner-home2.png" alt="">
                        <div class="static-text center">
                          <span class="title text-uppercase">Phụ kiện</span>
                          <a href="" class="action">
                            Xem chi tiết <span class="material-icons fs-14">keyboard_arrow_right</span>
                          </a>
                        </div>
                    </figure>
                </div>
                <div class="col-lg-4 col-12">
                  <figure class="position-relative ">
                      <img src="images/banner-home3.png" alt="">
                      <div class="static-text right">
                        <span class="title text-uppercase ">Đồng hồ Nữ</span>
                        <a href="" class="action">
                          Xem chi tiết <span class="material-icons fs-14">keyboard_arrow_right</span>
                        </a>
                      </div>
                  </figure>
              </div>
            </div>
          </div>
        </section>


        <!-- block sp hot -->
        <section class="block-sp-hot block-home" >
          <div class="container">
            <div class="title">
                <div class="block-line">
                  <img src="images/clock.svg" alt="" class="img-fluid">

                </div>
                <h2 class="text-uppercase text-center">
                    Sản phẩm <span class="color-theme"> nhiều người mua nhất  </span>
                </h2>
            </div>

            <div class="slider-sp-hot">
              <div data-dot="true" data-nav="true" data-lg-items="4" data-md-items="3" data-sm-items="3" data-xs-items="2" data-margin="30" class="js-carousel"> 
                  <div v-for="item in product" v-if="loading">
                    <myproduct :name="item.Name" :price="item.Price" :mprice="item.RetailPrice" :img="item.ThumbnailURL"></myproduct>
                  </div>
              </div>
            </div>

            <div class="text-center d-block">
              <a href="" class="view-all">
                Xem chi tiết <span class="material-icons fs-14">keyboard_arrow_right</span>
              </a>
            </div>

            </div>
        </section>
        <!-- block why us-->

        <section class="why-us block-home">
          <div class="container">
            <div class="title">
                <div class="block-line">
                  <img src="images/clock.svg" alt="" class="img-fluid">

                </div>
                <h2 class="text-uppercase text-center">
                    Tại sao <span class="color-theme"> 92% </span> khách hàng tin tưởng Non-wat ?
                </h2>
            </div>

            <div class="why-us-content-wrapper d-flex flex-wrap">
                <div class="why-us-content has-img">

                  <div class="why-us-item circle-img">
                    <img class="img-fluid" src="images/why-us.png" style="display: inline;">
                  </div>
                </div>

                <div class="why-us-content  order-lg-first ">

                  <div class="why-us-item text-center text-md-left">
                      <h3 class="color-theme">Thiết kế và Sản xuất tại Việt Nam</h3>
                      <span>
                        Mỗi chiếc Đồng hồ NON-WAT được thiết kế phát triển bởi chất xám và nỗ lực của những con người Việt Nam, mang theo cảm hứng và khát khao của tuổi trẻ.
                      </span>
                  </div>
                  <div class="why-us-item text-center text-md-left">
                    <h3 class="color-theme">Kính Sapphire chống xước</h3>
                    <span>
                      Mặt kính Sapphire hạn chế tối đa xước xát, xóa bỏ nỗi lo va đập, giúp mặt đồng hồ luôn sáng bóng.
                    </span>
                  </div>
                </div>

                <div class="why-us-content">

                <div class="why-us-item text-md-right text-center">
                  <h3 class="color-theme">Chống nước cực tốt</h3>
                  <span>
                    Đồng hồ NON-WAT sở hữu tính năng chống nước từ 3ATM cho đến 10ATM, giúp bạn tự tin hoạt động ngay trong những môi trường hay thời tiết không thuận lợi.
                  </span>
                </div>
                <div class="why-us-item text-md-right text-center">
                <h3 class="color-theme">Thay đổi dây đeo trong 20 giây</h3>
                <span>
                  Thay dây đồng hồ, biến đổi phong cách thời trang của bạn mọi lúc mọi nơi trong tích tắc
                </span>
                </div>
                </div>
            </div>


          </div>

        </section>

        <!-- block sp nhieu tabs-->
        <section class="block-sp-tabs block-home" >
          <div class="container">
            <div class="title">
                <div class="block-line">
                  <img src="images/clock.svg" alt="" class="img-fluid">

                </div>
                <h2 class="text-uppercase text-center">
                    Tự hào được <span class="color-theme"> thiết kế & sản xuất </span> </br>
                    tại việt nam
                </h2>
            </div>

            <div class="tabs-sp text-center">
              <ul class="list-unstyled d-inline-block">
                <li class="tabs-item active">
                  <a href="" data-tabs="#tab1">
                    Sản phẩm khuyến mãi
                  </a>
                </li>
                <li class="tabs-item">
                  <a href="" data-tabs="#tab1">
                    Đồng hồ Nam
                  </a>
                </li>
                <li class="tabs-item">
                  <a href="" data-tabs="#tab1">
                    Đồng hồ Nữ
                  </a>
                </li>
                <li class="tabs-item">
                  <a href="" data-tabs="#tab1">
                    Phụ kiện
                  </a>
                </li>
              </ul>


            </div>

            <div class="tabs-sp-content">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-12" v-for="item in product" v-if="loading">
                  <myproduct :name="item.Name" :price="item.Price" :mprice="item.RetailPrice" :img="item.ThumbnailURL"></myproduct>
                </div>

               

              </div>
            </div>
            <div class="text-center d-block">
              <a href="" class="view-all">
                Xem chi tiết <span class="material-icons fs-14">keyboard_arrow_right</span>
              </a>
            </div>
            </div>
        </section>

        <!-- 2 banners -->
        <section class="block-home nowat-banner">
          <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <figure class="position-relative m-0" style="background:url(images/banner-home4.png) no-repeat center center;     background-size: cover;">

                    </figure>
                </div>
                <div class="col-lg-6 col-12">
                    <figure class="position-relative  m-0" style="background:url(images/banner-home5.png) no-repeat center center;     background-size: cover;">
                      
                    </figure>
                </div>
            </div>
          </div>
        </section>

        <!-- sp sap ra mat -->
        <section class="block-sp-new block-home" >
          <div class="container">
              <div class="title">
                  <div class="block-line">
                  <img src="images/clock.svg" alt="" class="img-fluid">
  
                  </div>
                  <h2 class="text-uppercase text-center mb-0">
                      Sản phẩm <span class="color-theme"> sắp ra mắt </span>
                  </h2>
              </div>
  
  
  
              <div class="tabs-sp-content">
              <div class="row">
                  <div class="col-lg-3 col-md-6 col-12" v-for="(item,index) in product" v-if="loading">
                  <myproduct v-if="index < 4" :name="item.Name" :price="item.Price" :mprice="item.RetailPrice" :img="item.ThumbnailURL"></myproduct>
                  </div>
              </div>
              </div>
              <div class="text-center d-block">
              <a href="" class="view-all">
                  Xem chi tiết <span class="material-icons fs-14">keyboard_arrow_right</span>
              </a>
              </div>
              </div>
          </section>

        <!-- tintuc -->
        <section class="block-article-home block-home" >
          <div class="container">
            <div class="title">
                <div class="block-line">
                  <img src="images/clock.svg" alt="" class="img-fluid">

                </div>
                <h2 class="text-uppercase text-center">
                   <span class="color-theme"> Tin tức </span> NON-WAT
                </h2>
            </div>



            <div class="tabs-tintuc">
              <div class="row">

                <div class="col-lg-4 col-md-6 col-12" v-for="items in post" v-if="loading">
                  <myarticle :name="items.title" :img="items.imageUrl" :desc="items.body" :create="items.created"></myarticle>
                </div>

              

              </div>  
            </div>
            <div class="text-center d-block">
              <a href="" class="view-all">
                Xem chi tiết <span class="material-icons fs-14">keyboard_arrow_right</span>
              </a>
            </div>
            </div>
        </section>



      </main>

      
      <!--  modal product-->
      <div class="modal fade" id="popProduct" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <a href="javascript:;" data-dismiss="modal" aria-label="Close" class="close-modal">
              <img src="images/close-modal.png" alt="">
            </a>

            <div class="modal-product" id="modal-product-content">
              <div class="row">
              <div class="list-img product-detail-left col-12 col-md-5 col-lg-5">
                <div class="large-image">
                  <a href="javascript:;"
                    data-rel="product-list-img">
                    <img class="checkurl img-responsive" id="img_01"
                      src="images/product/big-img-detail.png"
                      alt="Tên sản phẩm">
                  </a>

                </div>
                
                <div id="product-slider-img"
                  class="js-carousel"
                  data-loop="false" data-lg-items="4" data-md-items="3" data-nav="false" data-sm-items="3"
                  data-xs-items="3" data-xxs-items="3" >
                  <div class="item">
                    <a href="javascript:void(0)"
                      data-image="images/product/big-img-detail.png"
                      data-zoom-image="images/product/big-img-detail.png" class="active">
                      <img 
                        data-img="images/product/big-img-detail.png"
                        src="images/product/small-img-detail1.png"
                        alt="Tên sản phẩm">
                    </a>
                  </div>
                 <div class="item">
                    <a href="javascript:void(0)"
                      data-image="https://via.placeholder.com/1000/"
                      data-zoom-image="https://via.placeholder.com/1000/">
                      <img 
                        data-img="https://via.placeholder.com/1000/"
                        src="images/product/small-img-detail2.png"
                        alt="Tên sản phẩm">
                    </a>
                  </div>
                   <div class="item">
                    <a href="javascript:void(0)"
                      data-image="https://via.placeholder.com/1000/4e4e4e"
                      data-zoom-image="https://via.placeholder.com/1000/4e4e4e">
                      <img 
                        data-img="https://via.placeholder.com/1000/4e4e4e"
                        src="images/product/small-img-detail3.png"
                        alt="Tên sản phẩm">
                    </a>
                  </div>
                   <div class="item">
                    <a href="javascript:void(0)"
                      data-image="https://via.placeholder.com/1000/00ff"
                      data-zoom-image="https://via.placeholder.com/1000/00ff">
                      <img 
                        data-img="https://via.placeholder.com/1000/00ff"
                        src="images/product/small-img-detail4.png"
                        alt="Tên sản phẩm">
                    </a>
                  </div>
                </div>

                

              </div>

              <div class="product-detail-right col-12 col-md-7 col-lg-7">
                  <span class="p-name"> Colosseum Mortal</span>
                  <div class="p-status"> Tình trạng : <span class="color-green">Còn hàng</span> </div>
                  <div class="product-detail-pri">
                    <span class="p-price"> 599.000đ </span>
                    <span class="p-old-price"> 999.000đ</span>
                  </div>

                  <div class="product-detail-config">
                    <div class="config-item">
                      <b class="title">Chọn màu sắc</b>
                      <div class="config-list">
                        <a href="javascript:;" class="config-item active text-black js-change-config">
                          <span class="config-attr">
                            <img src="images/product/config-img1.png" alt="">
                          </span>
                          <span class="config-name">
                            Black
                          </span>
                        </a>
                        <a href="javascript:;" class="config-item text-black js-change-config">
                          <span class="config-attr">
                            <img src="images/product/config-img2.png" alt="">
                          </span>
                          <span class="config-name">
                            Silver
                          </span>
                        </a>
                        <a href="javascript:;" class="config-item  text-black js-change-config">
                          <span class="config-attr">
                            <img src="images/product/config-img3.png" alt="">
                          </span>
                          <span class="config-name">
                            Rosegold
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="product-detail-action">
                    <b class="title">Chọn số lượng</b>
                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                      <div class="select-qty ">
                        <select name="qty" class="select-qty-custom">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                        
                        </div>

                        <a href="" class="btn-buynow"> Mua ngay</a>
                        <a href="" class="btn-addtocart"> <img src="images/bag-add-18-1.svg" alt=""> Thêm vào giỏ hàng </a>
                    </div>
                  </div>

                  <div class="product-detail-desc">
                    <b class="title"> Mô tả sản phẩm </b>
                    <p class="nd">
                      Colosseum Mortar được Curnon thiết kế dựa trên sự năng động, phá cách của giới trẻ. Dùng màu đen làm tone chủ đạo, mặt đồng hồ đơn giản làm nổi bật kim giờ với điểm nhấn màu vàng hồng giúp Colosseum Mortar trở nên vô cùng ấn tượng...
                    </p>
                  </div>
              </div>  
              </div>

            </div>

          </div>
        </div>
      </div>

      <myfooter></myfooter>
    </div>
     
    
    <script src="js/vue.js"></script>
    <script src="js/httpVueLoader.js"></script>
    <script src="js/jquery-3.4.1.js"></script>
    <script src="libs/bootstrap/bootstrap.min.js"></script>
    <script src="libs/bootstrap/popper.min.js"></script>
    <script src="libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="libs/mmenu/jquery.mmenu.all.js"></script>
    <script src="js/main.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
            product: [],
            post : [],
            loading: false,
            fakes: 12
        },
        components: {
          myheader: httpVueLoader("vue_components/header.vue"),
          myfooter: httpVueLoader("vue_components/footer.vue"),
          myproduct: httpVueLoader("vue_components/product-item.vue"),
          myarticle:httpVueLoader("vue_components/article-item.vue")
        },
        mounted() {
          this.$nextTick(() => {
            $(window).bind("load", function () {
              RunFn.runnCarousel('.js-carousel');
              RunFn.mmenu('#menu-mobile');
              RunFn.changeImgProduct();
              RunFn.changeConfig('.js-change-config');
            });
          });
        },
        methods: {
              getDataProduct: function () {
                  fetch(`json/product.json`)
                      .then(result => result.json())
                      .then(result => {
                          console.log(result);
                          this.product = result;
                          this.loading = true;
                      })
                      .catch(
                          function (error) {
                              console.log('Error: \n', error);
                          }
                      );
                },
              getDataPost : function() {
                fetch(`json/post.json`)
                .then(result => result.json())
                .then(result => {
                    console.log(result);
                    this.post = result;
                    this.loading = true;
                })
                .catch(
                    function (error) {
                        console.log('Error: \n', error);
                    }
                );
              },
              onClickModal : function(name) {
                alert("popup modal :" + name );
              }
            },
            created: function () {
                this.getDataProduct();
                this.getDataPost();
            }

      });
    </script>
  </body>
</html>
