<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="libs/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="libs/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="libs/mmenu/jquery.mmenu.all.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div id="app">
      <div id="menu-mobile">
        <ul class="menu">
          <li class="menu-item">
            <a href="" class="menu-link">
            Trang chủ
            </a>
          </li>
          <li class="menu-item">
            <a href="" class="menu-link">
            Giới thiệu
            </a>
          </li>
          <li class="menu-item">
            <a href="" class="menu-link">
            Sản phẩm
            </a>
          </li>
               
        </ul>
      </div>
      <myheader></myheader>
      <main>
        <section class="breadcrumb_background breadcrumb_background_tintuc">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <div class="wrap_breadcrumb text-center">
                        <h1 class="m-0 text-uppercase title text-white">Tin tức</h1>
                        <ul class="breadcrumb justify-content-center mb-0">
                            <li class="home">
                               <a href="/"><span class="">Trang chủ</span></a>						
                               <span class="mr_lr "> / </span>
                            </li>
                            <li><span class=""> Tin tức </span></li>
                         </ul>
                     </div>
                  </div>
               </div>
            </div>
        </section>
    
        <section class="p-list-content">
          <div class="container">
            <div class="row">

              <div class="col-12">

                <div class="p-list-product">
                  <div class="row">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-4" v-for="items in post" v-if="loading">

                        <myarticle :name="items.title" :img="items.imageUrl" :desc="items.body" :create="items.created"></myarticle>
                      
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>


        <!-- 2 banners -->
        <section class="nowat-banner mt-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <figure class="position-relative m-0" style="background:url(images/banner-home4.png) no-repeat center center;     background-size: cover;">
    
                        </figure>
                    </div>
                    <div class="col-lg-6 col-12">
                        <figure class="position-relative  m-0" style="background:url(images/banner-home5.png) no-repeat center center;     background-size: cover;">
                        
                        </figure>
                    </div>
                </div>
            </div>
        </section>

        <!-- sp sap ra mat -->
        <section class="block-sp-new block-home" >
            <div class="container">
                <div class="title">
                    <div class="block-line">
                    <img src="images/clock.svg" alt="" class="img-fluid">
    
                    </div>
                    <h2 class="text-uppercase text-center mb-0">
                        Sản phẩm <span class="color-theme"> sắp ra mắt </span>
                    </h2>
                </div>
    
    
    
                <div class="tabs-sp-content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12" v-for="(item,index) in product" v-if="loading">
                    <myproduct v-if="index < 4" :name="item.Name" :price="item.Price" :mprice="item.RetailPrice" :img="item.ThumbnailURL"></myproduct>
                    </div>
                </div>
                </div>
                <div class="text-center d-block">
                <a href="" class="view-all">
                    Xem chi tiết <span class="material-icons fs-14">keyboard_arrow_right</span>
                </a>
                </div>
                </div>
            </section>
      </main>  

      <myfooter></myfooter>
    </div>
     
    
    <script src="js/vue.js"></script>
    <script src="js/httpVueLoader.js"></script>
    <script src="js/jquery-3.4.1.js"></script>
    <script src="libs/bootstrap/bootstrap.min.js"></script>
    <script src="libs/bootstrap/popper.min.js"></script>
    <script src="libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="libs/mmenu/jquery.mmenu.all.js"></script>
    <script src="js/main.js"></script>
    <script>
        var app = new Vue({
          el: "#app",
          data: {
              product: [],
              post : [],
              loading: false,
              fakes: 12
          },
          components: {
            myheader: httpVueLoader("vue_components/header.vue"),
            myfooter: httpVueLoader("vue_components/footer.vue"),
            myproduct: httpVueLoader("vue_components/product-item.vue"),
            myarticle:httpVueLoader("vue_components/article-item.vue")
          },
          mounted() {
            this.$nextTick(() => {
              $(window).bind("load", function () {
                RunFn.mmenu('#menu-mobile');
                RunFn.changeImgProduct();
              });
            });
          },
          methods: {
                getDataProduct: function () {
                    fetch(`json/product.json`)
                        .then(result => result.json())
                        .then(result => {
                            console.log(result);
                            this.product = result;
                            this.loading = true;
                        })
                        .catch(
                            function (error) {
                                console.log('Error: \n', error);
                            }
                        );
                  },
                getDataPost : function() {
                  fetch(`json/post.json`)
                  .then(result => result.json())
                  .then(result => {
                      console.log(result);
                      this.post = result;
                      this.loading = true;
                  })
                  .catch(
                      function (error) {
                          console.log('Error: \n', error);
                      }
                  );
                },
                onClickModal : function(name) {
                  alert("popup modal :" + name );
                }
              },
              created: function () {
                  this.getDataProduct();
                  this.getDataPost();
              }
  
        });
      </script>
  </body>
</html>
