<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="libs/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="libs/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="libs/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="libs/magiczoom/magiczoom.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="in-detail">
    <div id="app">
      <myheader :login = "isLogin" ></myheader>
        <main>
            <div class="p-detail-page">
                <div class="container">
                    <ul class="breadcrumb mb-0 pl-0">
                        <li class="home">
                           <a href="/"><span class="text-black">Trang chủ</span></a>						
                           <span class="mr_lr text-black"> / </span>
                        </li>
                        <li>
                            <a href="">
                                <span class="text-black">Sản phẩm </span>
                            </a>
                            <span class="mr_lr text-black"> / </span>
                        </li>
                        <li><span class="text-black"> Colosseum Mortar </span></li>
                     </ul>
                </div>


                 <div class= "container ">
                    <div class=" p-detail-wrap">
                        <div class=" row">
                            <div class="list-img product-detail-left col-12 col-lg-4">
                              <div class="large-image">
                                <div 
                                    id="product-large"
                                    class="js-carousel owl-theme owl-carousel"
                                    data-loop="false" data-lg-items="1" data-md-items="1" data-nav="false" data-sm-items="1"
                                    data-xs-items="1" data-xxs-items="1"
                                  >
                                  <div class="item">
                                    <a href="javascript:void(0)"
                                      class="active">
                                      <img class="checkurl img-responsive" id="img_01"
                                      src="images/product/big-img-detail.png"
                                      alt="Tên sản phẩm"
                                      data-zoom-image="images/product/big-img-detail.png"
                                      >
                                    </a>
                                  </div>

                                  <div class="item">
                                    <a href="javascript:void(0)"
                                      class="active">
                                      <img class="checkurl img-responsive" id="img_01"
                                      src="https://via.placeholder.com/1000/"
                                      alt="Tên sản phẩm"
                                      data-zoom-image="https://via.placeholder.com/1000/"
                                      >
                                    </a>
                                  </div>


                                  <div class="item">
                                    <a href="javascript:void(0)"
                                      class="active">
                                      <img class="checkurl img-responsive" id="img_01"
                                      src="https://via.placeholder.com/1000/4e4e4e"
                                      alt="Tên sản phẩm"
                                      data-zoom-image="https://via.placeholder.com/1000/4e4e4e"
                                      >
                                    </a>
                                  </div>



                                  <div class="item">
                                    <a href="javascript:void(0)"
                                      class="active">
                                      <img class="checkurl img-responsive" id="img_01"
                                      src="https://via.placeholder.com/1000/00ff"
                                      alt="Tên sản phẩm"
                                      data-zoom-image="https://via.placeholder.com/1000/00ff"
                                      >
                                    </a>
                                  </div>

                              </div>
              
                              </div>
                              
                              <div id="product-gallery"
                                class="js-carousel  owl-theme owl-carousel mb-20"
                                data-loop="false" data-lg-items="4" data-md-items="3" data-nav="false" data-sm-items="3"
                                data-xs-items="3" data-xxs-items="3" >
                                <div class="item">
                                  <a href="javascript:void(0)"
                                    data-image="images/product/big-img-detail.png"
                                    data-zoom-image="images/product/big-img-detail.png" class="active">
                                    <img 
                                      data-img="images/product/big-img-detail.png"
                                      src="images/product/small-img-detail1.png"
                                      alt="Tên sản phẩm">
                                  </a>
                                </div>
                               <div class="item">
                                  <a href="javascript:void(0)"
                                    data-image="https://via.placeholder.com/1000/"
                                    data-zoom-image="https://via.placeholder.com/1000/">
                                    <img 
                                      data-img="https://via.placeholder.com/1000/"
                                      src="images/product/small-img-detail2.png"
                                      alt="Tên sản phẩm">
                                  </a>
                                </div>
                                 <div class="item">
                                  <a href="javascript:void(0)"
                                    data-image="https://via.placeholder.com/1000/4e4e4e"
                                    data-zoom-image="https://via.placeholder.com/1000/4e4e4e">
                                    <img 
                                      data-img="https://via.placeholder.com/1000/4e4e4e"
                                      src="images/product/small-img-detail3.png"
                                      alt="Tên sản phẩm">
                                  </a>
                                </div>
                                 <div class="item">
                                  <a href="javascript:void(0)"
                                    data-image="https://via.placeholder.com/1000/00ff"
                                    data-zoom-image="https://via.placeholder.com/1000/00ff">
                                    <img 
                                      data-img="https://via.placeholder.com/1000/00ff"
                                      src="images/product/small-img-detail4.png"
                                      alt="Tên sản phẩm">
                                  </a>
                                </div>
                              </div>
              
                              
              
                            </div>
              
                            <div class="product-detail-right col-12 col-lg-8">
                                <span class="p-name"> Colosseum Mortal</span>
                                <div class="p-status"> Tình trạng : <span class="color-green">Còn hàng</span> </div>
                                <div class="product-detail-pri">
                                  <span class="p-price"> 599.000đ </span>
                                  <span class="p-old-price"> 999.000đ</span>
                                </div>
              
                                <div class="product-detail-config">
                                  <div class="config-item">
                                    <b class="title">Chọn màu sắc</b>
                                    <div class="config-list ">
                                      <a href="javascript:;" class="config-item active text-black js-change-config">
                                        <span class="config-attr">
                                          <img src="images/product/config-img1.png" alt="">
                                        </span>
                                        <span class="config-name">
                                          Black
                                        </span>
                                      </a>
                                      <a href="javascript:;" class="config-item text-black js-change-config">
                                        <span class="config-attr">
                                          <img src="images/product/config-img2.png" alt="">
                                        </span>
                                        <span class="config-name">
                                          Silver
                                        </span>
                                      </a>
                                      <a href="javascript:;" class="config-item text-black js-change-config">
                                        <span class="config-attr">
                                          <img src="images/product/config-img3.png" alt="">
                                        </span>
                                        <span class="config-name">
                                          Rosegold
                                        </span>
                                      </a>
                                    </div>
                                  </div>
                                </div>
              
                                <div class="product-detail-action">
                                  <b class="title">Chọn số lượng</b>
                                  <div class="d-flex flex-wrap align-items-center">
                                    <div class="select-qty ">
                                      <select name="qty" class="select-qty-custom">
                                          <option value="1">1</option>
                                          <option value="2">2</option>
                                          <option value="3">3</option>
                                          <option value="4">4</option>
                                          <option value="5">5</option>
                                          <option value="6">6</option>
                                          <option value="7">7</option>
                                      </select>
                                      
                                      </div>
              
                                      <a href="" class="btn-buynow"> Mua ngay</a>
                                      <a href="" class="btn-addtocart"> <img src="images/bag-add-18-1.svg" alt=""> Thêm vào giỏ hàng </a>
                                  </div>
                                </div>
              
                                <div class="product-detail-desc">
                                  <b class="title"> Mô tả sản phẩm </b>
                                  <div class="nd mb-20">
                                    <p>Colosseum Mortar được Curnon thiết kế dựa trên sự năng động, phá cách của giới trẻ. Dùng màu đen làm tone chủ đạo, mặt đồng hồ đơn giản làm nổi bật kim giờ với điểm nhấn màu vàng hồng giúp Colosseum Mortar trở nên vô cùng ấn tượng.
                                    </p>
                                    <p>
                                    - Kính Sapphire chống xước vượt trội và bảo vệ mặt đồng hồ luôn sáng bóng
                                    - Chất liệu vỏ: Thép không gỉ 316L - là tiêu chuẩn của một chiếc đồng hồ cao cấp, giúp đồng hồ của bạn bền bỉ với thời gian
                                    - Chống nước 5ATM vượt trội - Thoải mái rửa tay, đi mưa và tham gia những hoạt động thể thao dưới nước ở mức độ trung bình
                                    - Thay dây dễ dàng - Biến đổi phong cách của bạn trong 30 giây mà không cần bất cứ công cụ chuyên dụng nào
                                  </p>
                                  </div>

                                  <b class="title"> Chính sách đổi trả </b>
                                  <div class="nd mb-20">
                                    <p>
                                      1 ĐỔI 1 TRONG VÒNG 3 NGÀY </br>
                                      Kể từ khi nhận hàng đối với những sản phẩm Đồng Hồ
                                    </p>
                                    <p>
ĐIỀU KIỆN ĐỔI: </br>
- Mặt đồng hồ và đáy còn nguyên seal, chưa có dấu hiệu sử dụng, không bị xước hay có các tác động vật lý. </br>
- Phụ kiện dây đồng hồ chưa có dấu hiệu tác động vật lý.</br>
- Hộp sản phẩm còn đầy đủ postcard, voucher, hóa đơn (áp dụng với sản phẩm mua tại store).</br>
-ÁP DỤNG ĐỔI 1 LẦN DUY NHẤT với sản phẩm đồng hồ, bằng giá hoặc cao hơn.</br>
-KHÔNG ÁP DỤNG sản phẩm nguyên giá sang sản phẩm giảm giá hoặc sản phẩm đang có chương trình ưu đãi khác.</br>
-KHÔNG ÁP DỤNG đổi trả với sản phẩm được NON-WAT tặng.</br>
                                    </p>

                                  </div>

                                    <b class="title"> Phương thức thanh toán </b>

                                    <div class="nd mb-20">
                                      NON-WAT cung cấp các phương thức thanh toán an toàn, bạn có thể chọn thanh toán bằng tiền mặt sau khi nhận hàng, ví điện tử Momo, cổng thanh toán VNPAY hoặc chuyển khoản trực tiếp cho chúng tôi.
                                    </div>


                                  </div>
                                </div>
                            </div>  
                    </div>

                    <div class="suggest-product mt-70">
                      <div class="row">
                        <div class="col-12">
                          <div class="d-flex align-items-center justify-content-between title">
                            <h2 class="fs-24 text-uppercase fira-regular">
                              có thể bạn quan tâm
                            </h2>
                            <a href="" class="view-all">
                              Xem tất cả <span class="material-icons fs-14">keyboard_arrow_right</span></a>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="row">
                            <div class="col-lg-3 col-md-6 col-12" v-for="(item,index) in product" v-if="loading">
                              <myproduct v-if="index<4" :name="item.Name" :price="item.Price" :mprice="item.RetailPrice" :img="item.ThumbnailURL"></myproduct>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                 </div>
            </div>
                

        </main>
        <myfooter></myfooter>
        <div id="menu-mobile">
          <ul class="menu">
            <li class="menu-item">
              <a href="" class="menu-link">
              Trang chủ
              </a>
            </li>
            <li class="menu-item">
              <a href="" class="menu-link">
              Giới thiệu
              </a>
            </li>
            <li class="menu-item">
              <a href="" class="menu-link">
              Sản phẩm
              </a>
            </li>
                 
          </ul>
        </div>
    </div>


    <script src="js/vue.js"></script>
    <script src="js/httpVueLoader.js"></script>
    <script src="js/jquery-3.4.1.js"></script>
    <script src="libs/bootstrap/bootstrap.min.js"></script>
    <script src="libs/bootstrap/popper.min.js"></script>
    <script src="libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="libs/mmenu/jquery.mmenu.all.js"></script>
    
    <script src="js/jquery.elevatezoom.js"></script>
    <script src="js/main.js"></script>


    <script>
        var app = new Vue({
          el: "#app",
          data: {
              product: [],
              post : [],
              loading: false,
              fakes: 12
          },
          components: {
            myheader: httpVueLoader("vue_components/header.vue"),
            myfooter: httpVueLoader("vue_components/footer.vue"),
            myproduct: httpVueLoader("vue_components/product-item.vue")
          },
          mounted() {
            this.$nextTick(() => {
              $(window).bind("load", function () {
                RunFn.mmenu('#menu-mobile');
                RunFn.syncOwl('#product-large','#product-gallery');
                RunFn.changeConfig('.js-change-config');

                var owl = $('#product-large');
                // Listen to owl events:
                owl.on('changed.owl.carousel', function(event) {
                    // tim current img
                    //var img = $(slick.$slides[nextSlide]).find("img");
                    var current = event.item.index;
                    console.log(current)
                    var img = $(event.target).find(".owl-item").eq(current).find("img");
                    
                    // remove zoom
                    $('.zoomWindowContainer,.zoomContainer').remove();

                    //console.log(img);
                    //goi lai zoom
                    $(event.target).find(".owl-item").eq(current).find("img").elevateZoom({
                      zoomType: "inner",
                      cursor: "crosshair",
                      zoomWindowFadeIn: 500,
                      zoomWindowFadeOut: 750
                    }); 
                })
                owl.on('translated.owl.carousel', function(event) {
                    // tim current img
                    //var img = $(slick.$slides[nextSlide]).find("img");
                    var current = event.item.index;
                    console.log(current)
                    var img = $(event.target).find(".owl-item").eq(current).find("img");
                    
                    // remove zoom
                    $('.zoomWindowContainer,.zoomContainer').remove();

                    //console.log(img);
                    //goi lai zoom
                    $(event.target).find(".owl-item").eq(current).find("img").elevateZoom({
                      zoomType: "inner",
                      cursor: "crosshair",
                      zoomWindowFadeIn: 500,
                      zoomWindowFadeOut: 750
                    }); 
                })
              });
            });
          },
          methods: {
              getDataProduct: function () {
                  fetch(`json/product.json`)
                      .then(result => result.json())
                      .then(result => {
                          console.log(result);
                          this.product = result;
                          this.loading = true;
                      })
                      .catch(
                          function (error) {
                              console.log('Error: \n', error);
                          }
                      );
                },
            },
            created: function () {
                this.getDataProduct();
            }
        });
      </script>
</body>

</html>