.footer-subscribe {
    padding: 30px 0 ; 
    background: url(../../images/footer-subscribe-bg-pc.png) no-repeat center;
    background-size: cover;
    color : #fff ;
    text-transform: uppercase;
    font-weight: 700;
    h2.title {
        font-size: 26px;
        font-weight: 30px;

    }
    .desc {
        font-size: 18px;
        line-height: 22px;
    }
}