#header {
    background-color : #EE1C23 ;
    .logo {
        display: inline-block;
        margin: 7px 0 6px 0;
        @include col-w(242px);
        img {
            width: 242px;
            height: 69px;
        }
    }
    .header-right {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mb-menu {
        display: none; 
    }
    .menu {
        .menu-item {
            float:left ;
            margin-right: 65px;
            position: relative;
            &.has-child {
                position: relative;
                // &:hover .sub-menu {
                //     transform: scaleY(1) translateX(-50%);
                // }
            }
            a {
                display: inline-block;
                font-size: 14px;
                line-height: 16px;
                color : #fff !important ;

            }
            .root {
                text-transform: uppercase;
                font-weight: bold;
                line-height: 82px;
            }
            .sub-menu {
                position: absolute;
                /* opacity: 0; */
                /* visibility: hidden; */
                top: 70%;
                left: 50%;
                background-color: #ffffff;
                width: calc( 100% + 10px);
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
                z-index: 9999;
                padding: 12px 20px 12px 24px;
                transform: scaleY(0) translateX(-50%);
                transform-origin: top;
                border-radius: 3px;
                a {
                    color: #333 !important ;
                    font-size: 14px;
                    line-height: 22px;
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: 5px;
                    top: -6px;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-bottom: 8px solid #ffffff;
                    z-index: 11;
                    bottom: 100%;
                }
                .sub-menu2 {
                    position: relative;
                    padding: 2px 0px; 
                    &:before {
                        content: '\f0da';
                        font-family: 'Font Awesome 5 Pro';
                        font-weight: 600;
                        color: #EE1C23;
                        position: absolute;
                        left: -10px;
                        opacity: 0;
                        visibility: hidden;
                    }
                    &:hover {
                        color: #EE1C23 !important;
                        font-weight: bold;
                        &::before {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
           
            &:after {
                content: '' ;
                position: absolute ;
                bottom: 2px; 
                width: 90%;
                left: 5%;
                height: 4px;
                background: #FFFFFF;
                border-radius: 30px;
                transition: transform 0.4s linear;
                transform: scale(0);
            }
            &:hover:after , &.current:after{
                transform: scale(1);
            }
        }
    }
    .header-hotline {
        background: #EE1C23;
        border: 1px solid #FFFFFF;
        border-radius: 60px;
        font-size: 14px;
        line-height: 16px;
        color : #fff !important;
        font-weight: bold;
        padding: 12px 22px 11px 21px;
        i {
            font-size: 20px;
            transform: rotate(35deg);
        }
    }
}

@media (max-width: 1199px) {
    #header .menu .menu-item {
        margin-right: 28px;
    }
    #header .header-right .menu {
        padding-left: 0;
    }
}

@media ( max-width: 991px ){    
    #header .logo {
        @include col-w(184px);
        margin: 9px auto;
        img {
            width: 184px;
            height: 41px;
        }
    }
    #header .header-right {
        .menu {
          
            .menu-item {
                margin-right: 14px;
                .root {
                    line-height: 65px;
                }
                a {
                    font-size: 12px;
                }
            }
        }
    }
    #header .header-hotline {
        font-size: 12px;
        padding: 12px 9px;
        i {
            font-size: 15px;
        }
    }
}

@media ( max-width: 767px ) {
    #header .mb-menu{
        display:flex;
        flex-direction:column;
        z-index:200;
        overflow:hidden;
        position: absolute;
        left: 21px;
        .mobile_menu_icon{
            position:relative;
            width:31px;
            height:4px;
            background-color:#fff;
            border-radius: 3px;
            margin:2px 0;
            overflow:hidden;
            transition:all .25s ease-in-out;
        }
        &.opened {
            .menu_icon_1{
                transform:translateY(8px) rotate(-45deg);
            }
            .menu_icon_2{
                transform:translateY(0) translateX(500px);
            }
            .menu_icon_3{
                transform:translateY(-8px) rotate(45deg);
            }
        }
    }
    #header .header-right {
        display: table;
        margin: 0;
        left: -280px;
        position: absolute;
        top: 59px;
        width: 280px;
        bottom: 0;
        height: 100%;
        padding: 10px;
        margin: 1px 0 0 0;
        background: #fff;
        z-index: 9999;
        overflow: hidden;
        transition: all 0.2s ease-in;
        padding-bottom: 150px;
        &.active {
            display: block;
            left: 0px;
            box-shadow: 4px 4px 12px -8px #000;
        }
        .menu {
            width: 100%;
            display: inline-block;
            padding-bottom: 10px;
            .menu-item {
                width: 100%;
                margin-right: 0;
                a {
                    line-height: unset !important;
                    color: #333 !important;
                    padding: 10px 0;
                    padding: 9px 10px;
                    font-size: 13px;
                    position: relative;
                    display: block;
                }
                &.has-child:after {
                    content: "\f078";
                    font-family: 'Font Awesome 5 Pro';
                    right: 0;
                    top: 0;
                    left: auto;
                    line-height: 34px;
                    width: 40px;
                    text-align: center;
                    font-size: 11px;
                    height: 34px;
                    transform: translate(0,0);
                }
                i {
                    display: none; 
                }
            }
        }
    }
    #header .header-hotline {
        width: 100%;
        display: block;
        text-align: center;
    }
    #header .menu .menu-item .sub-menu {
        background: #eee;
        display: none;
        position: relative;
        top: auto;
        left: 0;
        transform: translate(0,0);
        padding: 10px 15px;
        width: 100%;
        box-shadow: none;
    }
}

@media screen and (min-width: 768px){
    #header .menu .menu-item:hover .sub-menu {
        transform: scaleY(1) translateX(-50%);
    }
}