.block-hoidap {
    padding : 80px 0 ;
    .hoidap-img {
        @include col-w(560px); 
        text-align: center;
    }
    .hoidap-content {
        padding-left : 10px;
        max-width: 672px;
        margin: 0 auto;
    }
    h2.title {
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        text-transform: capitalize;
        color: #010414;
        margin-bottom: 25px;
        text-align: left;
    }
    .faq-wrap {
        .faq__detail {
            border-bottom: 1px solid #e7e7e9;
            padding: 20px 0;
        }
        .faq__detail[open] > .faq__summary , .faq__detail:checked > .faq__summary{ 
            color : #EE1C23 ;
        }
        .faq__summary {
            list-style: none;
            display: block;
            padding: 0;
            position: relative;
            text-align: left;
            outline: none;
            &:before {
                content: '' ;
                position: absolute;
                display: inline-block;
                width: 12px;
                height: 7px;
                top: 8px;
                background: url(../images/icon-arrow-up.svg) no-repeat center;
            }
            .faq__question {
                padding-left: 25px;
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                display: block;
                text-transform: capitalize;
            }
        }
        .faq__summary::-webkit-details-marker {
            display: none;
        }
        .faq__text {
            
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 0;
            padding: 0 25px;
            
            padding-top: 20px;
        }
        details[open] .faq__summary:before {
            content: '' ;
            position: absolute;
            display: inline-block;
            width: 12px;
            height: 7px;
            top: 8px;
            background: url(../images/icon-arrow-down.svg) no-repeat center;
        }
    }
    .faq-wrap {
        .accordion-group{
            border-bottom: 1px solid #e7e7e9;
            padding: 20px 0;
        }
        .accordion-heading a{
            display: block;
            position: relative;
            text-align: left;
            padding-left: 25px;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            text-transform: capitalize;
            color : #222222;
        }
    
        .faq__text {
            
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 0;
            padding: 0 25px;
            
            padding-top: 20px;
        }
    
        .accordion-toggle.collapsed:after {
            content: '';
            position: absolute;
            display: inline-block;
            width: 12px;
            height: 7px;
            left: 0px;
            top: 8px;
            background: url(../images/icon-arrow-up.svg) no-repeat center;
        }
        .accordion-toggle:after {    
            content: '' ;
            position: absolute;
            display: inline-block;
            width: 12px;
            height: 7px;
            left: 0;
            top: 8px;
            background: url(../images/icon-arrow-down.svg) no-repeat center;
        }
    }
}

@media( max-width: 992px) {
    .block-hoidap {
        padding: 50px 0 ; 
        .hoidap-img, .hoidap-content{
            @include col-w(100%);
        
        }
        .hoidap-img {
            text-align: center;
            padding: 0 10px; 
            margin-bottom: 45px;
        }
    }
}

@media ( max-width: 768px) {
    .block-hoidap {
        h2.title {
            padding: 0 15px;
        }
    }
}
@media (max-width: 480px) {
    .block-hoidap .hoidap-img {
        margin-bottom: 17px;
        padding: 0 15px; 
    }
    .block-hoidap .hoidap-content {
        padding-left: 0px;
    }
    .block-hoidap .faq-wrap .faq__summary .faq__question {
        padding-left: 20px;
    }
    .block-hoidap .faq-wrap .faq__text {
        line-height: 20px;
        padding: 0 19px;
        padding-top: 17px;
    }
}

@media ( max-width: 375px) {
    .block-hoidap {
        h2.title {
            font-size: 24px;
            line-height: 30px;
        }
        .faq-wrap .faq__summary .faq__question {
            font-size: 16px;
            
        }
        .faq-wrap .faq__text {
            font-size: 14px;
        }
    }
    
}