#footer {
    position: fixed;
    bottom: 0 ;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.08);

    padding: 16px;
    background: #fff ;
    .footer-content {
        @extend .d-flex, .flex-wrap;
        .btn-custom {
            flex : 1 ;
        }
    }
}

.btn-custom {
    display: inline-block;
    width: 100%;
    background: #4D7FF8;
    border-radius: 4px;
    border: 1px solid #4D7FF8;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 48px;
    color : #fff ;
    &:hover {
        text-decoration: none;
        color : #4D7FF8;
        background : #fff ;
    }
    &.btn-nocolor {
        color: #4D7FF8;
        background : #fff ;
        &:hover {
            background : #4D7FF8;
            color : #fff ;
        }
    }
    
}