.cart-none-wrap {
    padding: 76px 0 47px 0 ;
    .alert-text {
        font-size: 24px;
        line-height: 26px;
        text-align: center;
        margin-top: 30px;
    }
    .noti {
        font-size: 16px;
        line-height: 26px;
        color: #6F6F6F;
        margin-top: 10px;
    }
    .continue-shop {
        margin-top: 30px;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;
        background: #31A4F7;
        border-radius: 5px;
        padding: 17px 17px 13px 23px;
    }
}





