.block-home {
    padding: 40px 54px ;
    border: 1px solid #E0E9F1;
    svg {
        display: block;
        height: auto;
    }
    .block-home-title {
        margin-bottom: 40px;
    }
    .title {
        font-size: 30px;
        line-height: 24px;
        
    }
}