.block-home {
    padding: 40px 54px ;
    border: 1px solid #E0E9F1;
    svg {
        display: block;
        height: auto;
    }
    .block-home-title {
        margin-bottom: 40px;
    }
    .title {
        font-size: 30px;
        line-height: 24px;
    }
    .show-more {
        background: #FFFFFF;
        border: 1px solid #A3BAD0;
        border-radius: 3px;
        
        font-size: 14px;
        line-height: 24px;
        color: #708BA4;
        padding: 13px 24px 10px 35px;
    }
}


.category-item {
    flex: 0 0 184px;
    max-width: 184px;
    background: #FFFFFF ;
    
    border: 1px solid #D0E0EE;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    .category-name {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        display: block;
        text-align: center;
    }
    .category-img {
        display: inline-block;
        width: 100%;
        position: relative;
        padding-top: 60%;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            right: 0;
            bottom: 0;
            transform: translate(-50%,-50%);
        }
    }
    &:hover {
        background: #F5F9FF;
    }
}

.block-list-banner  {
    img {
        width: 100%; 
    }
}

@media ( max-width: 768px ) {
    .category-item {
        @include col-w(100%);
    }
    .block-home{
        padding: 15px;
        .block-home-title {
            margin-bottom: 20px;
        }
        .title {
            font-size: 20px;
        }
    }
}


