.large-image {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    a {
        display: block;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
    }
}

#product-gallery .owl-item .item a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: 75px;
    width: 75px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    img {
        width: auto;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
        padding: 2px; 
    }
    &.synced {
        border: 2px solid #FF9500; 
    }
}