<main>
    <section class="home-slide">
        <div class="owl-carousel banner-slide" id="homepage-slider">
            <div class="item">
                <a href="#">
                    <img class="img-fluid" src="template/template1/images/banner.jpg" />
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img class="img-fluid" src="template/template1/images/banner.jpg" />
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img class="img-fluid" src="template/template1/images/banner.jpg" />
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img class="img-fluid" src="template/template1/images/banner.jpg" />
                </a>
            </div>
        </div>
    </section>

    <!-- End Adv -->
    <!-- ---------Sell---------- -->
    <div class="other-block">
        <div class="sell">
            <div class="container">
                <div class="row">
                    <!-- Left -->
                    <div class="col-4">
                        <div class="sell-hover">
                            <div class="border-effect">
                                <a href="#">
                                    GIAO HÀNG MIỄN PHÍ
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End-Left -->
                    <!-- ==Mid== -->
                    <div class="col-4">
                        <div class="sell-hover">
                            <div class="border-effect">
                                <a href="#">
                                    THANH TOÁN LINH HOẠT
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- ==End Mid== -->
                    <!-- Right -->
                    <div class="col-4">
                        <div class="sell-hover">
                            <div class="border-effect">
                                <a href="#">
                                    BẢO HÀNH TẠI NƠI SỬ DỤNG
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End right -->
                </div>
            </div>
        </div>
    </div>
    <div class="collection-product1-duc">
        <div class="title text-center text-uppercase">
            <h3 class="orange text-50 ">Giá shock mỗi ngày</h3>
        </div>
        <div class="container">
            <div class="row">
                <!-- Sản Phẩm -->
                <div class="cate-list">
                    <div class="san-pham-list">
                        <a href="#" class="active">
                            <div class="san-pham-list-img-1 san-pham-list-item">
                                <img src="{#IMAGE_PATH#}dien-may.png" />
                            </div>
                            <p>ĐIỆN MÁY</p>
                        </a>
                        <a href="#">
                            <div class="san-pham-list-img-2 san-pham-list-item">
                                <img src="{#IMAGE_PATH#}noi-that.png" />
                            </div>
                            <p>NỘI THẤT</p>
                        </a>
                        <a href="#">
                            <div class="san-pham-list-img-3 san-pham-list-item">
                                <img src="{#IMAGE_PATH#}tieu-dung-nhanh.png" />
                            </div>
                            <p>TÍN DỤNG NHANH</p>
                        </a>
                        <a href="#">
                            <div class="san-pham-list-img-4 san-pham-list-item">
                                <img src="{#IMAGE_PATH#}dich-vu.png" />
                            </div>
                            <p>DỊCH VỤ</p>
                        </a>
                        <a href="#">
                            <div class="san-pham-list-img-5 san-pham-list-item">
                                <img src="{#IMAGE_PATH#}xem-het.png" />
                            </div>
                            <p>XEM HẾT</p>
                        </a>
                    </div>
                </div>
                <!-- End Sản Phẩm  -->
            </div>
        </div>
        <!-- Danh mục sản phẩm -->
        <div class="danh-muc-san-pham">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="product-item">
                            <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                            <div class="product-info">
                                <a href="#" class="p-brand"><b>HItachi</b> </a>
                                <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                                <span style="color: red;" class="p-price">16.490.000đ</span>
                                <div class="giam-gia">-9% </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                            <div class="product-info">
                                <a href="#" class="p-brand"><b>HItachi</b> </a>
                                <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                                <span style="color: red;" class="p-price">16.490.000đ</span>
                                <div class="giam-gia">-9% </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                            <div class="product-info">
                                <a href="#" class="p-brand"><b>HItachi</b> </a>
                                <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                                <span style="color: red;" class="p-price">16.490.000đ</span>
                                <div class="giam-gia">-9% </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                            <div class="product-info">
                                <a href="#" class="p-brand"><b>HItachi</b> </a>
                                <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                                <span style="color: red;" class="p-price">16.490.000đ</span>
                                <div class="giam-gia">-9% </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                            <div class="product-info">
                                <a href="#" class="p-brand"><b>HItachi</b> </a>
                                <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                                <span style="color: red;" class="p-price">16.490.000đ</span>
                                <div class="giam-gia">-9% </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                            <div class="product-info">
                                <a href="#" class="p-brand"><b>HItachi</b> </a>
                                <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                                <span style="color: red;" class="p-price">16.490.000đ</span>
                                <div class="giam-gia">-9% </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                            <div class="product-info">
                                <a href="#" class="p-brand"><b>HItachi</b> </a>
                                <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                                <span style="color: red;" class="p-price">16.490.000đ</span>
                                <div class="giam-gia">-9% </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                            <div class="product-info">
                                <a href="#" class="p-brand"><b>HItachi</b> </a>
                                <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                                <span style="color: red;" class="p-price">16.490.000đ</span>
                                <div class="giam-gia">-9% </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                            <div class="product-info">
                                <a href="#" class="p-brand"><b>HItachi</b> </a>
                                <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                                <span style="color: red;" class="p-price">16.490.000đ</span>
                                <div class="giam-gia">-9% </div>
                            </div>
                        </div>
                        <div class="product-item">
                            <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                            <div class="product-info">
                                <a href="#" class="p-brand"><b>HItachi</b> </a>
                                <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                                <span style="color: red;" class="p-price">16.490.000đ</span>
                                <div class="giam-gia">-9% </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Danh mục sản phẩm -->
    </div>


    <!-- Banner-mid -->
    <div class="banner-homepage">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="banner-left">
                        <a href="#"><img src="template/template1/images/banner-2.jpg" style="width: 100%;"></a>
                    </div>
                </div>
                <!-- ------------------ -->
                <div class="col-6">
                    <div class="banner-right">
                        <a href="#"><img src="template/template1/images/banner-3.jpg " style="width: 100%;"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner-mid -->


    <!-- collection-product-home -->
    <div class="collection-product-home">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="collection-product-cate d-inline-block w-100">
                        <div class="collection-product-home-title"> ĐIỆN MÁY</div>
                        <ul class="clearfix collection-product-home-list d-none d-xl-block float-left list-unstyled m-0 ml-4">
                            <li>
                                <a href="" class="view-all">Xem tất cả
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/">Âm thanh</a>
                            </li>

                            <li>
                                <a href="/">Điện tử</a>
                            </li>

                            <li>
                                <a href="/">Điện lạnh</a>
                            </li>

                            <li>
                                <a href="/">Đồ gia dụng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="collection-product-home-slide">
            <div class="container">
                <div class="owl-carousel owl-theme collection-home" id="collection-1">
                    <div class="product-item">
                        <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                        <div class="product-info">
                            <a href="#" class="p-brand"><b>HItachi</b> </a>
                            <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                            <span style="color: red;" class="p-price">16.490.000đ</span>
                            <div class="giam-gia">-9% </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                        <div class="product-info">
                            <a href="#" class="p-brand"><b>HItachi</b> </a>
                            <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                            <span style="color: red;" class="p-price">16.490.000đ</span>
                            <div class="giam-gia">-9% </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                        <div class="product-info">
                            <a href="#" class="p-brand"><b>HItachi</b> </a>
                            <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                            <span style="color: red;" class="p-price">16.490.000đ</span>
                            <div class="giam-gia">-9% </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                        <div class="product-info">
                            <a href="#" class="p-brand"><b>HItachi</b> </a>
                            <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                            <span style="color: red;" class="p-price">16.490.000đ</span>
                            <div class="giam-gia">-9% </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                        <div class="product-info">
                            <a href="#" class="p-brand"><b>HItachi</b> </a>
                            <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                            <span style="color: red;" class="p-price">16.490.000đ</span>
                            <div class="giam-gia">-9% </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                        <div class="product-info">
                            <a href="#" class="p-brand"><b>HItachi</b> </a>
                            <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                            <span style="color: red;" class="p-price">16.490.000đ</span>
                            <div class="giam-gia">-9% </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- collection-product-home -->
    <div class="collection-product-home">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="collection-product-cate d-inline-block w-100">
                        <div class="collection-product-home-title"> ĐIỆN MÁY</div>
                        <ul class="clearfix collection-product-home-list d-none d-xl-block float-left list-unstyled m-0 ml-4">
                            <li>
                                <a href="" class="view-all">Xem tất cả
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/">Âm thanh</a>
                            </li>

                            <li>
                                <a href="/">Điện tử</a>
                            </li>

                            <li>
                                <a href="/">Điện lạnh</a>
                            </li>

                            <li>
                                <a href="/">Đồ gia dụng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="collection-product-home-slide">
            <div class="container">
                <div class="owl-carousel owl-theme collection-home" id="collection-1">
                    <div class="product-item">
                        <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                        <div class="product-info">
                            <a href="#" class="p-brand"><b>HItachi</b> </a>
                            <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                            <span style="color: red;" class="p-price">16.490.000đ</span>
                            <div class="giam-gia">-9% </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                        <div class="product-info">
                            <a href="#" class="p-brand"><b>HItachi</b> </a>
                            <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                            <span style="color: red;" class="p-price">16.490.000đ</span>
                            <div class="giam-gia">-9% </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                        <div class="product-info">
                            <a href="#" class="p-brand"><b>HItachi</b> </a>
                            <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                            <span style="color: red;" class="p-price">16.490.000đ</span>
                            <div class="giam-gia">-9% </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                        <div class="product-info">
                            <a href="#" class="p-brand"><b>HItachi</b> </a>
                            <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                            <span style="color: red;" class="p-price">16.490.000đ</span>
                            <div class="giam-gia">-9% </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                        <div class="product-info">
                            <a href="#" class="p-brand"><b>HItachi</b> </a>
                            <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                            <span style="color: red;" class="p-price">16.490.000đ</span>
                            <div class="giam-gia">-9% </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                        <div class="product-info">
                            <a href="#" class="p-brand"><b>HItachi</b> </a>
                            <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                            <span style="color: red;" class="p-price">16.490.000đ</span>
                            <div class="giam-gia">-9% </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- collection-product-home -->
    <div class="collection-product-home">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="collection-product-cate d-inline-block w-100">
                        <div class="collection-product-home-title"> ĐIỆN MÁY</div>
                        <ul class="clearfix collection-product-home-list d-none d-xl-block float-left list-unstyled m-0 ml-4">
                            <li>
                                <a href="" class="view-all">Xem tất cả
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                            <li>
                                <a href="/">Âm thanh</a>
                            </li>

                            <li>
                                <a href="/">Điện tử</a>
                            </li>

                            <li>
                                <a href="/">Điện lạnh</a>
                            </li>

                            <li>
                                <a href="/">Đồ gia dụng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="collection-product-home-slide">
            <div class="container">
                <div class="owl-carousel owl-theme collection-home" id="collection-1">
                    <div class="product-item">
                        <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                        <div class="product-info">
                            <a href="#" class="p-brand"><b>HItachi</b> </a>
                            <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                            <span style="color: red;" class="p-price">16.490.000đ</span>
                            <div class="giam-gia">-9% </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                        <div class="product-info">
                            <a href="#" class="p-brand"><b>HItachi</b> </a>
                            <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                            <span style="color: red;" class="p-price">16.490.000đ</span>
                            <div class="giam-gia">-9% </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                        <div class="product-info">
                            <a href="#" class="p-brand"><b>HItachi</b> </a>
                            <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                            <span style="color: red;" class="p-price">16.490.000đ</span>
                            <div class="giam-gia">-9% </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                        <div class="product-info">
                            <a href="#" class="p-brand"><b>HItachi</b> </a>
                            <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                            <span style="color: red;" class="p-price">16.490.000đ</span>
                            <div class="giam-gia">-9% </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                        <div class="product-info">
                            <a href="#" class="p-brand"><b>HItachi</b> </a>
                            <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                            <span style="color: red;" class="p-price">16.490.000đ</span>
                            <div class="giam-gia">-9% </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                        <div class="product-info">
                            <a href="#" class="p-brand"><b>HItachi</b> </a>
                            <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                            <span style="color: red;" class="p-price">16.490.000đ</span>
                            <div class="giam-gia">-9% </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>