<div class="collection-product1-duc">
    <div class="title text-center text-uppercase">
        <h3 class="orange text-50 ">Giá shock mỗi ngày</h3>
    </div>
    <div class="container">
        <div class="row">
            <!-- Sản Phẩm -->
            <div class="cate-list">
                <div class="san-pham-list">
                    <a href="#" class="active">
                        <div class="san-pham-list-img-1 san-pham-list-item">
                            <img src="{#IMAGE_PATH#}dien-may.png" />
                        </div>
                        <p>ĐIỆN MÁY</p>
                    </a>
                    <a href="#">
                        <div class="san-pham-list-img-2 san-pham-list-item">
                            <img src="{#IMAGE_PATH#}noi-that.png" />
                        </div>
                        <p>NỘI THẤT</p>
                    </a>
                    <a href="#">
                        <div class="san-pham-list-img-3 san-pham-list-item">
                            <img src="{#IMAGE_PATH#}tieu-dung-nhanh.png" />
                        </div>
                        <p>TÍN DỤNG NHANH</p>
                    </a>
                    <a href="#">
                        <div class="san-pham-list-img-4 san-pham-list-item">
                            <img src="{#IMAGE_PATH#}dich-vu.png" />
                        </div>
                        <p>DỊCH VỤ</p>
                    </a>
                    <a href="#">
                        <div class="san-pham-list-img-5 san-pham-list-item">
                            <img src="{#IMAGE_PATH#}xem-het.png" />
                        </div>
                        <p>XEM HẾT</p>
                    </a>
                </div>
            </div>
            <!-- End Sản Phẩm  -->
        </div>
    </div>



    <!-- Danh mục sản phẩm -->
    <div class="danh-muc-san-pham">
        <div class="container">
            <div class="row">
                <div class="col-12">
                <div class="product-item">
                    <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                    <div class="product-info">
                        <a href="#" class="p-brand"><b>HItachi</b> </a>
                        <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                        <span style="color: red;" class="p-price">16.490.000đ</span>
                        <div class="giam-gia">-9% </div>
                    </div>
                </div>
                <div class="product-item">
                    <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                    <div class="product-info">
                        <a href="#" class="p-brand"><b>HItachi</b> </a>
                        <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                        <span style="color: red;" class="p-price">16.490.000đ</span>
                        <div class="giam-gia">-9% </div>
                    </div>
                </div>
                <div class="product-item">
                    <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                    <div class="product-info">
                        <a href="#" class="p-brand"><b>HItachi</b> </a>
                        <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                        <span style="color: red;" class="p-price">16.490.000đ</span>
                        <div class="giam-gia">-9% </div>
                    </div>
                </div>
                <div class="product-item">
                    <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                    <div class="product-info">
                        <a href="#" class="p-brand"><b>HItachi</b> </a>
                        <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                        <span style="color: red;" class="p-price">16.490.000đ</span>
                        <div class="giam-gia">-9% </div>
                    </div>
                </div>
                <div class="product-item">
                    <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                    <div class="product-info">
                        <a href="#" class="p-brand"><b>HItachi</b> </a>
                        <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                        <span style="color: red;" class="p-price">16.490.000đ</span>
                        <div class="giam-gia">-9% </div>
                    </div>
                </div>
                <div class="product-item">
                    <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                    <div class="product-info">
                        <a href="#" class="p-brand"><b>HItachi</b> </a>
                        <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                        <span style="color: red;" class="p-price">16.490.000đ</span>
                        <div class="giam-gia">-9% </div>
                    </div>
                </div>
                <div class="product-item">
                    <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                    <div class="product-info">
                        <a href="#" class="p-brand"><b>HItachi</b> </a>
                        <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                        <span style="color: red;" class="p-price">16.490.000đ</span>
                        <div class="giam-gia">-9% </div>
                    </div>
                </div>
                <div class="product-item">
                    <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                    <div class="product-info">
                        <a href="#" class="p-brand"><b>HItachi</b> </a>
                        <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                        <span style="color: red;" class="p-price">16.490.000đ</span>
                        <div class="giam-gia">-9% </div>
                    </div>
                </div>
                <div class="product-item">
                    <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                    <div class="product-info">
                        <a href="#" class="p-brand"><b>HItachi</b> </a>
                        <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                        <span style="color: red;" class="p-price">16.490.000đ</span>
                        <div class="giam-gia">-9% </div>
                    </div>
                </div>
                <div class="product-item">
                    <a href="#" class="p-img"><img src="{#IMAGE_PATH#}product1-img.png"></a>
                    <div class="product-info">
                        <a href="#" class="p-brand"><b>HItachi</b> </a>
                        <a href="#" class="p-name">Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít</a>
                        <span style="color: red;" class="p-price">16.490.000đ</span>
                        <div class="giam-gia">-9% </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Danh mục sản phẩm -->
</div>


<!-- Banner-mid -->
<div class="Banner-mid">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="banner-left">
                    <a href="#"><img src="template/template1/images/banner-2.jpg" style="width: 100%;"></a>
                </div>
            </div>
            <!-- ------------------ -->
            <div class="col-6">
                <div class="banner-right">
                    <a href="#"><img src="template/template1/images/banner-3.jpg " style="width: 100%;"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner-mid -->


<!-- Điện máy -->
<div class="dien-may">
    <div class="container">
        <div class="row">
            <div class="col-1">
                <div class="dien-may-title"> ĐIỆN MÁY</div>
            </div>
            <div class="col-11">
                <div class="dien-may-list">
                    <ul>
                        <li><a href="#">XEM HẾT <i class="fas fa-angle-right"></i></a></li>
                        <li><a href="#">ĐIỆN TỬ</a></li>
                        <li><a href="#">ĐIỆN LẠNH </a></li>
                        <li><a href="#">ĐỒ GIA DỤNG</a></li>
                        <li><a href="#">ÂM THANH </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="danh-muc-san-pham">
    <div class="container">
        <div class="owl-carousel owl-theme news">
            <div class="item">
                <a href="#"><img src="template\template1\images\tu-lanh.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>

            <div class="item">
                <a href="#"><img src="template\template1\images\may-giat.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>

            <div class="item">
                <a href="#"><img src="template\template1\images\may-giat-1.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>

            <div class="item">
                <a href="#"><img src="template\template1\images\may-giat-2.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>

            <div class="item">
                <a href="#"><img src="template\template1\images\may-giat-3.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>
            <div class="item">
                <a href="#"><img src="template\template1\images\may-giat-4.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Điện máy -->


<!--   Nội thất  -->
<div class="dien-may">
    <div class="container">
        <div class="row">
            <div class="col-1">
                <div class="dien-may-title"> NỘI THẤT</div>
            </div>
            <div class="col-11">
                <div class="dien-may-list">
                    <ul>
                        <li><a href="#">XEM HẾT <i class="fas fa-angle-right"></i></a></li>
                        <li><a href="#">PHÒNG NGỦ</a></li>
                        <li><a href="#">PHÒNG KHÁCH </a></li>
                        <li><a href="#">PHÒNG LÀM VIỆC </a></li>
                        <li><a href="#">PHÒNG TRẺ EM</a></li>
                        <li><a href="#">PHÒNG BẾP </a></li>
                        <li><a href="#">PHÒNG TẮM</a></li>
                        <li><a href="#">SẢNH VÀ LỐI VÀO</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="danh-muc-san-pham">
    <div class="container">
        <div class="owl-carousel owl-theme news">
            <div class="item">
                <a href="#"><img src="template\template1\images\ke.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>

            <div class="item">
                <a href="#"><img src="template\template1\images\dh.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>

            <div class="item">
                <a href="#"><img src="template\template1\images\l.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>

            <div class="item">
                <a href="#"><img src="template\template1\images\goi.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>

            <div class="item">
                <a href="#"><img src="template\template1\images\ghe.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>
            <div class="item">
                <a href="#"><img src="template\template1\images\ke.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Nội thất -->


<!-- Tiêu dùng nhanh -->
<div class="dien-may">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="tieu-dung"> TIÊU DÙNG NHANH</div>
            </div>
            <div class="col-10">
                <div class="dien-may-list">
                    <ul>
                        <li><a href="#">XEM HẾT <i class="fas fa-angle-right"></i></a></li>
                        <li><a href="#">THỰC PHẨM</a></li>
                        <li><a href="#">THỜI TRANG</a></li>
                        <li><a href="#">HOÁ MỸ PHẨM</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="danh-muc-san-pham">
    <div class="container">
        <div class="owl-carousel owl-theme news">
            <div class="item">
                <a href="#"><img src="template\template1\images\mp-1.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>

            <div class="item">
                <a href="#"><img src="template\template1\images\mp-2.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>

            <div class="item">
                <a href="#"><img src="template\template1\images\mp-3.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>

            <div class="item">
                <a href="#"><img src="template\template1\images\mp-4.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>

            <div class="item">
                <a href="#"><img src="template\template1\images\mp-5.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>
            <div class="item">
                <a href="#"><img src="template\template1\images\mp-1.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Tiêu dùng nhanh -->


<!-- Dịch vụ -->
<div class="dien-may">
    <div class="container">
        <div class="row">
            <div class="col-1">
                <div class="dien-may-title"> DỊCH VỤ</div>
            </div>
            <div class="col-11">
                <div class="dich-vu">
                    <ul>
                        <li><a href="#">XEM HẾT <i class="fas fa-angle-right"></i></a></li>
                        <li><a href="#">VUI CHƠI - GIẢI TRÍ</a></li>
                        <li><a href="#">PHÒNG TẬP</a></li>
                        <li><a href="#">CHĂM SÓC SẮC ĐẸP</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="danh-muc-san-pham">
    <div class="container">
        <div class="owl-carousel owl-theme news">
            <div class="item">
                <a href="#"><img src="template\template1\images\dv-1.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>

            <div class="item">
                <a href="#"><img src="template\template1\images\dv-1.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>

            <div class="item">
                <a href="#"><img src="template\template1\images\dv-1.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>

            <div class="item">
                <a href="#"><img src="template\template1\images\dv-1.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>

            <div class="item">
                <a href="#"><img src="template\template1\images\dv-1.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>
            <div class="item">
                <a href="#"><img src="template\template1\images\dv-1.jpg" style="border-radius: 10px 10px 0px 0px"></a>
                <div class="danh-muc-san-pham-text">
                    <a href="#"><b>HItachi</b><br>
                        Tủ lạnh Hitachi R - SG37BPG - Màu GBK/ST/GS- 365 lít<br></a>
                    <span style="color: red;">16.490.000đ</span>
                </div>
            </div>
        </div>
    </div>
</div>