{if="$send_order_status=='success'"}
{if="$user_info.pay_method.id==3"}
          {include="cart/nganluong"}
<style>
.list-content li.active .boxContent{max-width:90% !important;}
</style>
      {else}
                <h3>Cảm ơn quý khách đã đặt hàng</h3>
                <p>Đơn hàng của quý khách đã được gửi thành công. Bộ phận chăm sóc khách hàng của website sẽ liên hệ lại với quý khách thông qua đơn hàng để có hướng dẫn thêm. </p>
                <p>Cảm ơn quý khách !</p>
                <br />

               
{/if}
                {else}

                <h3>Có lỗi xảy ra khi gửi đơn hàng</h3>
                <p>Đơn hàng của quý khách chưa được gửi. Vui lòng quay lại giỏ hàng để thử gửi lại hoặc liên hệ với chúng tôi để được trợ giúp. </p>
                <p>Cảm ơn quý khách !</p>
                <br />

            {/if}