<div id="breadcrumb">
    <div class="container">
        <div class="d-flex">
            <div class="item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="/" itemprop="url" class="nopad-l">
                    <span itemprop="title">Trang chủ</span>
                </a>
            </div>
            {loop="$product_info.productPath.0.path"}
            <div class="item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="{$value.url}" itemprop="url">
                    {if="$counter==sizeof($product_info.productPath.0.path) - 1"}
                    <span itemprop="title">{$value.name}</span>
                    {else}
                    <span itemprop="title">{$value.name}</span>
                    {/if}
                </a>
            </div>
            {/loop}
        </div>
    </div>
</div>
<!--breadcrumb-->
<div class="c-cart-01">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-lg-3 col-lg-6 py-5">
                <div class="row pt-3 pb-3">
                    <div class="col-md-6">
                        <a href="/" class="text-blue"><i class="fa fa-angle-left"></i> Mua thêm sản phẩm khác</a>
                    </div>
                    <div class="col-md-6 text-right">
                        <span>Giỏ hàng của bạn</span>
                    </div>
                </div>
                <div class="cart-container shadow-10 bg-white">
                    <div class="product_list p-3">
                        <div class="product-cart row">
                            <div class="col-md-2">
                                <img class="img-fluid" src="//via.placeholder.com/350x300" alt="Samsung Led UA43MU6100KXXV43 Inch">
                                <a class="text-black-50 text-12" href="javascript:if(confirm("Bạn muốn xóa sản phẩm này?")==true){alert("ok")}">
                                    <i class="fas fa-times-circle"></i> Xóa
                                </a>
                            </div>
                            <div class="col-md-6 pro-info">
                                <a href="#" class="p-name"><b>Samsung Led UA43MU6100KXXV43 Inch</b></a>
                            </div>
                            <div class="col-md-4 text-right  text-center-sm">
                                <label class="text-red"><span id="price_product_0">11.990.000</span> đ</label>
                                <div class="num-up-down">
                                    <span class="down">-</span>
                                    <input class="text-center" name="quantity_product_0" id="quantity_product_0"
                                        value="1" size="5">
                                    <span class="up">+</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-cart row">
                            <div class="col-md-2">
                                <img class="img-fluid" src="//via.placeholder.com/350x300" alt="Samsung Led UA43MU6100KXXV43 Inch">
                                <a class="text-black-50 text-12" href="javascript:if(confirm("Bạn muốn xóa sản phẩm này?")==true){alert("ok")}">
                                    <i class="fas fa-times-circle"></i> Xóa
                                </a>
                            </div>
                            <div class="col-md-6 pro-info">
                                <a href="#" class="p-name"><b>Samsung Led UA43MU6100KXXV43 Inch</b></a>
                            </div>
                            <div class="col-md-4 text-right  text-center-sm">
                                <label class="text-red"><span id="price_product_0">11.990.000</span> đ</label>
                                <div class="num-up-down">
                                    <span class="down">-</span>
                                    <input class="text-center" name="quantity_product_0" id="quantity_product_0"
                                        value="1" size="5">
                                    <span class="up">+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-foot">
                        <b>Tổng tiền:</b>
                        <span class="sub1" id="total_value">24.280.000 đ</span>
                    </div>
                    <div id="shopping_content">

                        <div class="b2_box_left" id="info_shipping">
                            <div class="frm_submit tbl_nobdr c3-box">
                                <div class="item-form">
                                    <div class="option-group clearfix">
                                        <div class="step_option">
                                            <span class="st_opt st_opt_active" data-value="Anh" data-name="sex"></span><span>Anh</span>
                                        </div>
                                        <div class="step_option">
                                            <span class="st_opt" data-value="Chị" data-name="sex"></span><span>Chị</span>
                                        </div>
                                    </div>
                                    <!--option-group-->
                                </div>
                                <div class="item-form">
                                    <input type="text" size="50" name="user_info[name]" id="buyer_name" value=""
                                        placeholder="Họ tên">
                                </div>
                                <div class="item-form">
                                    <input type="text" size="20" name="user_info[tel]" id="buyer_mobile" value=""
                                        placeholder="Số điện thoại">
                                </div>
                                <div class="item-form">
                                    <input type="text" name="user_info[email]" id="buyer_email" value=""
                                        placeholder="Email">
                                </div>

                                <div class="item-form">
                                    <input type="text" name="user_info[note]" id="buyer_note" placeholder="Yêu cầu khác">
                                </div>
                                <div class="item-form">
                                    <input type="text" value="" name="user_info[address]" id="buyer_address"
                                        placeholder="Địa chỉ, Số nhà, tên đường, phường / xã*">
                                </div>
                                <div id="ajxTaxInvoice" class="item-form">
                                    <div class="ng_ml">
                                        <input type="checkbox" name="chkTaxInvoice" id="chkTaxInvoice">
                                        <label id="bale_ml" for="chkTaxInvoice" class="">Xuất hóa đơn công ty</label>
                                    </div>
                                    <div id="pnlTaxInvoice">
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td width="120" align="left">Công ty/Tổ chức:
                                                    </td>
                                                    <td align="left">
                                                        <input type="text" id="txtTaxName" value="" size="50" name="user_info[tax_company]">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="120" align="left">Địa chỉ:
                                                    </td>
                                                    <td align="left">
                                                        <input type="text" id="txtTaxAddress" value="" size="50"
                                                            name="user_info[tax_address]">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="120" align="left">Mã số thuế:
                                                    </td>
                                                    <td align="left">
                                                        <input type="text" id="txtTaxCode" name="user_info[tax_code]"
                                                            value="">
                                                        <span class="cmt" id="txtTaxCodeView"> </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-cart pb-3">
                                <button type="submit" class="btn-now">
                                    Thanh toán khi nhận hàng
                                    <span>Giao tận nơi, không mua không sao</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>