.p-detail-page {
    background : #E5E5E5 ;
    .p-detail-wrap {
        padding: 20px 20px 76px 20px;
        background: #fff;
        border-radius: 4px;
    }
    .p-name {
        font-size: 24px;
        line-height: 29px;
        display: block;
        margin-bottom: 10px;
        font-weight: 500;
    }
.large-image {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    a {
        display: block;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
    }
}
.product-detail-pri {
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    padding: 16px 0;
    margin: 15px 0;
    .p-price {
        font-size: 24px;
        line-height: 29px;
        color: #FF3B30;
    }
    .p-old-price {
        font-size: 14px;
        line-height: 17px;
        color: #828282;
        text-decoration: line-through;
    }
}
.product-detail-config{
    margin-bottom: 20px;
    .title {
        margin-bottom : 10px;
        display: block;
    }
    .config-list {
        .config-item {
            margin-right: 24px;

            .config-attr {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                overflow: hidden;
                display: inline-table;
                margin-right: 8px;
            }
            &.active .config-attr{
                border: 2px solid #FF9500;
            }
        }
    }
} 
.product-detail-desc {
    border-top: 1px solid #dddddd;
    padding-top: 26px;
    margin-top: 20px;
    .title {
        margin-bottom: 10px;
        display: block;
    }
    p {
        font-size: 14px;
        line-height: 20px;
    }
}
.product-detail-action{
    .btn-buynow {
        background: #FF9500;
        border-radius: 99px;
        padding: 11px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 142px;
        max-width: 142px;
        margin-right: 8px;
        color: #fff;
    }
    .btn-addtocart {
        border: 1px solid #828282;
        border-radius: 99px;
        background: #fff;
        color: #333;
        padding: 11px 17px;
        img {
            margin-right: 6px;
            margin-top: -4px;
        }
    }
}
}



#product-gallery .owl-item .item a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: 75px;
    width: 75px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    img {
        width: auto;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
        padding: 2px; 
    }
    &.synced {
        border: 2px solid #FF9500; 
    }
}

.suggest-product {
    margin-top: 70px;
    .title {
        margin-bottom: 30px; 
    }
    .view-all {
        background: transparent;
        border: 1px solid #FF9500;
        border-radius: 99px;
        line-height: 17px;
        display: inline-block;
        color: #FF9500 !important;
        padding: 8px 22px;
        .material-icons {
            vertical-align: top;
        }
        &:hover{
            color: #fff !important;
            background: #ff9500;
        }
    }
}

// zoom detail
.zoomContainer {z-index: 999999;}

@media ( max-width: 1200px ) {
    #product-gallery .owl-item .item a {
        height: 60px;
        width: 60px;
    }
}

@media ( max-width: 992px ) {
    #product-gallery .owl-item .item a {
        height: 100%;
        width: 100%;
    }
}