
.p-container {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    background: #fff ;

    .p-info {
        padding: 20px 17px;
        text-align: center;
        .p-name {
            font-size: 18px;
            line-height: 22px;
            display: -webkit-box;
            margin-bottom: 8px;
            color: #333;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            height: 22px;
        }
        .p-price {
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            del {
                color: #FF4040;
                font-weight: 600;
                text-decoration: none !important ;
            }
            ins {
                font-size: 12px;
                text-decoration: line-through;
                margin-left: 3px;
            }
        }
    }
}

.p-img {
    position: relative;
    .p-thumbnail {
        position: relative;
        padding-top: 100%;
        overflow: hidden;
        display: block;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            bottom: 0;
            right: 0;
            transform: translate(-50%,-50%);
            width: auto !important;
        }
    }
    .hover-button {
        max-width: 100%;
        padding: 0 5px;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 2;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        position: absolute;
        a {
            background: #fff;
            color: #222;
            padding: 0;
            font-size: 14px;
            margin: 5px 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 0 0 auto;
            width: auto;
            border-radius: 40px;
            padding: 8px 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            &.btn-buynow {
                background: rgba(255, 255, 255, 0.7);
                .material-icons {
                    font-size: 14px;
                    margin-right: 5px;
                }
                &:hover {
                    background: #FF9500;
                    color : #fff !important;
                }
            }
            &.btn-addtocart {
                background: #FF9500;
                color: #fff;
                img {
                    filter: brightness(100);
                    max-width: 14px;
                    margin-top: -3px;
                    margin-right: 5px;
                }
                &:hover {
                    color : #333 !important ;
                }
            }
        }
    }
}

@media ( min-width: 992px) {
    .p-container {
        &:hover {
            border-color: #FF9500;
            .p-img .hover-button {
                opacity: 1;
                visibility: visible;
                top: 50%;
            }
            .p-img:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.1);
                z-index: 1;
                transition: .5s;
            }
        }
    }
}

