<script src="{#INCLUDE_PATH#}jquery.min.js"></script> 
<script src="/includes/js/form.min.js"></script> 

<div class="container">
  <div id="breadcrumb">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/" itemprop="url" class="nopad-l">
        <span itemprop="title">Trang chủ</span>
      </a>
    </div>
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      &nbsp;/&nbsp;<a href="" itemprop="url">
      <span itemprop="title">{$page_info.title}</span>
      </a>
    </div>
  </div><!--breadcrumb-->
  <div class="line"></div>
  <div class="clear"></div>
  <h1 style="color:#365899; text-align:center; padding:10px 100px;">Phúc Anh - đơn vị cung cấp dự án máy tính - thiết bị văn phòng - thiết bị công nghệ chuyên nghiệp hàng đầu Miền Bắc</h1>
  <div id="project-left">
    <div id="form-support-project">
      <h2 class="h-title">Tư vấn khách hàng doanh nghiệp</h2>
      <p><i>Hãy để lại thông tin và yêu cầu của Quý khách, Phúc Anh sẽ liên lạc lại Quý khách trong vòng 15 phút giờ hành chính</i></p>
      {if="$send_success=='yes'"}
      <p><b>Cảm ơn quý khách đã liên hệ.</b></p>
      <p>Chúng tôi đã nhận được thông tin và sẽ liên hệ với quý khách trong thời gian sớm nhất</p>
      {else}
      <form method="post" id="frm_baogia"  enctype="multipart/form-data">
        <table>
          <tr>
            <td><label>Người liên hệ*</label></td>
            <td><input type="text" name="info[contact_name]" value="" id="contact_name_project"/></td>
          </tr>
          <tr>
            <td><label>Số điện thoại*</label></td>
            <td><input type="text" name="info[contact_tel]" value="" id="contact_tel_project" /></td>
          </tr>
          <tr>
            <td><label>Email</label></td>
            <td><input type="text" name="info[user_email]" value="" id="contact_email_project" /></td>
          </tr>
          <tr>
            <td><label>Yêu cầu*</label></td>
            <td>
              <textarea rows="8" name="info[requirement]" value="" id="contact_message_project"></textarea>
              <textarea rows="8" name="info[contact_message]" value="" id="input_contact_message" style="display:none;"></textarea>
            </td>
          </tr>
          <tr>
            <td><label>Tên công ty</label></td>
            <td><input type="text" name="info[company_name]" value="" id="contact_company_project"/></td>
          </tr>
          <tr>
            <td><label>Mã số thuế</label></td>
            <td><input type="text" name="info[tax_number]" value="" id="contact_tax_project"/></td>
          </tr>
          <tr>
            <td><label>Ghi chú khác</label></td>
            <td><input type="text" name="info[note]" value="" id="contact_note_project"/></td>
          </tr>
          <tr>
            <td><label>Đính kèm tệp</label></td>
            <td>
                <span class="example" style="font-size:11px; margin-bottom:5px; display:block;">Ghi chú: Không quá 50MB. Chỉ chấp nhận file có đuôi .doc, .docx, .pdf, .zip</span>
                
                <div id='all_file_upload_url'></div>
                
                <!---Multi file upload-->
                <span class="btn-bootstrap btn-success fileinput-button">
                  <span>+ Chọn files...</span>
                  <!-- The file input field used as target for the file upload widget -->
                  <input id="fileupload" type="file" name="files[]" style="width:200px;" multiple />
                </span>
                <br>
                  <br>
                    <!-- The global progress bar -->
                    <div id="progress" class="progress">
                      <div class="progress-bar progress-bar-success"></div>
                    </div>
                    <!-- The container for the uploaded files -->
                    <div id="files" class="files" style="width: 200px;word-wrap: break-word;"></div>
                    <!---Multi file upload-->
            </td>
          </tr>
          
        </table>
        <p>Những thông tin đánh dấu * quý khác vui lòng điền đủ thông tin</p>
            
            <div class="form_status_notify"></div>
            
            <input type="hidden" name="content_type" value="ban_hang_du_an">
        
              <div id="submit-holder"><input type="button" onclick="if(check_form()){submitForm.call(this)}" class="btn btn-blue" value="Đăng ký" style="background: rgb(54, 88, 153);padding: 8px 20px !important;margin: auto; display: block;"/></div>
              
      </form>
      {/if}
    </div><!--form-support-->	
  </div><!--project-left-->
  <div id="project-right" class="nd">
  	{$page_info.content}	
  </div><!--project-left-->
  
</div>


<script>
  function submitForm() {
  	Form.setHandle("/ajax/collect_form.php");  
  	Form.submitForm.call(this, '', {  }, function(){
  		$("#submit-holder").html("Yêu cầu của bạn đã được gửi thành công");
    });
    //$("#btn-submit-holder").css("display", "none");
  }
</script>

<!---For file upload-->
  
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="/includes/jqupload/js/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/includes/jqupload/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/includes/jqupload/js/jquery.fileupload.js"></script>
    
<script>
/*jslint unparam: true */
/*global window, $ */
$(function () {
    'use strict';

  var url = '/includes/jqupload/server/php/';
  //var url = 'http://upload.phucanh.vn/jqupload/server/php/';
  
    $('#fileupload').fileupload({
        url: url,
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
  			$('<p/>').html("<b>Upload thành công:</b> "+file.name).appendTo('#files');
  				console.log("File Name = " + file.name + ", File Url = " + file.url );
  				console.log("File = " + JSON.stringify(file) );
  
  				if(file.url != undefined) $('#all_file_upload_url').append('<input type="hidden"  name="info[file_upload_url][]" value="https://phucanh.vn'+file.url+'"/>');
  
            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});
</script>

<script type="text/javascript">
  function check_form() {
    var error = "";
    var check_name = document.getElementById('contact_name_project').value;
  	var check_tel = document.getElementById('contact_tel_project').value;
    var check_email = document.getElementById('contact_email_project').value;
    var check_message = document.getElementById('contact_message_project').value;
  
  	var company = document.getElementById('contact_company_project').value;
  	var tax = document.getElementById('contact_company_project').value;
    var note = document.getElementById('contact_note_project').value;
  
    
    
    if (check_name.length < 2) error += "- Bạn chưa nhập tên\n";
  	if (check_tel.length < 4) error += "- Bạn chưa nhập SĐT\n";
    if (check_email.length < 4) error += "- Bạn chưa nhập email\n";
    if (check_message.length < 4) error += "- Bạn chưa nhập nội dung\n";
    
    if (error == "") {
  		
  		document.getElementById('input_contact_message').value = check_message + "\n" + "Tên công ty: " + company + "\n" + "Mã số thuế: "+tax+ "\n" + "Ghi chú:"+ note;
  		return true;
  	}
    else alert(error);
    return false;
  }
  
  function change_captcha(holder){
    var unixtime_ms = new Date().getTime();
    $("#"+holder).attr("src","/includes/captcha/captcha.php?v="+unixtime_ms);
  }
  function check_user_captcha(captcha){
    $('#check_captcha_contact_project').html("... đang kiểm tra");
    $.post("/ajax/check_user.php", {action : 'check-captcha', captcha : captcha}, function(data){ $('#check_captcha_contact_project').html(data); });
  } 
</script>
      <style>
      .btn-bootstrap {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    height: auto;
}
        .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
        .fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
        .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}
      </style>