<div class="support_content support_content_new">
  <table>
    <tr>
      <td colspan="3">
        <h3>Tư vấn khách hàng cá nhân</h3>
      </td>
    </tr>
    <tr>
      <td>
        <b>BÁN HÀNG ONLINE</b>
      </td>
      <td>
        <b>SHOWROOM 1: 210 THÁI HÀ</b>
        <br/>
        Hotline: 0922 744 999
      </td>
      <td>
        <b>SHOWROOM 2: 30 NGUYỄN VĂN HUYÊN</b>
        <br/>
        Hotline: 098 638 9981 
      </td>
    </tr>
    <tr>
     <td>
       <a href="skype:live:duy.bi.95?chat">
          <div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
              Quang Duy (Tư vấn Gaming Gear)
              
              <br/>
              097.6767.464
              
              <br/>
              Email: duy@ankhang.net
            
            
            </div>
          </div>
        </a>
        <!--//-->
      </td>
      <td>
        <a href="skype:ankhang_kd163?chat">
          <div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
              Văn Thắng 
              
              <br/>
              0166.677.9743 
              
              <br/>
              Email: thangnv@ankhang.net
            
            
            </div>
          </div>
        </a>
        <!--//-->
      </td>
      <td>
          <a href="skype:live:7c71ca5095cfa9d3?chat">
          <div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
             
              Trịnh Tiệp
              
              <br/>
              0168.695.1995
              
              <br/>
              Email: tieptq@ankhang.net
            
            
            </div>
          </div>
        </a>
        <!--//-->
      </td>
    </tr>
    <tr>
      <td>
       <a href="skype:live:phuongduyit1992?chat">
          <div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
              Phương Duy (Tư vấn PC Gaming)
              
              <br/>
              0979.568.376
              
              <br/>
              Email: duylp@ankhang.net 
            
            
            </div>
          </div>
        </a>
        <!--//-->
      </td>
      <td>
       <a href="skype:live:1a573f1daa4c6b86?chat">
          <div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
             
              Bá Sơn 
                  
              <br/>
              0965.946.285
                  
              <br/>
              Email: sonnb@ankhang.net
            
                
            </div>
          </div>
        </a>
        <!--//-->
      </td>
      <td>
        <a href="skype:t0nnytran?chat">
          <div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
            
            Lê Thăng 
              
              <br/>
              0989.554.089 
              
              <br/>
              Email: thangtl@ankhang.net 
            
            
            </div>
          </div>
        </a>
        <!--//-->
      </td>
    </tr>
    <tr>
      <td>
        <a href="skype:t0nnytran?chat">
          <div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
            
            Lê Thăng (Gaming Gear & Modding)
              
              <br/>
              0989.554.089 
              
              <br/>
              Email: thangtl@ankhang.net 
            
            
            </div>
          </div>
        </a>
        <!--//-->
      </td>
      
      <td>
          <a href="skype:live:datnguye95?chat">
          <div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
            
            Sỹ Đạt
              
              <br/>
              0163.558.3885
              
              <br/>
              Email: datns@ankhang.net 
            
            
            </div>
          </div>
        </a>
        <!--//-->
    
      </td>
      <td>
       <a href="skype:hieu.cv?chat">
          <div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
             Chu Hiệu
              
              <br/>
              0979.830.101 
              
              <br/>
               Email: Hieucv@ankhang.vn 
            
            
            </div>
          </div>
        </a>
        <!--//-->
      </td>
      
      </tr>
    <tr>
      <td>
        
      </td>
      
    <td>
         <a href="skype:live:hailepc210?chat">
          <div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
            
            Minh Hải
              
              <br/>
             0903.443.232
              
              <br/>
              Email: hai.lm@ankhang.net 
            
            
            </div>
          </div>
        </a>
        <!--//-->
      </td>
      
      <td>
        
      </td>
      
      
      
      
      
      
    <tr>
      <td colspan="3">
        <h3>Tư vấn khách hàng doanh nghiệp</h3>
      </td>
    </tr>
    <tr>
      <td>
        <a href="skype:ankhang_kd11?chat">
          <div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
            
             Bích Huyền 
                  
              <br/>
              0166.606.2668 
                  
              <br/>
              Email: huyenpb@ankhang.vn
            
                
            </div>
          </div>
        </a>
        <!--//-->
      </td>
      <td>
        <a href="skype:nguyen.lam91?chat">
          <div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
            
             Nguyễn Lâm 
                  
              <br/>
              0164.980.1406 
                  
              <br/>
              Email: lamnv@ankhang.net
            
                
            </div>
          </div>
        </a>
        <!--//-->
      </td>
      <td>
        <a href="skype:hoanghuynd8x?chat">
          <div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
            
             Hoàng Huy
                  
              <br/>
              097.191.3355 
                  
              <br/>
              Email: huyhq@ankhang.net
            
                
            </div>
          </div>
        </a>
        <!--//-->
      </td>
    </tr>
    <tr>
      <td>
        <a href="skype:ngannt130390?chat">
          <div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
            
             Nguyễn Ngân 
                  
              <br/>
              0164.562.9219 
                  
              <br/>
              Email: ngannt@ankhang.net
            
                
            </div>
          </div>
        </a>
        <!--//-->
      </td>
      <td>
        <a href="skype:anhtaind14?chat">
          <div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
            
           Anh Tài 
                  
              <br/>
              097.333.5980 
                  
              <br/>
              Email: taida@ankhang.vn
            
                
            </div>
          </div>
        </a>
        <!--//-->
      </td>
      <td>
        <a href="skype:live:b27946170a987bf4?chat">
          <div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
             Thanh Liêm 
              
              <br/>
              01653.080.519
              
              <br/>
              Email: liemnt@ankhang.net
            
            
            </div>
          </div>
        </a>
        <!--//-->
      </td>
    </tr>
    <tr>
      <td>
        <a href="skype:thanhdc12?chat">
          <div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
            
             Chí Thanh 
                  
              <br/>
              098.344.0566 
                  
              <br/>
              Email: thanhdc@ankhang.vn
            
                
            </div>
          </div>
        </a>
        <!--//-->
      </td>
      <td>
        <a href="skype:trangttakc?chat">
          <div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
            
             Trần Trang 
                  
              <br/>
              01646.008.122 
                  
              <br/>
              Email: trangtt@ankhang.vn
            
                
            </div>
          </div>
        </a>
        <!--//-->
      </td>
      <td>
        <a href="skype:live:c3e3b25ea1bc9605?chat">
          <div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
            
             Tuấn Vũ
                  
              <br/>
              0934.577.077
                  
              <br/>
              Email: vutt@ankhang.net
            
                
            </div>
          </div>
        </a>
        <!--//-->
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <h3>Hỗ trợ kỹ thuật - bảo hành</h3>
      </td>
    </tr>
    <tr>
      <td>
        <b> TRA CỨU BẢO HÀNH </b>
          <br/>
          (8:00-12:00 & 13:30-17:30)
        <br/>
        Hotline: 1800 2095 (+504) - Miễn phí<br/>
        1900 2655 (+106) | 093 669 7181
            
        <br/>
        Email: baohanh@ankhang.vn
      
          
      </td>
      <td>
        <b>HỖ TRỢ KĨ THUẬT  </b> 
          <br/>
          (8:00-12:00 & 13:30-17:30)
        <br/>
		Hotline: 1900 2655 (+105)
         <br/>
		Email: kythuat@ankhang.vn
          
      </td>
      <td>
        <b>CHĂM SÓC KHÁCH HÀNG </b>
          <br/>
        (8:00-12:00 & 13:30-17:30)
         <br/>
        Hotline: 1900 2655 (+104)
        <br/>
		Email: cskh@ankhang.vn
      
          
      </td>
    </tr>
  </table>
</div>
<!--support_content-->