<div class="support_content">
  <div class="support_box">
    <div class="box_content">
      
      <div id="tuvan" style=" padding-left: 5px;"> 
        
        
        <div class="nvtuvan" style=" float: left;">
          <div class="tieudetuvan"><b> Chuyên viên tư vấn và bán hàng </b> </div>
          <a href="skype:t0nnytran?chat"><div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
              <br/>
            </div>
            <div class="cssText fl line-h22">
              Trần Lê Thăng <br/>
              0989.554.089 <br/>
              Email: thangtl@ankhang.net 
            </div>
            </div>
          </a><!--//-->   
          
		  
		   <br/>
          <br/>
          <div class="tieudetuvan clear"><b> Tư vấn doanh nghiệp - Camera </b> </div>
          <a href="skype:ankhang.vn?chat"><div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support" style="position:relative;top:-2px;"></i>
              <br/>
            </div>
            <div class="cssText fl line-h22">
              0981.999.688 <br/>
              Email: dau@ankhang.vn
            </div>
            </div>
          </a><!--//-->
          
           </div><!--nvtuvan-->
        
        
        <div class="nvtuvan" style=" float: left;">
          <div class="tieudetuvan"><b> Showroom1: 210 Thái Hà </b> </div>
		  <a href="skype:ankhang_kd163?chat"><div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
              <br/>
            </div>
            <div class="cssText fl line-h22">
              Văn Thắng <br/>
              0166.677.9743 <br/>
              Email: thangnv@ankhang.net
            </div>
            </div>
          </a><!--//-->
          
          <a href="skype:hieu.cv?chat"><div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
              <br/>
            </div>
            <div class="cssText fl line-h22">
             Văn Hiệu <br/>
              0979.830.101 <br/>
              Email: Hieucv@ankhang.vn 
            </div>
            </div>
          </a><!--//-->
      
		  
          <a href="skype:huyennt1806@gmail.com?chat"><div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
              <br/>
            </div>
            <div class="cssText fl line-h22">
              Thu Huyền <br/>
              0904.332.781 <br/>
              Email: huyen.nt@ankhang.vn
            </div>
            </div>
          </a><!--//-->

        </div><!--nvtuvan-->

        <div class="nvtuvan" style=" float: left;">
          <div class="tieudetuvan"><b> Showroom 2: 30 Nguyễn Văn Huyên </b> </div>
		   <a href="skype:hoanghuynd8x?chat"><div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
              <br/>
            </div>
            <div class="cssText fl line-h22">
              Hoàng Huy <br/>
              097.191.3355 <br/>
              Email: huyhq@ankhang.net
            </div>
            </div>
          </a><!--//-->
          
       <a href="skype:xuande26590@gmail.com?chat"><div class="css_box">
            <div class="cssNick">
              <i class="icons icon-skype-support"></i>
              <br/>
            </div>
            <div class="cssText fl line-h22">
             Xuân Để <br/>
              0979.117.698 <br/>
              Email: depx@ankhang.net 
            </div>
            </div>
          </a><!--//-->
          
          
         
        </div><!--nvtuvan-->


        
        <div class="nvtuvan" style=" float: left;border:none">
          <div class="tieudetuvan"><b>Tra cứu bảo hành (8:00 - 17:30):  </b> </div>
          
          <a href="skype:ankhang.vn?chat"><div class="css_box">
            
            <div class="cssText fl line-h22">
              1900 2655 (+106) | 093 669 7181 <br/>
              
              Email: baohanh@ankhang.vn
            </div>
            </div>
          </a><!--//-->
         
          <div class="clear space5px"></div>
            
          <div class="tieudetuvan clear"><b> Hỗ trợ kĩ thuật (8:00 - 17:30):  </b> </div>
          
            <div class="cssText fl line-h22">
              1900 2655 (+105) <br/>
            </div>
          <div class="clear space5px"></div>
          
          <div class="tieudetuvan clear"><b> Chuyên viên tư vấn bán hàng:  </b> </div>
          
            <div class="cssText fl line-h22">
              1900 2655 (+103) <br/>
            </div>
          <div class="clear space5px"></div>
            
          <div class="tieudetuvan clear"><b> Chăm sóc khách hàng (8:00 - 17:30):  </b> </div>
          
            <div class="cssText fl line-h22">
              1900 2655 (+104) <br/>
              Email: cskh@ankhang.vn
            </div>
            <!--//-->
        </div><!--nvtuvan-->
        
        
      </div>
      
    </div>
  </div>
</div>