<div class="container">
  <div id="breadcrumb">
    <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/" itemprop="url" class="nopad-l">
        <span itemprop="title">Trang chủ</span>
      </a>
    </div>
    <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      &nbsp;/&nbsp;<a href="" itemprop="url">
      <span itemprop="title"><b class="red">Khuyến mại</b></span>
      </a>
    </div>
  </div>
  <div id="promotion-page">
  	<div class="title-page">
      <h1>Săn khuyến mãi <b>HOT</b></h1>
      <span>Hãy thường xuyên theo dõi các chương trình khuyến mãi để có cơ hội mua HÀNG CHÍNH HÃNG GIÁ TỐT NHẤT</span>
    </div>
    <div class="clear"></div>
    <div class="list">
      <a href="" class="item">
      	<img src="https://www.phucanh.vn/includes/images/Dai%20dien%20khuyen%20m%E1%BA%A1i%20-%20HP.jpg" class="img" alt="" />
        <span class="title">TUẦN LỄ VÀNG ENVY & PAVILION - NHẬN NGAY THẺ ĐIỆN THOẠI TRỊ GIÁ 500.000Đ</span>
        <span class="time">Từ: 06/01/2018 - Kết thúc: 16/01/2018</span>
      </a>
      <a href="" class="item">
      	<img src="https://www.phucanh.vn/includes/images/Dai%20dien%20khuyen%20m%E1%BA%A1i%20-%20HP.jpg" class="img" alt="" />
        <span class="title">TUẦN LỄ VÀNG ENVY & PAVILION - NHẬN NGAY THẺ ĐIỆN THOẠI TRỊ GIÁ 500.000Đ</span>
        <span class="time">Từ: 06/01/2018 - Kết thúc: 16/01/2018</span>
      </a>
      <a href="" class="item">
      	<img src="https://www.phucanh.vn/includes/images/Dai%20dien%20khuyen%20m%E1%BA%A1i%20-%20HP.jpg" class="img" alt="" />
        <span class="title">TUẦN LỄ VÀNG ENVY & PAVILION - NHẬN NGAY THẺ ĐIỆN THOẠI TRỊ GIÁ 500.000Đ</span>
        <span class="time">Từ: 06/01/2018 - Kết thúc: 16/01/2018</span>
      </a>
      <a href="" class="item">
      	<img src="https://www.phucanh.vn/includes/images/Dai%20dien%20khuyen%20m%E1%BA%A1i%20-%20HP.jpg" class="img" alt="" />
        <span class="title">TUẦN LỄ VÀNG ENVY & PAVILION - NHẬN NGAY THẺ ĐIỆN THOẠI TRỊ GIÁ 500.000Đ</span>
        <span class="time">Từ: 06/01/2018 - Kết thúc: 16/01/2018</span>
      </a>
    </div><!--list-->
  </div><!--promotion-page-->
  
</div><!--container-->