<script src="{#INCLUDE_PATH#}form.min.js"></script> 

<div class="container">
  
 
  {if="$send_status == 'ok'"}
<div style="text-align:center;">
        <h2>Cảm ơn quý khách đã gửi yêu cầu</h2>
        <p>Chúng tôi đã nhận được thông tin và sẽ sớm gửi phản hồi cho quý khách</p>
  </div>
        {else}
<h1 style="margin:15px 0; text-align:center;">Gửi yêu cầu báo giá, đặt hàng</h1>
  
  <p class="font14" style="max-width:800px; margin:auto; text-align:center;">Khi có nhu cầu đơn hàng riêng, quý khách hàng có thể đặt mua với phòng kinh doanh của {$store_domain}. Với kinh nghiệm hơn 9 năm hoạt động, {$store_domain} sẽ nỗ lực hết mình để hài lòng quý khách hàng</p>
  <br/>     
  
  <form method="post" id="frm_baogia"  enctype="multipart/form-data" style="
    width: 600px;
    margin: auto;
    border: solid 1px #ddd;
    padding: 10px;
">

            <table class="tbl-common">
                <tr>
                    <td>Họ tên*</td>
                    <td>
                        <input type="text" size="40" name="info[contact_name]" id="buyer_name" class="inputText"/>
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        <input type="text" size="40" name="info[user_email]" class="inputText" />
                    </td>
                </tr>
                <tr>
                    <td>Điện thoại*</td>
                    <td>
                        <input type="text" size="40" name="info[contact_tel]" id="buyer_tel" class="inputText" />
                    </td>
                </tr>
                <tr>
                    <td>Địa chỉ</td>
                    <td>
                        <input type="text" size="40" name="info[tax_number]" class="inputText" />
                    </td>
                </tr>
                <tr>
                    <td>Công ty</td>
                    <td>
                        <input type="text" size="40" name="info[company_name]" class="inputText" />
                    </td>
                </tr>
              	<tr>
                  <td><label>Sản phẩm muốn mua*</label></td>
                  <td>
                    <textarea rows="8" name="info[requirement]" value="" id="contact_message_project"></textarea>
                  </td>
                </tr>
                <tr>
                  <td>Nội dung yêu cầu</td>
                    <td>
                        <textarea cols="50" rows="8" name="info[note]"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>File đính kèm</td>
                    <td>
                        <input type="file" name="upload_file" />(chấp nhận word hoặc excel)</td>
                </tr>
                
                <tr>
                    <td>Mã bảo vệ*</td>
                    <td>
                      <span id="check_captcha_ycdh" style="color:#d00; font-size:12px; display:block;"></span>
                      <input type="text" size="10" name="captcha" id="captcha_ycdh" onkeyup="check_user_captcha_contact(this.value,'check_captcha_ycdh')" class="inputText" style="width:100px; float:left;"/>
                        <img id="captchaimg" src="/includes/captcha/captcha.php?v=" />
                        (<a id="change-image" onclick="document.getElementById('captchaimg').src='/includes/captcha/captcha.php?'+Math.random();" href="javascript:;">Xem mã khác</a>)</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;" id="submit-holder">
                      <input type="submit" value="Gửi yêu cầu" class="btn btn-blue" onclick="if(check_field()){submitForm.call(this)}" />
                        
                    </td>
                </tr>
            </table>
    
    		<input type="hidden" name="content_type" value="ban_hang_du_an">
    		<input type="hidden" name="send" value="yes" />
        </form>
        {/if}
  
</div>




<script>
  function submitForm() {
  	Form.setHandle("/ajax/collect_form.php");  
  	Form.submitForm.call(this, '', {  }, function(){
  		$("#submit-holder").html("<b style='color:#e00'>Yêu cầu của bạn đã được gửi thành công</b>");
    });
  }
</script>

<!---For file upload-->
<!--  
<script src="/includes/jqupload/js/vendor/jquery.ui.widget.js"></script>
<script src="/includes/jqupload/js/jquery.iframe-transport.js"></script>
<script src="/includes/jqupload/js/jquery.fileupload.js"></script>


<script>
/*jslint unparam: true */
/*global window, $ */
$(function () {
    'use strict';

  var url = '/includes/jqupload/server/php/';
  
    $('#fileupload').fileupload({
        url: url,
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
  			$('<p/>').html("<b>Upload thành công:</b> "+file.name).appendTo('#files');
  				console.log("File Name = " + file.name + ", File Url = " + file.url );
  				console.log("File = " + JSON.stringify(file) );
  
  				if(file.url != undefined) $('#all_file_upload_url').append('<input type="hidden"  name="info[file_upload_url][]" value="http://http://benco.hurasoft.com'+file.url+'"/>');
  
            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});
</script>
-->
  
  <script type="text/javascript">
function check_field() {
    var error = "";
    var buyer_name = document.getElementById('buyer_name').value;
    if (buyer_name.length < 4) error += "- Bạn chưa nhập tên\n";
    var buyer_tel = document.getElementById('buyer_tel').value;
    if (buyer_tel.length < 5) error += "- Bạn chưa nhập số điện thoại\n";

    var captcha = document.getElementById('captcha_ycdh').value;
    if (captcha.length < 4) error += "- Bạn chưa nhập mã bảo vệ\n";

    if (error != "") {
        alert(error);
        return false;
    }
    return true;
}
</script>