<script type="text/javascript">
    $(document).ready(function () {
        $('.collection-home').owlCarousel({
            navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
            dots: false,
            loop: true,
            nav: true,
            margin: 0,
            items : 5
        })
        $('#homepage-slider').owlCarousel({
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: false,
            loop: true,
            nav: false,
            items : 1
        })
        //setheight menu
        // var width = $(window).width();
        // $('.danh-muc-list').css('height',document.getElementById('homepage-slider').offsetHeight);
        // $(window).resize(function(){
        //     if($(window).width()!=width){
        //         $('.danh-muc-list').css('height',document.getElementById('homepage-slider').offsetHeight);
        //         width = $(window).width();
        //     }
        // }) ;
    });
</script>