<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
{if="isset($max_price)"}{else}{$min_price=0}{$max_price=100000000}{/if}
    var max_price = {$max_price};
    var min_price = {$min_price};
    $.urlParam = function(name){
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results==null){
            return null;
        }
        else{
            return results[1] || 0;
        }
    }  
</script>
<script>
    function showProducts(minPrice, maxPrice) {
        window.location.href='{$current_category.url}?max='+maxPrice+'&min='+minPrice;
    }
</script>

<script>
    $(document).ready(function(){
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 5000000,
                values: [75, 5000000],
                slide: function (event, ui) {
                    $('.price_min').val(ui.values[0]);
                    $('.price_max').val(ui.values[1]);
                    console.log(ui.values[0] + "<br>" + ui.values[1] );
                }
            });
            $('.price_min').val($("#slider-range").slider("values", 0));
            $('.price_max').val($("#slider-range").slider("values", 1));
        });
    });
</script>