<!--collection_name{$collection_name|print_r}-->


{if="strpos($current_page_url,'?type=ajax') > 0"}
<ul class="ul">
  {loop="$deal_list"}
  {if="$counter < 10"}
  <li id="proDeal{$value.deal_id}">
    <a href="{$value.productUrl}" class="pright-img"><img src="{$value.productImage.medium}" alt="{$value.productName}" /></a>
    <div class="pright-right">
      <a href="{$value.productUrl}" class="pright-name">{$value.deal_name}</a>
      <span class="p-price">{$value.deal_price|format_price}</span>
      <span class="p-oldprice">{$value.price|format_price}</span>
      <div class="box-time-bestdeal">
        <div class="count-buy">
          <img src="{#IMAGE_PATH#}icon_deal_visit.png" alt="buyer" />
          <div class="count-buy-right">
            <b>Đã mua: {$value.deal_sold_quantity}</b>
          </div>
        </div><!--count-buy-->
        <div class="count-buy count-time">
          <img src="{#IMAGE_PATH#}icon_deal_time.png" alt="time" />
          <div class="count-buy-right">
            <b id="countTime{$value.deal_id}"></b>
          </div>
        </div><!--count-time-->
      </div>
      <script>GetCount({$value.deal_time_left},'countTime{$value.deal_id}');</script>
    </div>
  </li>
  {/if}
  {/loop}
</ul>
{else}





<div class="container">
  <div id="breadcrumb">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/" itemprop="url" class="nopad-l">
        <span itemprop="title">Trang chủ</span>
      </a>
    </div>
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      &nbsp;/&nbsp;<a href="" itemprop="url">
      <span itemprop="title">Deal</span>
      </a>
    </div>
  </div><!--breadcrumb-->
  <div class="clear"></div>
  {if="sizeof($deal_list) > 0 && $module.name == 'backup' "}
  <div id="hotDeal" style="background:url('{$banner_header[28][0]['fileUrl']}')">
    <div id="list-itemTopDeal">
      {loop="$deal_list"}{if="$counter == 0"}
      <div class="itemTopDeal">
        <a href="{$value.productUrl}" class="itd-img"><img src="{$value.productImage.large}" alt="{$value.productName}" /></a>
        <div class="itd-right">
          <a href="{$value.productUrl}" class="itd-name">{$value.deal_title}</a>
          <span class="itd-price">{$value.deal_price|format_price} VNĐ</span>
          <span class="itd-oldprice">
            Giá cũ: <del>{$value.price|format_price}</del>
            {$percent = ceil(100 - $value.deal_price*100/$value.price)}
            <span class="deal-discount">-{$percent}%</span>
          </span>
          <div class="line"></div>
          <div class="count-buy">
            <img src="{#IMAGE_PATH#}icon_deal_visit.png" alt="buyer" />
            <div class="count-buy-right">
              Số người đã mua
              <b>{$value.deal_sold_quantity}</b>
            </div>
          </div><!--count-buy-->
          <div class="count-buy count-time">
            <img src="{#IMAGE_PATH#}icon_deal_time.png" alt="time" />
            <div class="count-buy-right">
              Thời gian còn lại
              <b id="countTime{$value.deal_id}"></b>
            </div>
          </div><!--count-time-->
        </div>
      </div>
      <script>GetCount({$value.deal_time_left},'countTime{$value.deal_id}');</script>
      {/if}{/loop}
    </div><!--list-->
  </div><!--hotDeal-->
  {/if}
  
  <h1 class="" style="color:#e4393c; text-transform:uppercase;">Deal sốc mỗi ngày </h1>
  
  {if="sizeof($deal_list) == 0"}<p>Hiện tại đang không có sản phẩm Deal nào</p>{/if}
  
  <div class="box-pro-home category-pro-list deal-list" style="overflow:hidden;">
    <ul class="ul product-list">
      {loop="$deal_list"}{if="$counter > 0"}{/if}
      <li onclick="location.href='{$value.productUrl}'">
        <div class="p-container">
          <a href="{$value.productUrl}" class="p-img"><img class="lazy" src="{$value.productImage.large}" alt="{$value.productName}" /></a>
          <a href="{$value.productUrl}" class="itd-name">{$value.productName}</a>
          <span class="itd-price">{$value.deal_price|format_price} VNĐ</span>
          <span class="itd-oldprice">
            Giá cũ: <del>{$value.price|format_price}</del>
            {$percent = ceil(100 - $value.deal_price*100/$value.price)}
            <span class="deal-discount">-{$percent}%</span>
          </span>
          <div class="space10" style="height:15px;"></div>
          <div class="count-buy ">
            Thời gian còn lại
            <img class="none" src="{#IMAGE_PATH#}icon_deal_visit.png" alt="buyer" />
            <div class="count-buy-right none">
              <b>Đã mua: {$value.deal_sold_quantity}</b>
            </div>
          </div><!--count-buy-->
          <div class="count-buy count-time">
            <img src="{#IMAGE_PATH#}icon_deal_time.png" alt="time" />
            <div class="count-buy-right">
              <b id="countTime{$value.deal_id}"></b>
            </div>
          </div><!--count-time-->
          <div class="space10"></div>
        </div><!--p-container-->
        <script>GetCount({$value.deal_time_left},'countTime{$value.deal_id}');</script>
      </li>
      {/loop}
    </ul>
    <div class="clear"></div>
    {if="sizeof($paging_collection) > 0"}
    <div class="paging">
      {loop="$paging_collection"}
      {if="$value.name!='Back'"}
      <a href="{$value.url}" {if="$value.url=='#'"}class="current"{/if}>{if="$value.name=='Next'"}Tiếp theo{else}{$value.name}{/if}</a>
      {/if}
      {/loop}
    </div>
    {/if}
  </div><!--box-pro-home-->
</div><!--containter-->
{/if}