<div class="container">
  <div id="breadcrumb">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/" itemprop="url" class="nopad-l">
        <span itemprop="title">Trang chủ</span>
      </a>
    </div>
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      &nbsp;/&nbsp;<a href="" itemprop="url">
      <span itemprop="title"><h1>Thương hiệu {$brand_info.name}</h1></span>
      </a>
    </div>
  </div><!--breadcrumb-->
  <div class="taskbar-top">
    <div class="filter-pro">
      {if="sizeof($price_filter_list) > 0"}
      <div class="item-filter">
        {if="strpos($current_page_url,'min') > 0 || strpos($current_page_url,'max') > 0"}
        {loop="$price_filter_list"}
        <a href="{$value.url}" class="filterCurrent">{$value.name} (Xóa)</a>
        {/loop}
        {else}
        <span class="title">Mức giá</span>
        <ul class="ul">
          {loop="$price_filter_list"}
          <li><a href="{$value.url}">{$value.name} ({$value.count})</a> </li>
          {/loop}
        </ul>
        {/if}
      </div>
      {/if}
      <!--------{$category_collection|print_r}--------->
      <!--------{$attribute_filter_list|print_r}--------->
      {if="sizeof($category_collection) > 0"}
      <div class="item-filter">
        <span class="title">Danh mục</span>
        <ul class="ul">
          {loop="$category_collection"}
          {if="$value.id > 0"}
          <li><a href="{$value.urlBrand}">{$value.name} ({$value.productCount})</a> </li>
          {/if}
          {/loop}
        </ul>
      </div>
      {/if}
      {if="sizeof($attribute_filter_list) > 0"}
      {loop="$attribute_filter_list"}
      <div class="item-filter">
        {if="$value.selected==1"}
        {loop="$value.filterList"}{if="$value.isCurrent==1"}<a href="{$value.url}" class="filterCurrent">{$value.name} (Xóa)</a>{/if}{/loop}
        {else}
        
        <span class="title">{$value.attributeName}</span>
        <ul class="ul">
          {loop="$value.filterList"}
          <li><a href="{$value.url}">{$value.name} ({$value.count})</a> </li>
          {/loop}
        </ul>
        
        {/if}
      </div>
      {/loop}
      {/if}
      
    </div><!--filter-pro-->
    <div class="sort-by">
      <select onchange="location.href=this.value">
        <option value="">Sắp xếp theo</option>
        {loop="$sort_by_collection"}
        <option value="{$value.url}">{$value.name}</option>
        {/loop}
      </select>
    </div>
    <div class="clear"></div>
  </div><!--taskbar-top-->
  <div class="clear"></div>
  <div id="content-full">
    <div class="box-pro-home category-pro-list">
      <ul class="ul product-list">
        {loop="$product_list"}
        <li onclick="location.href='{$value.productUrl}'">
          <a href="{$value.productUrl}" class="linkPro"></a>
          <div class="p-container">
            <a href="{$value.productUrl}" class="p-img"><img class="lazy" src="{#IMAGE_PATH#}loading.gif" data-original="{$value.productImage.large}" alt="{$value.productName}" /></a>
            <a href="{$value.productUrl}" class="p-name">{$value.productName}</a>
            <span class="p-price">{if="$value.price > 0"}{$value.price|format_price} VNĐ{else}Liên hệ{/if}</span>
            {if="$value.marketPrice > $value.price"}
            {$percent = ceil(100 - $value.price*100/$value.marketPrice)}
            <span class="discount">-{$percent}%</span>
            <span class="p-oldprice">{$value.marketPrice|format_price} VNĐ</span>
            {/if}
            {if="$value.productType.isNew == 1"}<span class="p-icon_new">NEW</span>{/if}
            {if="sizeof($value.specialOffer)  > 0"}<i class="p-icon_promotion"></i>{/if}
            {if="$value.productType.isSaleOff == 1"}<i class="p-icon_sale"></i>{/if}
          </div><!--p-container-->
          <div class="p-hover">
            <span class="p-summary">{$value.productSummary}</span>
            <span class="p-detail">Xem ngay</span>
            {if="$value.warranty!='' "} <span class="p-warranty">Bảo hành: {$value.warranty}</span>{/if}
            <p>
              <span class="p-price">{if="$value.price > 0"}{$value.price|format_price} VNĐ{else}Liên hệ{/if}</span>
              {if="$value.marketPrice > $value.price"}
              <span class="p-oldprice">{$value.marketPrice|format_price} VNĐ</span>
              {/if}
            </p>
          </div><!--p-hover-->
        </li>
        {/loop}
      </ul>
      <div class="clear"></div>
      <div class="paging">{$paging}</div>
    </div><!--category-pro-list-->
  </div><!--content-->
</div><!--container-->