{if="!$pcbuilder.pc_part"}
    <p>Bạn đã xây dựng xong. Vui lòng <a href="javascript:pcbuilder_viewpc()">Click vào đây</a> để xem và in cấu hình</p>
{else}
	<div id="message_step" style="font-size:20px;">Bước {$pcbuilder.step} - chọn {$pcbuilder.pc_part} <span style="font-size:12px;">(<a href="javascript:pcbuilder_next_step()">Bỏ qua</a>)<span></span></span></div>
    <input type="hidden" id="pc_part_name" value="{$pcbuilder.pc_part}" />
    <table>
    	<tr>
        	<td style="vertical-align:top" id="global_left_col">
                <div><img src="{#IMAGE_PATH#}filter_image.gif"></div>
                <div id="load_fiter">
                    <div id="left_column_filter">
                        <div id="filter_content">
                            <!--<div class="att_name_filter"><a href="javascript:showSub('filterPrice')"><img src="{#IMAGE_PATH#}expand_on.gif" id="icon_filter270">Khoảng giá</a></div><br />
                            {loop="price_filter_list"}
                                <a href="javascript:loadAjaxContent('pc_part_process','{$value.url}')">{$value.name}</a> ({$value.count})<br />
                            {/loop}
                            <br /><br />-->
                             <div class="att_name_filter">Hãng</div><br />
                            {loop="brand_filter_list"}
                                <a href="javascript:loadAjaxContent('pc_part_process','{$value.url}')">{$value.name}</a> ({$value.count})<br />
                            {/loop}
                            <br /><br />
                            {loop="attribute_filter_list"}
                            <div class="att_name_filter">{$value.attributeName}</div><br />
                            {loop="value.filterList"}<!--value{$value|print_r}-->
                                <a href="javascript:loadAjaxContent('pc_part_process','{$value.url}')">{$value.name}</a> ({$value.count})<br>
                            {/loop}
                            <br /><br />
                            {/loop}
                            <br />
                        </div>
                    </div>
                </div>
            </td>
            <td style="vertical-align:top; padding-left: 5px;">
                <div id="load_product">
                    <table width="100%" id="tb_head">
                        <tbody>
                            <tr>
                                <td align="right" style="background-color: #fff; margin-top: 5px;">
                                    <select onchange="loadAjaxContent('pc_part_process', this.value)" style="width:160px; border-radius:0; height:25px;">
                                      {loop="$sort_by_collection"}
                                          {if="$sort_option == $value.key"}
                                              <option value="{$value.url}" selected>{$value.name}</option>
                                          {else}
                                              <option value="{$value.url}">{$value.name}</option>
                                          {/if}
                                      {/loop}
                                  </select> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table cellpadding="0" cellspacing="0" id="tb_pro_list"> 
                        <tbody>      
                            {loop="product_list"}
                            <tr>
                                <td class="td_pro_img"><img src="{$value.productImage.medium}" alt="{$value.productName}" title="{$value.productName}"></td>
                                <td class="td_pro_info">
                                    <div class="pro_list_name">{$value.productName}</div>
                                    <div class="pro_list_sum none">{$value.productSummary}</div>
                                     {if="$value.warranty == 0"}
                                    <div class="pro_list_warrant"><b>Bảo hành:</b>-</div>
                                    {else}
                                    <div class="pro_list_warrant"><b>Bảo hành:</b>{$value.warranty}</div>
                                    {/if}
                                    {loop="product_info.specialOffer"}
                                    {if="$value.title != ''"}
                                        <div class="KmDetail">Khuyến mại: {$value.title}</div>{/if}
                                    {/loop}
                                </td>
                                <td class="td_pro_price">
                                    <div><b>{$value.price|format_price}</b> VND</div><br>
                                    <a href="javascript:pcbuilder_select_part('{$value.id}', '{$pcbuilder.cat_id}', '{$pcbuilder.step}', '{$pcbuilder.pc_part}')">Chọn sản phẩm</a>
                                    <input type="hidden" id="price_{$value.id}" value="{$value.price}" />
                                    <input type="hidden" id="name_{$value.id}" value="{$value.productName}" />
                                    <input type="hidden" id="url_{$value.id}" value="{$value.productUrl}" />
                                </td>
                            </tr>
                            {else}    
                            <tr>
                                <td></td>
                                <td colspan="4"><p>Không có sản phẩm nào thõa mãn. Vui lòng <a href="javascript:pcbuilder_next_step()">bỏ qua</a> bước này hoặc <a href="/xay-dung-may-tinh">làm lại từ đầu</a></p></td>
                                <td></td>
                            </tr>
                        {/loop}
                        </tbody>
                    </table>
                    <div id="product_list_bt" class="ajax_paging">
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    {$paging}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </table>    
{/if}
