<style>body{background:url(/template/default/images/logoamban-01.png) center center no-repeat fixed}</style>
<style type="text/css">
body{margin:0px;font-family:Tahoma; font-size:12px;}
img{border:0px;}
p{ margin:0px;}
h1{ margin:0px; font-size:12px;}
.clear{ clear:both;}
.error{ color:Red; font-weight:bold;}
#imageThumnailPanel ul{ list-style:none; margin:0; padding-left:0px}
#imageThumnailPanel ul li{ float:left; margin-right:2px; padding:3px; border:1px solid #CCC}
.cssHiddenSend{	float:left; padding-top:10px; padding-bottom:20px; border:solid 1px #C0C0C0; background-color:#fcfcf1}
.imageThumnail{border:1px solid #CCC; padding:1px; vertical-align:middle; text-align:center; display:inline-block; margin-right:2px; width:50px; height:50px;}

ul, li { list-style: none outside none;  margin: 0 auto;   padding: 0;   position: relative;}
.ulFrom2_Temp1{	 float:left; width:100%; padding-top:5px; padding-bottom:5px;}
.ulFrom2_Temp1 .liCols1{	 float:left; width:20%; text-align:right; padding-right:25px;}
.ulFrom2_Temp1 .liCols2{	 float:left;}

.pcConfig-header{ float:left; width:100%; border-bottom:solid #666666 1px;}
.pcConfig-logo{ float:left;}
.pcConfig-address{ float:right; line-height:18px; border-bottom:1px sold #333333; text-align:right;}
.pcConfig-address b{ color:Blue; font-size:16px; display:inline-block; padding-bottom:10px; font-family:Times New Roman;}
.pcConfig-title{  text-align:center;  margin-top:1px; display:block; padding-top:5px;}
.pcConfig-title .cssH1{ font-weight:bold; font-size:22px; font-family:Times New Roman; line-height: 30px;}

.pcConfig-customers{ float:left; width:70%; }
.pcConfig-date{ float:left; width:30%; font-weight:bold; padding-top:10px;}
.pcConfig-customers .ulCustomers{ float:left; width:100%; padding-bottom:5px;}
.pcConfig-customers .ulCustomers .liCols1{ float:left; padding-top:5px;}
.pcConfig-customers .ulCustomers .liCols2{ float:left; padding-left:5px;}
.pcConfig-customers input{ border:0px; border-bottom:1px dotted #C0C0C0; font-weight:bold;}
.pcConfig-customers .ulCustomers-temp2{ float:left; width:100%; padding-bottom:5px;}
.pcConfig-customers .ulCustomers-temp2 .liCols1{ float:left; padding-top:5px;}
.pcConfig-customers .ulCustomers-temp2 .liCols2{ float:left;}
.pcConfig-customers .ulCustomers-temp2 .liCols3{ float:left; padding-top:5px;}
.pcConfig-customers .ulCustomers-temp2 .liCols4{ float:left;}
.pcConfig-hello{ display:block; text-align:center; font-weight:bold; padding-bottom:5px;}
.pcConfig-customers-content{ padding-top:5px; padding-bottom:5px;}
.pcConfig-customers-content .liCols1{  padding-top:5px; display:inline-block;}
.pcConfig-customers-content input{ border:0px; border-bottom:1px dotted #C0C0C0; font-weight:bold;}

.pcConfig-footer{ display:inline-block; padding-bottom:10px; width:100%;}
.pcConfig-footer .cssCols1{ float:left; width:15%;}
.pcConfig-footer .cssCols2{ float:left; width:85%; line-height:18px;}
.cssUpdate{ width:100px; height:25px; border:0px; background-image:url("/Images/Common/pc-send.gif"); cursor:pointer;}

.pcConfig-customer{ padding-top:10px;}
.pcConfig-customer .customerLeft{ float:left; width:50%;}
.pcConfig-customer .customerRight{ float:left}
.pcConfig-customer p{ padding:1px 0px;}
.footer-left{ float:left; width:75%;}
.footer-right{ float:left; font-weight:bold;}
.footer-left p{ padding:1px 0px;}
.footer-right p{ padding:1px 0px;}
.currencyVND{ display:none;}
.pcSKU{ padding:3px; color:#666666;}
.pcOffer{ padding-top:5px; color:Red;}
</style>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".cssCount").change(function(){
                var _count = $(this).val(); // Số lượng được thay đổi
                if(parseInt(_count) > 0 && parseInt(_count) < 99)
                {
                    //Thành tiền cho từng sản phẩm
                    var _totalitem = parseFloat($(this).attr("rel")) * parseFloat(_count);
                    var _relclass = $(this).attr("relclass");
                    $("."+_relclass+"").html(add_commas(_totalitem));
                    
                    var _totalitembefore = $("."+_relclass+"").attr("relBefore"); // Thành tiền sản phẩm trước
                    $("."+_relclass+"").attr("relBefore",_totalitem);
                    
                    var _totalpriceold = parseFloat($("#TotalPrice").attr("rel")); //tong gia tien ban dau cu
                    
                    //tong tien da duoc xu ly(tong tien cu + (tong tien cua 1 san pham sau - tong tien san pham truoc))
                    var _totalpricenew;
                    if(parseFloat(_totalitem) > parseFloat(_totalitembefore))
                        _totalpricenew = parseFloat(_totalpriceold) + (parseFloat(_totalitem) - parseFloat(_totalitembefore));
                    else
                    {
                        _totalpricenew = parseFloat(_totalpriceold) - (parseFloat(_totalitembefore) - parseFloat(_totalitem));
                    }
                    
                    $("#TotalPrice").html(add_commas(_totalpricenew));
                    
                    $("#TotalPrice").attr("rel",_totalpricenew);
                }
                else
                    alert('Bạn vui lòng 99 < nhập số > 0!');
                
                
            })
        });
        
        function add_commas(nStr)
        {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;
        }
    </script>
  <span id="autocomplete-ajax" style="display:none;"></span>
    <style type="text/css">
        #tb_config { width:100%; border-collapse:collapse;}
        #tb_config td { padding:6px;}
        #row_config { background-color:#EEEEEE; font-weight:bold;}
    </style>
    
    <form name="form1" method="post" id="form1">    
        <table width="800px" align="center" style=" margin: 0 auto;">        
            <tr>
                <td style="padding:10px;">
                  	<div class="pcConfig-header">
                        <p class="pcConfig-logo">
                          <a href="http://{$store_domain}"><img src="http://www.ankhang.vn/media/news/1312_ankhang-logo.png" alt="" /></a>
                        </p>
                        <p class="pcConfig-address">
                            <b>CÔNG TY TNHH MÁY TÍNH VÀ VIỄN THÔNG AN KHANG</b><br>
                            Văn phòng giao dịch: 210 Thái Hà - Trung Liệt - Đống Đa - Hà Nội <br>
                          30 Nguyễn Văn Huyên - Cầu Giấy - Hà Nội <br>
                            Điện thoại: 1900 2655 <br>
                            Email: sales@ankhang.vn
                        </p>
                    </div>
                    <div id="pnSendFlase">
                    <div class="pcConfig-title">
                        <div>
                            <h1 class="cssH1">BẢNG CHÀO GIÁ </h1></div>
                          <div style="font-size:11px;">{$current_time}</div>
                    </div>                    
                    <div class="clear"></div>
                    <div class="pcConfig-customer">
                        <div class="customerLeft">
                            <p>Ông/bà: Quý khách hàng</p>
                            <p>Đơn vị:</p>
                            <p>Địa chỉ:</p>
                            <p>Điện thoại:</p>
                        </div>
                        <div class="customerRight">
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>Email:</p>
                            <p>Fax:</p>
                        </div>
                    </div>
                      <div class="clear"></div>
                    <div class="pcConfig-hello">
                        Chúng tôi xin trân trọng gửi tới quý khách hàng bảng chào giá sau :
                    </div>
                    <table id='tb_config' cellpading=0 cellspacing=0 border=1 bordercolor=#999999>
                    <tr id='row_config'>
                    	<td style="text-align:center; width:12px; ">STT</td>
                        <td>Tên sản phẩm</td>
                        <td style="text-align:center; width:20px;">Số lượng</td>
                        <td style="text-align:center; width:80px;">Đơn giá (VNĐ)</td>
                        <td style="text-align:center; width:80px;">Thành tiền (VNĐ)</td>
                        <td style="text-align:center; width:50px;">Bảo hành</td>
                     </tr>
                     {$total_pcprice = 0}
    				{loop="product_list"}
            		<span class="id_confiq_{$counter}" style="display:none;">{$value.productId}</span>
                    <span class="price_confiq_{$counter}" style="display:none;">{$value.price}</span>
                     <tr>
                     	<td> {$counter+1}</td>
                        <td>
                        	<p class="pcName"><a href="{$value.productUrl}" target='_blank'>{$value.productName}</a></p>
                        	<p class="pcSummary">{$value.productSummary}</p>
                            {if="sizeof($value.specialOffer) > 0"}
                            <p class="pcSummary">{loop="$value.specialOffer"}{$value.title}{/loop}</p>
                            {/if}
                        </td>
                        <td><input type="text" value="1" style="width:50px" name="txtQuantiry{$counter+1}" rel="{$value.price}" relclass='cssTotal{$counter+1}' class="cssCount quantity_confiq_{$counter}" /> </td>
                        <td style="text-align:right; padding-right:5px;">
                        	<span class="price">{$value.price|format_price} <span class="currencyVND">VND</span></span>
                            {$total_pcprice = $total_pcprice + $value.price}
                         </td>
                        <td style="text-align:right; padding-right:5px;"><span class='cssTotal{$counter+1}' relBefore='{$value.price}'>{$value.price|format_price}</span></td>
                        <td>{$value.warranty}</td>
                       </tr>
                     {/loop}
                                              
                       <tr>
                            <td colspan="4" align="right"><b>Tổng tiền : </b></td>
                            <td  colspan="2"  style=" font-weight:bold;">
                            	<span id='TotalPrice' rel="{$total_pcprice}">{$total_pcprice|format_price}</span> VNĐ
                             </td>
                        </tr>
                       </table></div>    
                    
                    <div align="center" style="padding:10px 0px;">
                    &nbsp;
                    <a href="javascript:buy_confiq();"><img src="{#IMAGE_PATH#}Cart1.gif" alt="Print" /></a>
                    <a href="javascript:window.print();"><img src="{#IMAGE_PATH#}print.gif" alt="Print" /></a></div>                    
</div>
                    <div class="clear"></div>
                          
                          <br>
                          
                          <div class="footer-left">
                        
                            <div style="line-height:22px;">
                              <p><span style=""><strong>CÔNG TY TNHH MÁY TÍNH VÀ VIỄN THÔNG AN KHANG<br></strong> </span></p>
                                <p><span style=" color: #0000ff;"><strong>1. Thông tin Công ty</strong></span></p>
                                <p><span style=""><strong>- Mã số thuế: 0103728344</strong></span></p>
                                <p><span style=""><strong>Địa chỉ: &nbsp;Số 210 đường Thái Hà, phường Trung Liệt, quận Đống Đa, thành phố Hà Nội, Việt Nam&nbsp;</strong></span></p>
                                <p><span style=""><strong>Cơ sở 2: &nbsp;Số 2 ngõ 71 Trần Quang Diệu - Đống Đa - Hà Nội&nbsp;</strong></span></p>
                               <p><span style=""><strong>Cơ sở 3: &nbsp;Số 30 Nguyễn Văn Huyên (nối dài) - Cầu Giấy - Hà Nội&nbsp;</strong></span></p>
                                <p><span style="">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<em> ( Ghi trên Hóa đơn VAT Quý Khách vui lòng ghi <strong>theo địa chỉ 1</strong> và đầy đủ thông tin như thế)</em></span></p>
                                <p><span style="">Hotline: <strong>1900 2655 </strong> </span></p>
                                <ul>
                                  <li><span style="">Showroom 210 Thái Hà: +102. +102 - Tel: 0922.744.999 <br></span></li>
                                   <li><span style="">Showroom 310 Nguyễn Văn Huyên: +301, +303 <strong> </strong><br></span></li>
                                    <li><span style="">Phòng Kế toán: +103, +201, +202, +302 <br></span></li>
                                      <li><span style="">Phòng Kỹ thuật: +105 </span></li>
                                      <li><span style=""><span> Phòng Bảo hành: +106 - Hotline: 093.669.7181 </span><br></span></li>
                                        <li><span style="">Phòng KD Phân phối: + 203, +204, + 205, +206, + 207 &nbsp;&nbsp;&nbsp; <br></span></li>
                                          <li><span style=" color: #ff0000;">Trực tiếp Ban Giám đốc lắng nghe, giải quyết khiếu nại: <strong>0985.23.8989</strong></span></li>
                                        </ul>
                                        <p><span style=""><strong>- Thời gian làm việc Kinh doanh</strong>: Từ 8h00' - 20h00' (T2 - CN)<br></span></p>
                                          <p><span style=""><strong>- <strong>Thời gian làm việc&nbsp;</strong>Bảo hành</strong>:&nbsp;Từ 8h00 - 12h, chiều 13h00 - 17h00 (thứ 2 đến thứ 7)</span></p>
                                          
                                          
                                        </div>
                          
                          </div>
                      <div class="clear"></div>
                </td>
            </tr>
        </table>
         <script type="text/javascript">
            function buy_confiq(){
                for(i=0; i< $("#tb_config tr").length - 2; i++){
  addToShoppingCart('pro', $(".id_confiq_"+i+"").text(),$(".quantity_confiq_"+i+"").val(),$(".price_confiq_"+i+"").text()); 
                    }
                }
        </script> 
    </form>
