      <div class="page_path">
         {$collection_title}
      </div>
      <div class="clear_fix">
      </div>
      <div class="page_filter">
         <div class="filter_price">
            <span class="filter_price_title"> Mức giá <i class="icon icon_filter_price"></i>
            </span>
            <ul style="display: none;">
               {loop="price_filter_list"}
               <li>
                  <a href="{$value.url}">
                     {$value.name}
                  </a>
               </li>
               {/loop}
            </ul>
         </div>
         <div class="filter_brand">
            <span class="filter_brand_title"> Hãng <i class="icon icon_filter_price"></i>
            </span>
            <ul style="display: none;">
               {if="$current_category.is_parent == 1"}
               
               {loop="$current_category.child_collection"}
               <li>
                  <a href="{$value.url}">
                     {$value.title}
                  </a>
               </li>
               {/loop}
               
               {/if}
            </ul>
         </div>
      </div>
      <div class="clear_fix">
      </div>
      <div class="page_sort">
         <span>Sắp xếp theo: </span>
         <select onchange="window.location='?sort='+this.value">
            <option>Sắp xếp theo</option>
            
            
                {loop="sort_by_collection"}
                {if="$sort_by != $value.key"}
                    
            
            <option value="{$value.key}">{$value.name}</option>
            
            
                {else}
            
            <option value="{$value.key}" selected>{$value.name}</option>
            
            
                {/if}
                {/loop}
            
         
         </select>
      </div>
      <div class="clear_fix">
      </div>
      <div class="product_list">
         {loop="collection_list"}
          <div class="pro_item">
            <a href="{$value.productUrl}" title="{$value.productName}" class="image">
              <img src="{$value.productImage.large}" title="{$value.productName}"/>
              {if="$value.productType.isNew == 1"}<span class="icon_new">NEW</span>{/if}
              {if="$value.marketPrice > $value.price"}
              {$percent = ceil(100 - $value.price*100/$value.marketPrice)}
              <span class="discount">-{$percent}%</span>
              {/if}
            </a>
            <div class="pro_info">
              <a href="{$value.productUrl}" class="pro_name">
                {$value.productName}
              </a>
              <span class="pro_price">{$value.priceFormat}đ</span>
              	 {if="$value.marketPrice > $value.price"}
              <span class="p-oldprice">{$value.marketPrice|format_price} VNĐ</span>
              {/if}
              <p class="fl status{$value.quantity}">{if="$value.quantity == -2"}
              <span><i class="fa fa-phone-square"></i> Hàng đang về</span>
              {elseif="$value.quantity == -1"}<span><i class="fa fa-phone-square"></i> Liên hệ</span>
              {elseif="$value.quantity == 0"}<span><i class="fa fa-phone-square"></i> Hết hàng</span>
              {elseif="$value.quantity == 1"}<span><i class="fa fa-shopping-bag"></i> Còn hàng</span>
              {elseif="$value.quantity == 2"}<span><i class="fa fa-shopping-bag"></i> Đặt hàng</span>
              {elseif="$value.quantity > 2"}<span><i class="fa fa-shopping-bag"></i> Sẵn hàng</span>
              {/if}</p>
              {if="sizeof($value.specialOffer) > 0"}
              <div class="promotion">
                Khuyến mãi: <span>{loop="$value.specialOffer"}{|subString:$value.title, 60}{/loop}</span>
              </div>
              {/if}
            </div>
          </div>
         {/loop}
      </div>
   
   <script type="text/javascript">
	 	$(document).ready(function(){
			$(".filter_brand").click(function(){
				$(this).find("ul").stop(false, true).toggle();
			});	
			$(".filter_price").click(function(){
				$(this).find("ul").stop(false, true).toggle();
			});	
		});
	 </script>
