<div class="container">
  <div id="breadcrumb">
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/" itemprop="url" class="nopad-l">
        <span itemprop="title">Trang chủ</span>
      </a>
    </div>
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      &nbsp;/&nbsp;<a href="" itemprop="url">
      <span itemprop="title"><h1>{$page_title}</h1></span>
      </a>
    </div>
  </div><!--breadcrumb-->
  <div class="taskbar-top">
    <div class="filter-pro">
      {if="sizeof($price_filter_list) > 0"}
      <div class="item-filter">
        {if="strpos($current_page_url,'min') > 0 || strpos($current_page_url,'max') > 0"}
        {loop="$price_filter_list"}
        <a href="{$value.url}" class="filterCurrent">{$value.name} (Xóa)</a>
        {/loop}
        {else}
        <span class="title">Mức giá</span>
        <ul class="ul">
          {loop="$price_filter_list"}
          <li><a href="{$value.url}">{$value.name} ({$value.count})</a> </li>
          {/loop}
        </ul>
        {/if}
      </div>
      {/if}
      {if="sizeof($brand_collection) > 0"}
      <div class="item-filter">
        <span class="title">Thương hiệu</span>
        <ul class="ul">
          {loop="$brand_collection"}
          {if="$value.id > 0"}
          <li><a href="{if="strpos($current_page_url,'brand') > 0"}{$value.url_back}{else}{$value.urlSearch}{/if}">{$value.name} ({$value.productCount})</a> </li>
          {/if}
          {/loop}
        </ul>
      </div>
      {/if}
      {if="sizeof($attribute_filter_list) > 0"}
      {loop="$attribute_filter_list"}
      <div class="item-filter">
        {if="$value.selected==1"}
        {loop="$value.filterList"}{if="$value.isCurrent==1"}<a href="{$value.url}" class="filterCurrent">{$value.name} (Xóa)</a>{/if}{/loop}
        {else}
        
        <span class="title">{$value.attributeName}</span>
        <ul class="ul">
          {loop="$value.filterList"}
          <li><a href="{$value.url}">{$value.name} ({$value.count})</a> </li>
          {/loop}
        </ul>
        
        {/if}
      </div>
      {/loop}
      {/if}
      
    </div><!--filter-pro-->
    <div class="sort-by">
      <select onchange="location.href=this.value">
        <option value="">Sắp xếp theo</option>
        {loop="$sort_by_collection"}
        <option value="{$value.url}">{$value.name}</option>
        {/loop}
      </select>
    </div>
    <div class="clear"></div>
  </div><!--taskbar-top-->
  <div class="clear"></div>
  <div id="content-full">
    <div class="box-pro-home category-pro-list">
      <ul class="ul product-list">
        {loop="$product_list"}
        <li onclick="location.href='{$value.productUrl}'">
          <a href="{$value.productUrl}" class="linkPro"></a>
          <div class="p-container">
            <a href="{$value.productUrl}" class="p-img"><img class="lazy" src="{#IMAGE_PATH#}loading.gif" data-original="{$value.productImage.large}" alt="{$value.productName}" /></a>
            <a href="{$value.productUrl}" class="p-name">{$value.productName}</a>
            <span class="p-price">{if="$value.price > 0"}{$value.price|format_price} VNĐ{else}Liên hệ{/if}</span>
            {if="$value.marketPrice > $value.price"}
            {$percent = ceil(100 - $value.price*100/$value.marketPrice)}
            <span class="discount">-{$percent}%</span>
            <span class="p-oldprice">{$value.marketPrice|format_price} VNĐ</span>
            {/if}
            {if="$value.productType.isNew == 1"}<span class="p-icon_new">NEW</span>{/if}
            {if="sizeof($value.specialOffer)  > 0"}<i class="p-icon_promotion"></i>{/if}
            {if="$value.productType.isSaleOff == 1"}<i class="p-icon_sale"></i>{/if}
            
            <div class="p-act">
            <p class="fl status{$value.quantity}">{if="$value.quantity == -2"}
              <span><i class="fa fa-phone-square"></i> Hàng đang về</span>
              {elseif="$value.quantity == -1"}<span><i class="fa fa-phone-square"></i> Liên hệ</span>
              {elseif="$value.quantity == 0"}<span><i class="fa fa-phone-square"></i> Hết hàng</span>
              {elseif="$value.quantity == 1"}<span><i class="fa fa-shopping-bag"></i> Còn hàng</span>
              {elseif="$value.quantity == 2"}<span><i class="fa fa-shopping-bag"></i> Đặt hàng</span>
              {elseif="$value.quantity > 2"}<span><i class="fa fa-shopping-bag"></i> Sẵn hàng</span>
              {/if}</p>
            <p class="fr">
              <a href="javascript:void(0)" onclick="addToShoppingCartStop('pro','{$value.productId}','1','{$value.price}')"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cho vào giỏ</a>
            </p>
          </div>
            
          </div><!--p-container-->
          
          <div class="p-hover">
            <span class="p-summary">{$value.productSummary}</span>
            <span class="p-detail">Xem ngay</span>
            {if="$value.warranty!='' "} <span class="p-warranty">Bảo hành: {$value.warranty}</span>{/if}
            <p>
              <span class="p-price">{if="$value.price > 0"}{$value.price|format_price} VNĐ{else}Liên hệ{/if}</span>
              {if="$value.marketPrice > $value.price"}
              <span class="p-oldprice">{$value.marketPrice|format_price} VNĐ</span>
              {/if}
            </p>
          </div><!--p-hover-->
          
          <div class="hover_content_pro tooltip">
            <a href="{$value.productUrl}" class="hover_name">{$value.productName}</a>
          	{if="$value.brand.image!=''"}
          	<a href="" class="hover_brand"><img src="/media/brand/{$value.brand.image}" alt=""/></a>
          	{/if}
            <div class="hori_line"></div>
            <table>
                <tr>
                    <td width="80"><b>Giá bán:</b></td>
                    <td>
                        <span class="img_price_full">{if="$value.price > 0"}{$value.price|format_price}{else}Liên hệ{/if}</span>
                        <span class="hover_vat">
                            {if="$value.hasVAT==1"}[Đã bao gồm VAT]{/if}
                            {if="$value.hasVAT==2"}[Chưa bao gồm VAT]{/if}
                        </span>
                    </td>
                </tr>
                <tr><td><b>Bảo hành:</b></td><td>{$value.warranty}</td></tr>
                <tr>
                  <td><b>Kho hàng:</b></td>
                  <td>
                    <div class="p_quantity">
                      {if="$value.quantity == -2"}
                      <span>Hàng đang về</span>
                      {elseif="$value.quantity == -1"}
                      <span>Liên hệ</span>
                      {elseif="$value.quantity == 0"}
                      <span>Hết hàng</span>
                      {elseif="$value.quantity == 1"}
                      <span>Còn hàng</span>
                      {elseif="$value.quantity == 2"}
                      <span>Đặt hàng</span>
                      {elseif="$value.quantity > 2"}
                      <span>Sẵn hàng</span>
                      {/if}
                    </div>
                  </td>
              	</tr>
            </table>
          	{if="$value.productSummary!=''"}
            <div class="hori_line"></div>
            <div class="hover_offer">
                {$summary = explode("\n",$value.productSummary)}
                <b>Mô tả tóm tắt:</b><br/>
                {loop="$summary"}
                + {$value}<br/>
                {/loop}
            </div>
          	{/if}
          	{if="sizeof($value.specialOffer) > 0"}
            <div class="hori_line"></div>
            <div class="hover_offer">
                <b>Khuyến mại:</b><br/>
                {loop="$value.specialOffer"}
                {$value.title}<br/>
                {/loop}
            </div>
          	{/if}
        </div><!--hover_content_pro-->
          
        </li>
        {/loop}
      </ul>
      <div class="clear"></div>
      {if="sizeof($paging_collection) > 0"}
      <div class="paging">
      	{loop="$paging_collection"}
        {if="$value.name!='Back'"}
        <a href="{$value.url}" {if="$value.url=='#'"}class="current"{/if}>{if="$value.name=='Next'"}Tiếp theo{else}{$value.name}{/if}</a>
        {/if}
        {/loop}
      </div>
      {/if}
    </div><!--category-pro-list-->
  </div><!--content-->
</div><!--container-->
 <div style="font-size:1px">
      <a href="https://battrangnews.vn/" style="color:#fff;">Bát Tràng NEWS</a>
      <a href="https://battrangnews.vn/am-chen-bat-trang/c203.html" style="color:#fff;">Ấm chén Bát Tràng</a>
    </div>