@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css);
@import url(https://use.fontawesome.com/releases/v5.0.11/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=vietnamese);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Upright:400,500);
@charset "UTF-8";
/*--------------------------------------
Author: glee.vn
----------------------------------------
INDEX
===================
1. Default
----------------------------------------*/
/*======================================
1. Default
========================================*/
a, a:hover {
  text-decoration: none; }

.ul, .format {
  margin: 0;
  padding: 0;
  list-style: none; }

.text-10 {
  font-size: 10px; }

.text-11 {
  font-size: 11px; }

.text-12 {
  font-size: 12px; }

.text-13 {
  font-size: 13px; }

.text-14 {
  font-size: 14px; }

.text-15 {
  font-size: 15px; }

.text-16 {
  font-size: 16px; }

.text-17 {
  font-size: 18px; }

.text-18 {
  font-size: 18px; }

.text-20 {
  font-size: 20px; }

.text-25 {
  font-size: 25px; }

.text-30 {
  font-size: 30px; }

.transition {
  -webkit-transition: all .8s ease;
  -moz-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease; }

.line-h19 {
  line-height: 19px; }

.line-h22 {
  line-height: 22px; }

.line-h25 {
  line-height: 25px; }

.line-h30 {
  line-height: 30px; }

.shadow-5 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }

.shadow-10 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

/*======================================
End
========================================*/
body {
  font-size: 14px;
  font-weight: 400; }

a:hover {
  color: #e10531; }

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1400px; } }

/*
==========================
==========================
==========================
Style header
==========================
==========================
==========================
*/
header .header-main {
  padding: 8px 0; }

header .search .search-btn {
  right: 0;
  top: 0;
  bottom: 0;
  width: 38px;
  text-align: center;
  background-color: #333;
  color: #fff;
  font-size: 26px;
  padding: 6px;
  border-radius: 0 3px 3px 0;
  cursor: pointer; }

header .header-right .item a {
  font-weight: 600;
  color: #333333;
  margin-left: 8px; }

header .header-right .item span {
  display: block;
  font-weight: 400;
  font-size: 12px; }

header .header-right .item i {
  font-size: 30px;
  color: #333333; }

header .header-right .support a {
  font-size: 11px;
  color: #333;
  padding-left: 5px;
  display: inline-block; }
  header .header-right .support a span {
    font-weight: 500;
    color: #e90039;
    font-size: 14px; }

header .menu {
  background-color: #e10531; }
  header .menu .icon-menu {
    padding: 9px 0;
    display: inline-block;
    height: 40px;
    cursor: pointer; }
  header .menu .lable-new {
    background-color: #fdd504;
    padding: 1px; }
    header .menu .lable-new h3 {
      display: inline-block;
      margin-bottom: 0; }
      header .menu .lable-new h3 a {
        color: #333333;
        font-size: 14px;
        font-weight: 500;
        padding: 10px;
        padding-right: 40px;
        display: inline-block;
        position: relative;
        width: 100%;
        width: 145px; }
        header .menu .lable-new h3 a::before {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-right: 20px solid #fff; }
    header .menu .lable-new .b-link {
      background-color: #fff;
      font-size: 13px;
      color: #333333;
      padding: 0 8px; }
  header .menu .menu-category {
    top: 100%;
    width: calc(100% + 21px);
    z-index: 11;
    background-color: #fff; }
    header .menu .menu-category ul {
      width: 100%;
      border: 1px solid #e1e1e1;
      background-color: #fff; }
      header .menu .menu-category ul .parent-item {
        border-bottom: 1px solid #e1e1e1;
        margin-bottom: -1px;
        transition: 0.3s ease-out;
        position: relative; }
        header .menu .menu-category ul .parent-item > a {
          line-height: 45px;
          display: inline-block;
          color: #131313;
          padding-left: 60px;
          position: relative;
          transition: 0.4s ease-out; }
          header .menu .menu-category ul .parent-item > a span {
            position: absolute;
            left: 10px;
            width: 40px;
            text-align: center;
            top: 50%;
            transform: translateY(-50%); }
            header .menu .menu-category ul .parent-item > a span img {
              max-width: 100%; }
        header .menu .menu-category ul .parent-item .khuyenmai {
          font-weight: bold;
          color: #e10531;
          transition: 0.4s ease-out; }
        header .menu .menu-category ul .parent-item:hover {
          transition: 0.4s ease-out;
          background-color: #e10531; }
          header .menu .menu-category ul .parent-item:hover > a {
            color: #fff;
            transition: 0.3s ease-out; }
      header .menu .menu-category ul .menu-child {
        position: absolute;
        left: calc(100% - 1px);
        top: 0;
        z-index: -1;
        background-color: #fff;
        transform: translateX(-100%);
        transition: 0.5s; }
        header .menu .menu-category ul .menu-child .item-child {
          border-bottom: 1px solid #e1e1e1;
          position: relative; }
          header .menu .menu-category ul .menu-child .item-child:hover {
            transition: 0.4s ease-out;
            background-color: #e10531; }
            header .menu .menu-category ul .menu-child .item-child:hover > a {
              color: #fff;
              transition: 0.4s ease-out; }
          header .menu .menu-category ul .menu-child .item-child > a {
            line-height: 35px;
            display: inline-block;
            color: #333;
            padding: 0 7px; }
      header .menu .menu-category ul .menu-child-1 {
        position: absolute;
        left: calc(100% - 1px);
        top: 0;
        z-index: 1;
        background-color: #fff;
        transform: scaleX(0);
        transform-origin: left;
        transition: 0.3s; }
        header .menu .menu-category ul .menu-child-1 .item-child-1 {
          border-bottom: 1px solid #e1e1e1;
          position: relative; }
          header .menu .menu-category ul .menu-child-1 .item-child-1:hover {
            transition: 0.4s ease-out;
            background-color: #e10531; }
            header .menu .menu-category ul .menu-child-1 .item-child-1:hover > a {
              color: #fff;
              transition: 0.4s ease-out; }
          header .menu .menu-category ul .menu-child-1 .item-child-1 > a {
            line-height: 35px;
            display: inline-block;
            color: #333;
            padding: 0 7px; }
      header .menu .menu-category ul .parent-item:hover .menu-child {
        transform: translateX(0); }
      header .menu .menu-category ul .item-child:hover .menu-child-1 {
        transform: scaleX(1);
        transition: 0.3s; }
    header .menu .menu-category .arrow-right::after {
      content: "\F105";
      font-weight: 900;
      font-family: Font Awesome\ 5 Free;
      float: right;
      line-height: 45px;
      padding: 0 7px;
      color: #e1e1e1; }
    header .menu .menu-category .menu-child .arrow-right::after {
      line-height: 35px;
      padding: 0 7px; }

/*
==========================
==========================
==========================
Style footer
==========================
==========================
==========================
*/
footer {
  background-color: #f4f4f4;
  box-shadow: inset 0px 8px 20px 0px #ccc;
  padding-top: 20px; }

.footer_top .ft_col h3 {
  font-weight: 500;
  color: #333333;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 8px; }

.footer_top .ft_col a {
  color: #333333;
  margin-bottom: 10px;
  display: block; }
  .footer_top .ft_col a:hover {
    color: #dc3545; }

.footer_bottom .ft_col h3 {
  font-weight: 500;
  color: #333333;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 8px;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px; }

.footer_bottom .ft_col p, .footer_bottom .ft_col a {
  color: #333; }
  .footer_bottom .ft_col p i, .footer_bottom .ft_col a i {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: transparent;
    border-radius: 100%;
    color: #626262;
    transition: 0.4s all;
    display: inline-block;
    margin-right: 4px; }
  .footer_bottom .ft_col p:hover i, .footer_bottom .ft_col a:hover i {
    background-color: #333333;
    color: #fff;
    transition: 0.4s all; }

/*
==========================
==========================
==========================
Style homepage
==========================
==========================
==========================
*/
.banner_homepage .slider_home .owl-theme {
  overflow: hidden; }

.banner_homepage .slider_home .owl-theme .owl-dots {
  position: absolute;
  bottom: 20px;
  right: 0; }
  .banner_homepage .slider_home .owl-theme .owl-dots .owl-dot span {
    background-color: #fff; }
  .banner_homepage .slider_home .owl-theme .owl-dots .owl-dot.active span {
    background-color: #000; }

.banner_homepage .slider_home .owl-theme .owl-nav {
  margin-top: 0; }
  .banner_homepage .slider_home .owl-theme .owl-nav > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.1);
    padding: 18px;
    font-size: 22px;
    transition: 0.4s ease-in-out; }
    .banner_homepage .slider_home .owl-theme .owl-nav > div:hover {
      background: rgba(0, 0, 0, 0.5); }
    .banner_homepage .slider_home .owl-theme .owl-nav > div.owl-prev {
      left: 0;
      transform: translateY(-50%) translateX(-200px); }
    .banner_homepage .slider_home .owl-theme .owl-nav > div.owl-next {
      right: 0;
      transform: translateY(-50%) translateX(200px); }

.banner_homepage .slider_home .owl-theme:hover .owl-nav > div.owl-prev {
  transform: translateY(-50%) translateX(0px);
  transition: 0.4s ease-in-out; }

.banner_homepage .slider_home .owl-theme:hover .owl-nav > div.owl-next {
  transform: translateY(-50%) translateX(0px);
  transition: 0.4s ease-in-out; }

.banner_homepage .banner_right {
  display: inline-block;
  overflow: hidden;
  width: 100%; }
  .banner_homepage .banner_right img {
    position: absolute; }
  .banner_homepage .banner_right a:last-child img {
    position: absolute;
    bottom: 0;
    top: 50%;
    height: 50%; }
  .banner_homepage .banner_right a:first-child img {
    position: absolute;
    top: 0;
    bottom: 50%;
    height: 50%; }

.banner_cat_in_home .banner-item {
  position: relative;
  padding-bottom: calc(100% - 45px); }
  .banner_cat_in_home .banner-item h4 {
    font-weight: 600;
    background-color: #d6462e;
    padding: 8px 0;
    margin-bottom: 0; }
  .banner_cat_in_home .banner-item p {
    white-space: pre-line;
    color: #ff9f47;
    font-weight: 500;
    line-height: 18px;
    margin-top: 26px;
    margin-bottom: 20px; }
  .banner_cat_in_home .banner-item a {
    position: absolute;
    display: block;
    bottom: 30px;
    top: calc(50% + 45px);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 230px;
    height: 230px; }
    .banner_cat_in_home .banner-item a::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 230px;
      height: 230px;
      display: inline-block;
      background-image: linear-gradient(to right, #f2260a, #b22c3b);
      border-radius: 100%;
      z-index: -1; }
    .banner_cat_in_home .banner-item a img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); }

/*
==========================
==========================
==========================
Style breadcrumb
==========================
==========================
==========================
*/
#breadcrumb {
  background-color: #efefef;
  margin-bottom: 20px; }
  #breadcrumb .item {
    overflow: hidden; }
    #breadcrumb .item a {
      color: #6f6f6f;
      padding: 9px 0;
      display: inline-block;
      margin-right: 20px;
      padding-right: 14px;
      position: relative; }
      #breadcrumb .item a::before {
        content: '';
        height: 40px;
        width: 40px;
        display: inline-block;
        border: solid #c1c1c1;
        border-width: 1px 1px 0 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform-origin: top;
        transform: rotateZ(45deg) translateY(-50%); }
    #breadcrumb .item:last-child a {
      color: #333333; }
      #breadcrumb .item:last-child a::before {
        display: none; }

/*
==========================
==========================
==========================
Style product lisst
==========================
==========================
==========================
*/
.product_list-type-1 .title {
  text-align: center;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
  margin-top: 40px; }
  .product_list-type-1 .title hr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-bottom: 1px solid #696969;
    display: inline-block;
    width: 50%;
    z-index: -1;
    margin: 0;
    padding: 0; }
  .product_list-type-1 .title h3 {
    font-size: 35px;
    color: #fff;
    background-image: linear-gradient(90deg, #e10531, #ff4e00);
    display: inline-block;
    text-transform: uppercase;
    transform: skew(-20deg);
    padding: 8px 20px;
    margin-bottom: 0; }

.product_list-type-1 .product_list .p-item {
  position: relative; }
  .product_list-type-1 .product_list .p-item .p-img {
    display: block;
    text-align: center;
    margin: 10px 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden; }
    .product_list-type-1 .product_list .p-item .p-img img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      height: 100%; }
  .product_list-type-1 .product_list .p-item .p-name {
    display: block;
    color: #333333;
    margin-bottom: 10px; }
  .product_list-type-1 .product_list .p-item p {
    margin-bottom: 0;
    display: inline-block; }
  .product_list-type-1 .product_list .p-item .p-price {
    font-weight: 500;
    color: #333333; }
  .product_list-type-1 .product_list .p-item .p-unprice {
    color: #909090;
    text-decoration: line-through;
    font-size: 12px; }
  .product_list-type-1 .product_list .p-item .p-sale {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    color: #fff;
    background-image: linear-gradient(90deg, #fc8e78, #f92675);
    border-radius: 100%;
    text-align: center;
    line-height: 40px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 3px #f9327d;
    font-style: italic;
    font-size: 12px; }

.product_list-type-1 .cat_list a {
  color: #858585;
  font-size: 14px;
  padding: 5px 10px;
  display: inline-block;
  border-bottom: 2px solid transparent;
  margin-bottom: -1px; }

.product_list-type-1 .cat_list .active {
  border-bottom: 2px solid #dc281b;
  color: #dc281b; }

.product_list .icon-star {
  background-image: url("/template/tantan/images/73_starsprite.png");
  width: 92px;
  height: 17px;
  vertical-align: sub;
  display: inline-block;
  background-repeat: no-repeat; }

.product_list .icon-star.star0 {
  background-position: 0 -109px; }

.product_list .icon-star.star1 {
  background-position: 0 -88px; }

.product_list .icon-star.star2 {
  background-position: 0 -67px; }

.product_list .icon-star.star3 {
  background-position: 0 -43px; }

.product_list .icon-star.star4 {
  background-position: 0 -23px; }

.product_list .icon-star.star5 {
  background-position: 0 0; }

.list_product_page .p-item {
  margin-top: 30px;
  padding-bottom: 70px; }
  .list_product_page .p-item .p-sale {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    color: #fff;
    background-image: linear-gradient(90deg, #fc8e78, #f92675);
    border-radius: 100%;
    text-align: center;
    line-height: 35px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 3px #f9327d;
    font-style: italic;
    font-size: 12px; }
  .list_product_page .p-item .p-right {
    flex-grow: 1.3; }
  .list_product_page .p-item .btn_view {
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    background-color: #e10531;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    white-space: pre;
    padding: 6px;
    line-height: 16px; }
    .list_product_page .p-item .btn_view:hover {
      box-shadow: 0 0 15px 0px #e10531;
      transition: 0.2s all; }
    .list_product_page .p-item .btn_view span {
      text-transform: capitalize;
      font-weight: 400;
      font-style: italic;
      font-size: 11px; }
  .list_product_page .p-item .p-warranty, .list_product_page .p-item .p-name {
    display: block;
    text-transform: uppercase;
    color: #333;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 8px; }
    .list_product_page .p-item .p-warranty:hover, .list_product_page .p-item .p-name:hover {
      color: #e10531; }
  .list_product_page .p-item .p-warranty {
    color: #009494; }
    .list_product_page .p-item .p-warranty:hover {
      color: #009494; }
  .list_product_page .p-item p {
    margin-bottom: 0;
    display: inline-block; }
  .list_product_page .p-item .p-price {
    font-weight: 500;
    color: #dd2122;
    font-size: 18px; }
  .list_product_page .p-item .p-unprice {
    color: #909090;
    text-decoration: line-through;
    font-size: 12px; }
  .list_product_page .p-item .p-payonline {
    display: block;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px; }
  .list_product_page .p-item .specialOffer .title {
    display: block;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px; }
  .list_product_page .p-item .specialOffer span {
    font-size: 12px;
    display: block;
    margin-bottom: 8px; }

.pagination {
  background-color: #f4f4f4;
  padding: 5px 10px;
  border-radius: 0; }
  .pagination .page-item.disabled .page-link {
    background-color: #000;
    border-color: transparent;
    color: #fff;
    padding: 4px 9px;
    border-radius: 100%; }
  .pagination .page-link {
    background-color: transparent;
    border-color: transparent;
    color: #000;
    padding: 4px 9px;
    border-radius: 100%; }
    .pagination .page-link:hover {
      color: #e10531; }

.category_content h2 {
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 28px; }
  .category_content h2 span {
    color: #ccc; }

.category_content .sidebar-left h3 {
  line-height: 20px;
  display: block;
  color: #000;
  font-size: 15px;
  padding: 18px 20px 10px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0; }

.category_content .sidebar-left .filter_price .ui-slider-horizontal {
  height: 2px;
  border: transparent;
  background-color: #c5c5c5; }

.category_content .sidebar-left .filter_price .ui-widget-header {
  background-color: #189eff;
  border: transparent; }

.category_content .sidebar-left .filter_price .ui-state-default, .category_content .sidebar-left .filter_price .ui-widget-content .ui-state-default {
  border-radius: 100%;
  outline: 0;
  cursor: pointer; }

.category_content .sidebar-left .filter_price .ui-slider-horizontal .ui-slider-handle {
  margin-top: -3px; }

.category_content .sidebar-left .filter_price .filter_price-innner {
  padding: 0 20px; }

.category_content .sidebar-left .filter_price .price_min, .category_content .sidebar-left .filter_price .price_max {
  width: calc(50% - 10px); }

.category_content .sidebar-left .filter_item a, .category_content .sidebar-left .filter_item h4, .category_content .sidebar-left .category_list a, .category_content .sidebar-left .category_list h4 {
  font-size: 13px;
  color: #242424;
  padding: 5px 20px;
  display: block;
  position: relative;
  border-radius: 0;
  font-weight: 500;
  margin-bottom: 0;
  line-height: normal; }

.category_content .sidebar-left .filter_item a, .category_content .sidebar-left .category_list a {
  padding-left: 48px;
  font-weight: 400; }

.category_content .sidebar-left .filter_item p, .category_content .sidebar-left .category_list p {
  margin: 0; }

.category_content .sidebar-left .filter_item a {
  padding: 5px 20px; }

.category_content .sidebar-left .list_rate a {
  padding: 5px 20px; }
  .category_content .sidebar-left .list_rate a span {
    color: #787878;
    font-size: 13px;
    font-weight: 400;
    margin-left: 5px; }

.category_content .sidebar-left .show_more {
  padding: 5px 20px;
  display: block;
  position: relative;
  border-radius: 0;
  font-weight: 600;
  text-align: center;
  font-size: 13px;
  cursor: pointer; }

.slider_banner_product {
  overflow: hidden;
  padding: 0 50px;
  margin-bottom: 30px; }
  .slider_banner_product .owl-carousel .owl-stage-outer {
    overflow: visible !important; }
  .slider_banner_product .owl-carousel .owl-nav .owl-prev, .slider_banner_product .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #333333;
    background: #fff;
    font-size: 20px;
    border-radius: 100%;
    padding: 6px 10px; }
    .slider_banner_product .owl-carousel .owl-nav .owl-prev.owl-prev, .slider_banner_product .owl-carousel .owl-nav .owl-next.owl-prev {
      left: 0; }
    .slider_banner_product .owl-carousel .owl-nav .owl-prev.owl-next, .slider_banner_product .owl-carousel .owl-nav .owl-next.owl-next {
      right: 0; }

.banner_page_1 {
  margin-bottom: 15px; }

.sort_product ul a {
  color: #7b7b7b;
  font-size: 16px;
  padding: 0 8px; }
  .sort_product ul a:hover {
    color: #e10531; }

.sort_product form .search-btn {
  right: 1px;
  top: 1px;
  background-color: #eaebf0;
  bottom: 1px;
  padding: 10px 12px;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  cursor: pointer; }

.partner {
  border: 1px solid #ccc;
  position: relative;
  padding: 20px 0 5px;
  margin-top: 35px; }
  .partner h3 {
    position: absolute;
    top: -13px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    display: inline-block;
    padding: 0 30px;
    background: #fff; }
  .partner .list_partner img {
    width: auto !important;
    max-width: 100%;
    max-height: 90px;
    margin: auto; }

.page_detail .header_detail h2 {
  overflow: hidden;
  font-size: 24px;
  color: #333;
  line-height: 40px; }

.page_detail .header_detail .star_rate span {
  color: #288ad6;
  display: inline-block; }

.page_detail .header_detail .star_rate .icon-star {
  background-image: url("/template/tantan/images/73_starsprite.png");
  width: 92px;
  height: 17px;
  vertical-align: sub;
  display: inline-block;
  background-repeat: no-repeat; }

.page_detail .header_detail .star_rate .icon-star.star0 {
  background-position: 0 -109px; }

.page_detail .header_detail .star_rate .icon-star.star1 {
  background-position: 0 -88px; }

.page_detail .header_detail .star_rate .icon-star.star2 {
  background-position: 0 -67px; }

.page_detail .header_detail .star_rate .icon-star.star3 {
  background-position: 0 -43px; }

.page_detail .header_detail .star_rate .icon-star.star4 {
  background-position: 0 -23px; }

.page_detail .header_detail .star_rate .icon-star.star5 {
  background-position: 0 0; }

.page_detail .header_detail .fb-like {
  right: 20px;
  top: 15px; }

/*ảnh sản phẩm*/
.image_detail .list_media .item {
  text-align: center;
  margin-right: 5px; }
  .image_detail .list_media .item img {
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    padding: 6px;
    height: 60px; }
  .image_detail .list_media .item span {
    display: block;
    font-size: 13px;
    font-weight: 500; }

.image_detail .list_media .video a {
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  padding: 11px;
  display: block; }

.image_detail .list_media .video img {
  border: 0px solid #e1e1e1;
  border-radius: 3px;
  height: auto; }

/*thông tin sản phẩm*/
.price_sale .area_price strong {
  display: inline-block;
  overflow: hidden;
  font-size: 24px;
  color: #e10c00;
  vertical-align: middle;
  margin-right: 10px; }

.price_sale .area_price label {
  background: #f28902;
  margin: 0 0 0 5px;
  position: relative;
  font-size: 11px;
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
  padding: 0 5px 0 8px;
  height: 18px; }

.price_sale .area_price .check_gold {
  float: right;
  line-height: 35px; }
  .price_sale .area_price .check_gold span {
    vertical-align: 2px;
    font-size: 13px;
    font-weight: 500; }
  .price_sale .area_price .check_gold i {
    background-color: #808080;
    color: #fff;
    border-radius: 100%;
    width: 16px;
    line-height: 16px;
    display: inline-block;
    text-align: center;
    cursor: pointer; }

.price_sale .select_config .title {
  margin-top: 5px;
  max-width: 22%;
  width: 100%;
  text-transform: uppercase; }

.price_sale .select_config .color ul {
  margin-top: 3px;
  margin-bottom: 5px; }
  .price_sale .select_config .color ul input {
    position: absolute;
    width: 22px;
    height: 22px;
    cursor: pointer;
    opacity: 0;
    z-index: 1; }
    .price_sale .select_config .color ul input:checked ~ span {
      border: 1px solid #000; }
      .price_sale .select_config .color ul input:checked ~ span::before {
        opacity: 1; }
  .price_sale .select_config .color ul span {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    display: inline-block;
    background-color: #ccc;
    display: inline-block;
    position: relative; }
    .price_sale .select_config .color ul span::before {
      content: '';
      opacity: 0;
      width: 6px;
      height: 10px;
      border: 2px solid #ffffff;
      border-width: 0 2px 2px 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(40deg); }

.price_sale .select_config .size ul li {
  position: relative;
  margin-right: 0; }

.price_sale .select_config .size ul input {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  left: 0; }
  .price_sale .select_config .size ul input:checked ~ span {
    border: 1px #000 solid; }

.price_sale .select_config .size ul span {
  border: 1px transparent solid;
  background-color: #f5f5f5;
  padding: 6px 8px;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 2px;
  color: #7e7e7e; }

.price_sale .tsh {
  background-color: #ecf7ed;
  border-radius: 3px;
  border: solid 1px #c4ddc8;
  margin: 5px 0px 10px;
  padding: 0 10px;
  font-weight: bold;
  line-height: 30px; }
  .price_sale .tsh:before {
    content: '';
    background: url("/template/tantan/images/nhan-hang-1-gio.png");
    width: 19px;
    height: 21px;
    background-size: 19px 21px;
    margin-right: 10px;
    float: left;
    margin-top: 4px; }
  .price_sale .tsh span {
    line-height: 30px;
    padding-left: 10px;
    border-left: 1px solid #c4ddc8;
    display: block;
    margin-left: 28px; }
    .price_sale .tsh span a {
      color: #30a43b; }

.price_sale .area_promotion {
  display: block;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: relative;
  margin: 5px 0px 12px;
  background: #fff;
  padding-bottom: 10px; }
  .price_sale .area_promotion strong {
    display: block;
    overflow: hidden;
    font-size: 15px;
    color: #333;
    padding: 15px 15px 10px 15px;
    text-transform: uppercase; }
  .price_sale .area_promotion .infopr span {
    display: block;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    padding: 0 15px 5px 40px;
    line-height: 18px; }
    .price_sale .area_promotion .infopr span::before {
      content: '';
      margin-left: -20px;
      background: url("/template/tantan/images/check.png");
      width: 14px;
      height: 14px;
      background-size: 14px 14px;
      margin-right: 0;
      float: left;
      margin-top: 2px; }

.price_sale .buy_group {
  display: block;
  overflow: hidden;
  margin: 10px 0px; }
  .price_sale .buy_group .buy_now {
    display: block;
    overflow: hidden;
    padding: 7px 0;
    border-radius: 4px;
    font-size: 16px;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background: #e10531; }
  .price_sale .buy_group .buy_repay {
    line-height: normal;
    display: block;
    padding: 7px 0;
    text-align: center;
    margin: 10px 0 0;
    background: #fdd504;
    color: #323232;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
    width: 48.5%;
    float: left; }
    .price_sale .buy_group .buy_repay.s {
      float: right; }
    .price_sale .buy_group .buy_repay span {
      color: #323232; }
  .price_sale .buy_group span {
    display: block;
    font-size: 13px;
    color: #fff;
    text-transform: none;
    padding-top: 3px; }

.price_sale .callorder {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 8px;
  text-align: center;
  display: block; }

/*Cột phải trên*/
.overview-right .rightInfo {
  overflow: visible;
  background: #fff;
  position: relative; }
  .overview-right .rightInfo .policy {
    display: block;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
    list-style: none; }
    .overview-right .rightInfo .policy li {
      display: block;
      overflow: hidden;
      padding: 5px 0 5px 28px;
      font-size: 14px;
      color: #333;
      line-height: 20px;
      margin: 0 10px;
      border-bottom: solid 1px #f0f0f0;
      position: relative;
      font-size: 15px; }
      .overview-right .rightInfo .policy li a {
        font-size: 15px; }
    .overview-right .rightInfo .policy li:first-child {
      padding-top: 0; }
    .overview-right .rightInfo .policy .inpr:before {
      content: '';
      background: url("/template/tantan/images/trong-hop-co@2x.png") 0 0 no-repeat;
      width: 19px;
      height: 16px;
      background-size: 19px 16px;
      position: absolute;
      display: block;
      top: 4px;
      left: 0; }
    .overview-right .rightInfo .policy .wrpr:before {
      content: '';
      background: url("/template/tantan/images/bao-hanh-chinh-hang@2x.png") 2px 0 no-repeat;
      width: 19px;
      height: 23px;
      background-size: 16px 23px;
      position: absolute;
      display: block;
      top: 8px;
      left: 0; }
    .overview-right .rightInfo .policy li:last-child:before {
      content: '';
      background: url("/template/tantan/images/1-doi-1@2x.png") 0 0 no-repeat;
      width: 18px;
      height: 20px;
      background-size: 18px 20px;
      position: absolute;
      display: block;
      top: 8px;
      left: 0; }
  .overview-right .rightInfo .productOld {
    border: solid 1px #ddd;
    padding: 10px 12px 10px 12px;
    margin-bottom: 10px;
    border-radius: 3px;
    position: relative; }
    .overview-right .rightInfo .productOld .viewold {
      display: block;
      overflow: hidden;
      font-size: 14px;
      color: #288ad6;
      border-radius: 3px;
      font-size: 15px; }
      .overview-right .rightInfo .productOld .viewold div {
        display: block;
        overflow: hidden;
        color: #333;
        margin-top: 3px; }
        .overview-right .rightInfo .productOld .viewold div span {
          display: block;
          line-height: 22px; }
          .overview-right .rightInfo .productOld .viewold div span strong {
            color: #e10c00; }

/*Nội dung sản phẩm*/
.content_left .title {
  display: block;
  line-height: 1.3em;
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  font-weight: 400; }

.content_left .bottom_order {
  padding-bottom: 15px;
  overflow: hidden; }

.content_left .bottom_order .area_order {
  display: block;
  vertical-align: middle;
  margin: 0;
  float: right;
  width: 64%;
  text-align: right; }

.content_left .bottom_order .area_order .buy_now {
  display: inline-block;
  vertical-align: top;
  padding: 15px 10px;
  margin-right: 10px;
  float: left;
  min-width: 135px !important;
  font-size: 12px; }

.content_left .bottom_order .area_order .buy_repay {
  padding: 15px 10px;
  width: 140px;
  float: left;
  margin-top: 0;
  margin-right: 10px;
  font-size: 12px; }

.content_left .bottom_order .area_order .buy_repay.s {
  margin-right: 0; }

.content_left .bottom_order .area_order .buy_now span, .content_left .bottom_order .area_order .buy_repay span {
  display: none; }

.content_left .bottom_order .area_order .b0pc {
  margin: 10px 10px 0 0; }

.content_left .bottom_order.info_acc .area_order {
  width: 39%; }

.content_left .info_sp {
  display: block;
  vertical-align: middle;
  float: left;
  width: 35%; }

.content_left .info_sp img {
  float: left;
  width: 70px;
  height: auto;
  margin: 0 10px 0 0; }

.content_left .info_sp h3 {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.3; }

.content_left .info_sp strong {
  display: block;
  color: #d0021b;
  font-size: 16px;
  text-align: left; }

.content_left .info_sp span {
  display: block;
  overflow: hidden;
  color: #c1000c;
  text-align: left; }

.content_left .info_acc .info_sp {
  width: 60%; }

.content_left .info_acc .info_sp h3 {
  font-size: 16px;
  margin-bottom: 6px;
  display: block;
  line-height: 1.3em;
  font-size: 20px;
  color: #333;
  font-weight: 600;
  margin-bottom: 0;
  text-align: left;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden; }

.content_left .area_order .buy_now {
  box-sizing: border-box;
  margin-right: 10px;
  margin-bottom: 0;
  display: inline-block;
  vertical-align: top;
  padding: 15px 10px;
  float: left;
  min-width: 135px !important;
  font-size: 12px;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  background: #e10531; }

.content_left .area_order .buy_repay {
  background: #fdd504;
  padding: 15px 10px;
  width: 140px;
  float: left;
  margin-top: 0;
  margin-right: 10px;
  font-size: 12px;
  text-align: center;
  color: #333333;
  border-radius: 4px; }

.content_left .slider_content .owl-theme .owl-dots .owl-dot span {
  background: transparent;
  border: 1px solid #585858; }

.content_left .slider_content .owl-theme .owl-dots .owl-dot.active span {
  background: #f28c31;
  border: 1px solid #f28c31; }

/*sidebar right*/
.sidebar_right h4 {
  display: block;
  overflow: hidden;
  font-size: 20px;
  color: #333;
  line-height: 1.3em;
  padding-top: 20px;
  padding-bottom: 5px; }

.sidebar_right .blog_related {
  display: block;
  overflow: hidden;
  margin: 20px 0 0; }
  .sidebar_right .blog_related li {
    display: block;
    overflow: hidden;
    padding: 8px 0; }
    .sidebar_right .blog_related li .b-img {
      display: block;
      overflow: hidden;
      display: block;
      float: left;
      width: 100px;
      height: 60px;
      margin-right: 10px; }
    .sidebar_right .blog_related li .b-text {
      overflow: hidden;
      color: #333;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
      .sidebar_right .blog_related li .b-text a {
        color: #333; }
      .sidebar_right .blog_related li .b-text span {
        display: block;
        color: #b3b3b3; }
        .sidebar_right .blog_related li .b-text span i {
          margin-right: 5px; }

.sidebar_right .product_related {
  display: block;
  overflow: hidden;
  margin: 30px 0 0; }
  .sidebar_right .product_related li {
    display: block;
    overflow: hidden;
    padding: 10px 0; }
    .sidebar_right .product_related li a {
      display: block;
      overflow: hidden; }
    .sidebar_right .product_related li img {
      float: left;
      width: 100px;
      height: auto;
      margin-right: 10px; }
    .sidebar_right .product_related li h3 {
      display: block;
      overflow: hidden;
      color: #333;
      line-height: 1.3em;
      font-weight: bold;
      font-size: 14px; }
    .sidebar_right .product_related li strong {
      display: block;
      overflow: hidden;
      font-size: 14px;
      color: #d0021b;
      padding: 3px 0; }
    .sidebar_right .product_related li .gs {
      float: left;
      margin-right: 10px; }
    .sidebar_right .product_related li .gg {
      color: #666;
      text-decoration: line-through;
      font-weight: normal; }
    .sidebar_right .product_related li label {
      display: inline-block;
      font-size: 12px;
      color: #fff;
      font-weight: 600;
      background: #ee170b;
      border-radius: 2px;
      padding: 0 5px;
      height: 18px; }

.sidebar_right #tb-product-spec tr:nth-child(n + 5) {
  display: none; }

.sidebar_right .viewmore_product-spec {
  display: block;
  width: 100%;
  padding: 6px 0;
  margin: 10px 0 0;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  color: #288ad6;
  background: #fff;
  border: 1px solid #288ad6;
  border-radius: 4px; }

#box_product-spec {
  width: 600px; }

#tb-product-spec {
  width: 100%;
  border-width: 0 0 0 0; }
  #tb-product-spec td {
    border-width: 0 0 1px 0;
    padding: 11px 0; }
  #tb-product-spec tr:last-child td {
    border-width: 0 0 0 0; }
  #tb-product-spec .att-name {
    color: #666;
    width: 40%; }
  #tb-product-spec ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    display: inline-block; }
    #tb-product-spec ul li {
      float: left; }
      #tb-product-spec ul li::after {
        content: ',';
        margin-right: 4px; }
      #tb-product-spec ul li:last-child::after {
        content: '';
        margin-right: 4px; }

/* begin c-cart-01 */
.c-cart-01 {
  font-size: 14px;
  background-color: #fff; }

.c-cart-01 .cart-foot {
  padding: 0 10px 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px; }

.c-cart-01 .sub1 {
  float: right;
  font-size: 16px;
  color: #c10017;
  font-weight: 700; }

.c-cart-01 .product-cart {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px; }

.c-cart-01 .product-cart > div {
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 0 5px; }

.c-cart-01 .product-cart > div:nth-child(1) {
  text-align: center; }

.c-cart-01 .product-cart > div:nth-child(3) label {
  color: #c10017; }

.c-cart-01 .pro-info .p-name {
  color: #333;
  font-size: 14px; }

.c-cart-01 .num-up-down .up,
.c-cart-01 .num-up-down .down {
  border: 1px solid #ddd;
  text-align: center;
  width: 30px;
  display: inline-block;
  height: 26px;
  margin: 0 -5px;
  cursor: pointer;
  font-weight: bold;
  padding-bottom: 1px;
  font-size: 16px; }

.c-cart-01 .num-up-down input {
  border: 1px solid #ddd;
  width: 40px;
  height: 26px;
  position: relative;
  top: -1px; }

.c-cart-01 #shopping_content .item-form {
  padding: 5px 15px; }

.c-cart-01 #shopping_content .item-form input {
  display: block;
  padding: 9px 0;
  height: 35px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin: 10px 0 5px;
  text-indent: 10px;
  width: 100%; }

.c-cart-01 #shopping_content .option-group .step_option {
  float: left;
  cursor: pointer;
  text-align: left;
  margin-bottom: 0;
  width: auto !important;
  margin-right: 25px; }

.c-cart-01 #shopping_content .option-group .step_option .st_opt_active {
  background: #0e76bd; }

.c-cart-01 #shopping_content .option-group .step_option .st_opt {
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
  float: left;
  border: 1px solid #b2b2b2;
  margin-right: 10px;
  border-radius: 50%; }

.c-cart-01 #shopping_content .ng_ml {
  position: relative;
  margin-bottom: 10px; }

.c-cart-01 #shopping_content .ng_ml input {
  position: absolute;
  visibility: hidden; }

.c-cart-01 #shopping_content .ng_ml label {
  padding-left: 20px;
  cursor: pointer; }

.c-cart-01 #shopping_content .ng_ml label:before {
  content: "\F00C";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  max-width: 16px;
  width: 100%;
  height: 16px;
  line-height: 14px;
  border: 1px solid #777;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  vertical-align: 1px;
  margin-right: 5px;
  position: absolute;
  left: 0; }

.c-cart-01 #shopping_content .ng_ml input:checked ~ label:before {
  background-color: #549ae6;
  border: 1px solid #549ae6; }

.c-cart-01 #shopping_content .btn-cart {
  display: inline-block;
  width: 100%;
  padding: 0 15px; }

.c-cart-01 #shopping_content .btn-cart .btn-now {
  line-height: 20px;
  display: block;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
  overflow: hidden;
  padding: 5px 0;
  background: -webkit-linear-gradient(top, #fe9714, #fd8517); }

.c-cart-01 #shopping_content .btn-cart .btn-now span {
  color: #fff;
  text-transform: none;
  display: block;
  font-size: 14px;
  font-style: italic; }

.c-cart-01 #shopping_content .btn-cart .btn-now:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

/* end c-cart-01 */

