<div class="container">
    {if="strpos($current_page_url,'/alepay') > 0"}
    <script>location.href = '/'</script>
    {/if}
    <div class="container">
        <style type="text/css">
            h1 {
                font-size: 18px;
                margin: 0;
                padding: 0
            }
            #holder {
                width: 500px;
                padding: 6px;
                background-color: #FF9;
                margin: auto;
                border: 1px solid #CCC;
            }
        </style>
        <br />
        <div style="line-height: 150%; line-height: 24px;">
            <h1>Nội dung không tìm thấy !</h1>
            <p>Nội dung bạn cần xem hiện không còn hoặc đã bị xóa.</p>
            <p>Nếu Hệ thống không tự động chuyển về trang chủ, Bạn có thể quay lại bằng Link sau <a href='/'>{$store_domain}</a></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>