<style>
.gopy .divFull_Temp1 {padding: 10px 0; float:left;}
.gopy .cols1 {width:120px; padding: 10px 0; vertical-align: middle; }
.gopy .contact-text {width: 250px; padding: 3px 0; border:solid 1px #ccc; background:none !important;}
.gopy .contact-textarea {height: 100px; width: 248px;}
  
</style>

{include="other/column_left"}
      <div id="review" style="width: 1070px; float: right; position: relative;">
        <div class="cat_news_name" style="margin-bottom:10px; float: left; width: 100%; border-bottom:1px solid #ddd;"><h2>Đóng góp ý kiến</h2></div>
  <form method="post" action="/ajax/customer_review.php" onsubmit="check_form()">
{if="$send_success=='yes'"}

    <h3>Cảm ơn quý khách đã gửi góp ý.</h3>

    <p>Chúng tôi đã nhận được thông tin. Bộ phận chăm sóc khách hàng sẽ liên hệ và trả lời quý khách trong thời gian sớm nhất.</p>

{else}
  		<div class="gopy">
             
            
            <div style="" class="divFull_Temp1">
                Để đóng góp ý kiến, khiếu nại, thắc mắc về sản phẩm và dịch vụ, quý khách vui lòng nhập các thông tin dưới đây, rồi click vào <b>gửi ý kiến</b>!
                
            </div>
            <table cellspacing="0" cellpadding="0" class="contactForm" style="width:100%;  padding-top:10px;">
                <tbody><tr>
                    <td class="cols1">Họ tên <b style="color:Red">*</b></td>
                    <td char="cols2">
                        <input type="text" id="yk_name" name="user_name" class="contact-text">
                    </td>
                </tr>
                <tr>
                    <td class="cols1">Địa chỉ email <b style="color:Red">*</b></td>
                    <td char="cols2">
                        <input type="text" id="yk_email" name="user_email" class="contact-text">
                    </td>
                </tr>
                <tr>
                    <td class="cols1">Điện thoại</td>
                    <td char="cols2">
                        <input type="text" id="yk_tel" name="user_tel" class="contact-text">
                    </td>
                </tr>
                <tr>
                    <td class="cols1">Địa chỉ
                    </td><td char="cols2">
                        <input type="text" id="yk_address" name="user_address" class="contact-text">
                    </td>
                </tr>
             
                <tr>
                    <td class="cols1">Tiêu đề <b style="color:Red">*</b></td>
                    <td char="cols2">
                        <input type="text" id="yk_title" name="title" class="contact-text">            
                    </td>
                </tr>
                <tr>
                    <td class="cols1">Nội dung <b style="color:Red">*</b></td>
                    <td char="cols2">
                        <textarea id="yk_message" name="content" class="contact-textarea"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="cols1">Mã bảo vệ <b style="color:Red">*</b></td>
                    <td char="cols2">
                        <img src="/includes/captcha/captcha.php?v=" id='captchar_holder' width='150'/>
                      <a href="javascript:change_captcha('captchar_holder')" style="font-size:12px;">đổi mã khác</a> <br />
                      <span id="message_captcha" style="display:block; font-size:12px; color:#e00;"></span>
                      <input type="text" size="10" id='yk_captcha' name="captcha" onkeyup="check_user_captcha_contact(this.value,'message_captcha')"/>
                    </td>
                </tr>
                <tr>
                    <td char="cols1">&nbsp;</td>
                    <td style="padding-bottom:20px; padding-top:10px;" char="cols2">
                        <input type="submit" onclick="return check_form();" value="Gửi ý kiến" class="submit" />
                        <input type="hidden" name="action" value="send" />
                    </td>
                </tr>
            </tbody></table> 
                
                <input type="hidden" name="return_url" value="{$return_url}" />
            
          </div>
{/if}
        </form>
                  
                  
          </div>
<script type="text/javascript">
  
  function check_form(){
        var error = "";
        var check_name = document.getElementById('yk_name').value;
        var check_email = document.getElementById('yk_email').value;
        var check_message = document.getElementById('yk_message').value;
        var check_captcha = document.getElementById('yk_captcha').value;
  
        if(check_name.length < 4) error += "- Bạn chưa nhập tên\n";
        if(check_email.length < 4) error += "- Bạn chưa nhập email\n";
        if(check_message.length < 4) error += "- Bạn chưa nhập nội dung\n";
        if(check_captcha.length < 4) error += "- Bạn chưa nhập Mã bảo vệ\n";

        if(error == "") return true;
        else alert(error);
        return false;
    }
  
function change_captcha(holder){
  var unixtime_ms = new Date().getTime();
  $("#"+holder).attr("src","/includes/captcha/captcha.php?v="+unixtime_ms);
}

function send_review(){

    var error = "";
    var check_name = document.getElementById('contact_name').value;
    var check_email = document.getElementById('contact_email').value;
    var check_tel = document.getElementById('contact_tel').value;    
    var check_title = document.getElementById('contact_title').value;    
    var check_message = document.getElementById('contact_message').value;
  	var check_captcha = document.getElementById('captcha').value;
        
    if(check_name.length < 4) error += "- Bạn chưa nhập tên\n";
    
     if (emailVerify(check_email) == false){
            error += "- Địa chỉ mail không hợp lệ\n";
        } 
        else{
            if(check_email.length < 4)
                error += "- Bạn chưa nhập địa chỉ mail\n";
        }
    
    if(check_tel.length < 4) error += "- Bạn chưa nhập điện thoại\n";
    if(check_title.length < 4) error += "- Bạn chưa nhập tiêu đề\n";
    if(check_message.length < 4) error += "- Bạn chưa nhập nội dung\n";
	if(check_captcha.length < 4) error += "- Bạn chưa nhập Mã bảo vệ\n";
   
    if(error == ""){    
	    $.post("/ajax/customer_review.php", {
    		    aj : 'yes'
                , title : $("#contact_title").val()
                , content : $("#contact_message").val()
                , user_email : $("#contact_email").val()
                , user_name : $("#contact_name").val()
                , user_address : $("#contact_address").val()
                , user_tel : $("#contact_tel").val()
        }, function(data){
  			
    	    if(data=='ok'){
			     alert("Cảm ơn bạn đã dành thời gian gửi ý kiến, chúng tôi đã nhận được thông tin");
  				// $("#review_box").slideUp();
		    }
            else alert("Có lỗi xảy ra");
        });
  		alert("Cảm ơn bạn đã dành thời gian gửi ý kiến, chúng tôi đã nhận được thông tin");
  		location.reload();
    }
    else{
         alert(error);
    }
}

 function emailVerify(email) {
    if (email.indexOf("@") < 0) {
        return false;
    } else {
        return true;
    }
}
            
    </script>
</div>