.breadcrumb {
    background: none;
    padding: 24px 0 21px 0 ;
    li {
        span {
            
            font-size: 14px;
            line-height: 16px;
            color: #333;
            font-weight: 600;
            color: #000000;
        }
        &.home span{

            color: #737373;
        }

        .mr_lr {
            padding: 0px 5px;
        }
    }
}