footer{
    .block-newsletter {
        background: url(../../images/bg-news-letter.png) no-repeat center right;
        background-size: cover;
        margin-top: 153px;
        .newsletter-left{
            img {
                position: absolute;
                right: 0;
                top: -133px;
            }
            
        }
        .newsletter-text {
            padding-bottom: 15px;
            .big-text {
                font-weight: 500;
                font-size: 28px;
                line-height: 26px;
                color : #fff ;
                margin: 0 ;
            }
            .small-text {
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color : #fff ;
            }
        }
        .newsletter-box {
            
            padding: 86px 15px 72px 15px ;
        }
        #newsletter-form {
            position: relative;
            input {
                width: 100%;
                background: #FFFFFF;
                border-radius: 3px;
                line-height: 54px;
                font-size: 14px;
                color: #B1B1B1;
                padding: 0 10px;
                border: none;
            }
            .input-group-btn {
                position: absolute;
                right: 5px;
                top: 5px;
                background: #FCBB14;
                border-radius: 3px;
                z-index: 100;
                button {
                    background: #FCBB14;
                    border-radius: 3px;
                    color: #fff;
                    text-transform: uppercase;
                    padding: 10px 19px 7px 23px;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
    }
}

.mid-footer {
    padding: 34px 0 57px 0;
    .footer_item_first_child {
        .footer_item-title-top {
            font-weight: normal;
            font-size: 15px;
            line-height: 22px;
            max-width: 333px;
            margin-top: 10px;
        }
    }

    .footer-multi-info {
        display: flex;
        align-items: center;
        & > img {
            padding-right: 10px;
        }
        .multi-info-item{
            &:not(:last-child) {
                border-right: 1px solid rgba(0, 0, 0, 0.1);
                padding: 0 10px;
            }
            &:last-child {
                padding-left: 10px;
            }
            & > span {
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                display: block;
                color: #747474;
            }
            & > a {
                font-weight: normal;
                font-size: 20px;
                line-height: 24px;
                white-space: nowrap;
            }
        }
    }
    .contact {
        a {
            padding-right: 16px;
        }
    }
}

.footer-item {
    padding-bottom: 40px;
    
    .title {
        line-height: normal;
        letter-spacing: 0.5px;
        font-weight: bold;
        padding-top: 30px;

        margin-bottom: 10px;
        a {
            cursor: default;
            font-size: 15px;
            line-height: 24px;
            text-transform: uppercase;
            pointer-events: none;
            i {
                display:none;
            }
        }
        &.icon_none_first.title_mail {
            padding-top: 15px;
        }
    }
    .footer-list-link {
        line-height: 35px;
        padding: 0px;
        .li_nav {
            margin-bottom: 0px;
            font-size: 14px;
            line-height: 32px;
        }
    }
}
.social_footer {

    display: inline-block;
    width: 100%;
    .follow_option {
        float: left;
        width: 100%;
        margin-top: 8px;
        padding: 0px;
        li {
            float: left;
            margin-right: 10px;
            a {
                display: flex;
                align-items: center;
                width: 35px;
                height: 35px;
            }
        }
    }
}
.bg-footer-bottom {
    background: #F1F1F1;
}
#copyright {
    padding: 17px 0;
    text-align: center;
}

@media (min-width: 768px){
    footer .collapse {
        display: block;
    }
}


@media ( max-width: 768px ) {
    .footer-item {
        padding-bottom: 0 ;
        .title {
            margin-bottom: 0px;
            margin-top: 0px;
            padding-top: 0px !important;
            a {
                line-height: 22px;
                display: block;
                cursor: pointer;
                padding: 15px 20px 15px 0px;
                pointer-events: unset;
                i {
                    display: block;
                    position: absolute;
                    right: 0px;
                    width: 18px;
                    top: 17px;
                    text-align: center;
                    height: 18px;
                    line-height: 18px;
                    padding-left: 2px;
                    font-size: 13px;
                    color: #333;
                }
            }
        }
    }
    .multi-info-item {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 5px 0!important;
        border: none !important;
    }
    
    .mid-footer .footer-multi-info .multi-info-item > a {
        white-space: normal;
    }
    
    .mid-footer .footer-multi-info {
        flex-wrap: wrap;
    }
}
@media ( max-width: 768px) {
    footer .block-newsletter {
        margin-top: 25px; 
    }
    footer .block-newsletter .newsletter-left img {
        display: none;
    }
    footer .block-newsletter #newsletter-form .input-group-btn {
        position: relative;
        display: block;
        left: 0;
        width: 100%;
        text-align: center;
        margin-top: 5px;
    }
}