.block-review-wrapper {
    .block-review-main {
        position: relative;
        &:after {content: '';width: 1px;height: 100%;position: absolute;top: 0;right: -15px;background: rgb(224, 224, 224);}
    }
    
    
    .block-review-total {
        @include col-w(200px);
        padding: 10px 0 ;
        border-right: 1px solid rgb(224, 224, 224);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .block-review {
        padding: 31px 0;
        .review-avg {
            font-weight: normal;
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 10px;
        }
        .review-rating-total {
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #9C9C9C;
            margin-top: 13px;
        }
    }
    .block-review-right {
        padding: 0px 24px;
        .block_percent_rate {
            width: 237px;
            margin: 0 10px;
            position: relative;
            display: inline-block;
            font-size: 0;
            line-height: 0;
            vertical-align: middle;
            background: #E2E2E2;
            height: 4px;
            border-radius: 15px;
            span {
                position: absolute;
                left: 0;
                top: 0;
                height: 4px;
                background: #869ADE;
                font-size: 0;
                line-height: 0;
                display: inline-block;
            }
        }
    }

    .review-item {
        padding: 16px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        
        &:last-child {
            border:none;
        }

        .review-name {
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            .specialtext {
                font-weight: normal;
                font-size: 13px;
                line-height: 17px;
                color: #1BA84B;
            }
        }
        .review-time {
            font-weight: normal;
            font-size: 12px;
            line-height: 17px;
            color: #777777;
        }
        .review-content {
            display: block;
            padding: 17px 0;
        }
        .reply-review {
            padding: 18px;
            background: #F3F3F3;
            border-radius: 3px;
            .reply-name {
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: #249953;
            }
            .reply-content {
                margin-bottom: 5px;
            }
        }
    }
    .paging .page-item {
        width: 37px;
        height: 37px;
        line-height: 37px;
        margin: 0 5px;
    }

    .review-form {
        border: 1px solid #E0E0E0;
        border-radius: 3px;
        textarea {
            width: 100%;
            border: none;
            padding: 26px;
            padding-bottom: 0;
            outline: none;
        }
        .review-rate {
            display: flex;
            flex-direction: column;
        }
        .review-actions {
            padding: 19px 11px;
            border-top: 1px solid #E0E0E0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            .submit-review {
                background: #FFC738;
                border-radius: 3px;
                border: none;
                outline: none;
                font-size: 13px;
                line-height: 15px;
                color: #fff;
                padding: 13px 25px 10px 29px;
                border: 1px solid transparent;
                cursor: pointer;
            }
        }
        #review-name {
            border: 1px solid #CFCFCF;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 3px;
            line-height: 38px;
            height: 38px;
            min-width: 306px;
            padding: 0 17px;
            font-size: 13px;
            color: #9F9F9F;
            outline: none;
        }
        .rating-input {
            float: right;
            width: 20px;
            height: 20px;
            padding: 0;
            margin: 0 0 0 -20px;
            opacity: 0;
        }
        .rating-star{
            position:relative;
            float:right;
            display:block;
            width:20px;
            height:20px;
            background:url('../images/product/star_rating.png')  -2px -25px;;
            margin: 0 2px 0 0;
        }
        .rating-star:hover, .rating-star:hover ~ .rating-star{background-position:-2px -25px;}
        .rating-star:hover, .rating-star:hover ~ .rating-star, .rating-input:checked ~ .rating-star{background-position:-2px -2px}

    }
}

@media (max-width: 1564px) {
    .block-review-wrapper .block-review-main:after {
        display: none;
    }
}

@media ( max-width : 992px ) {
    .block-review-wrapper .review-form .review-rate{
        @include col-w(100%);
        flex-direction: row;
        margin-bottom: 10px;
        .title { margin-right: 5px;}
    }
    .block-review-wrapper .review-form #review-name {
        min-width: 100%;
        margin-bottom: 10px;
    }
}