<!DOCTYPE html>
<html lang="vi">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Xac thuc email</title>
</head>

<body>

<h2>Cảm ơn quý khách đã đăng ký tài khoản tại Hệ thống website của {$website},</h2>

<p>Quí khách vui lòng click chuột hoặc copy link dưới đây dán trình duyệt để xác thực địa chỉ email này.</p>

<div>{$verify_url}
  <br>
    <br>
      hoặc {$verify_url}
      
    </div>

<p>Chúc quí khách có những phút giây mua sắm hiệu quả tại Website.</p>


</body>
</html>
