<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>
<body>
<table align="center" cellpadding="0" cellspacing="0"
       style="background-color: #D4EEFB;margin:auto; border-collapse: collapse; width: 600px; font-family: verdana;">
<tr>
<td style="padding:20px 30px; width: auto">

<!--Main Body-->
<table cellpadding="0" cellspacing="0"
       style="border-collapse: collapse; background-color: white; width:600px; margin: auto">
<!--Banner-->
<tr>
    <td style="background-color:#00c0f1">
        <table cellpadding="0" cellspacing="0" style="border-collapse: collapse; width: 100%">
            <tr style="border: 1px solid #B3E4FC">
                <!--Ban Tin VNW-->
                <td style="width:80%;font-size:22px; font-family:arial;color:#ffffff;font-weight: bold; padding:25px 0 20px 20px;">
                    Cảm ơn bạn đã đăng ký<br/>

                    <!--<p style="margin:0; font-weight:normal; font-size:18px"> 27/2/2013</p>-->
                 </td>
                <!--Logo-->
                <td style="padding-right: 20px; width: 50%;">
                    
                </td>
            </tr>
        </table>
    </td>
</tr>
<!--Menu--><!--Header 1--><!--Below Header-->
<tr style="border-left: 1px solid #B3E4FC; border-right: 1px solid #B3E4FC">
    <td height="5"></td>
</tr>
<!--Content 1-->
<tr style="border-left: 1px solid #B3E4FC; border-right: 1px solid #B3E4FC;border-bottom: 1px solid #B3E4FC;">
    <td>
        <table cellpadding="0" cellspacing="0" style="border-collapse: collapse; font-size: 12px">
            <tr>
                <!--Content-->
                <td style="padding-left: 20px; padding-right: 20px; padding-bottom: 30px; font-family: verdana, arial; padding-top:10px">
                    <p style="margin-bottom:15px; font-weight:bold">Chào bạn {$new_register_name},</p>

                    <p style="text-align:justify; margin: 15px 0">Cảm ơn bạn đã đăng ký tài khoản tại website chúng tôi.</p>

                    <p style="text-align:justify; margin: 15px 0 ">Với tài khoản đăng ký này bạn có thể dễ dàng đặt mua hàng, theo dõi các đơn hàng và đặc biệt là được hưởng các lợi ích từ chính sách chăm sóc khách hàng thường xuyên của chúng tôi.</p>
                    
                     <p style="text-align:justify; margin: 15px 0 ">Nếu bạn có bất kỳ khó khăn nào, hãy liên hệ với chúng tôi để góp ý và giúp chúng tôi ngày càng phục vụ bạn tốt hơn.</p>
                </td>
            </tr>
        </table>
    </td>
</tr>
<!--Space-->

<!--Line-->
<tr>
    <td style="min-height:1px; max-height:1px; height:1px; line-height:1px; background:#B3E4FC "></td>
</tr>
<!--Copyright-->
<tr style="font-size: 11px; color: #6A787E; text-align: center; background: #D4EFFC">
    <td style="padding-top:20px; padding-bottom: 15px; font-family: verdana, arial;color:#0079B1;">
        <!--Lien he-->
    </td>
</tr>
<tr>
    <td style="font-size: 11px; color: #6A787E;  text-align: center; background: #D4EFFC; line-height: 16px; font-family: verdana, arial;">
        <div>Copyright © 2013</div>
    </td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>
