// body {
    
//     width: 100%;
//     min-height: 100%;
// }
.login-theme {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100vh;
    padding-top: 44px;
    padding-bottom: 73px;
    overflow-y: scroll;
    .custom-container {
        padding-top: 0 ;
    }
    &.login-theme-1 {
        background: url('../images/bg-login-theme-1.png') no-repeat center;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        .head-desc {
            color : #e3e1e1; 
        }
        .edit-main-box {
            color: #fff;
        }
    }
    &.login-theme-2 {
        background: url('../images/bg-login-theme-2.png') no-repeat center;
        
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        .login-form {
            color: #333333;
        }
        .btn-submit {
            background-color : #94733A ;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
            text-align: center;
            color: #FFFFFF;
        }
    }
    &.login-theme-3 {
        background: url('../images/bg-login-theme-3.png') no-repeat center;
        
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        .login-form {
            color : #000000;
        }
        .head-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            text-align: center;
            color: #000000;
            padding-top: 24px; 
            padding-bottom: 17px;
        }

        .btn-submit {
            background: #004C3B;
        }
    }
    &.login-theme-4{
        background: url('../images/bg-login-theme-4.png') no-repeat center;
        
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        .edit-main-box {
            color: #fff;
        }
        .box-header .head-desc {
            color: #F2F2F2;
        }
        .theme-desc {
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            text-align: center;
        }
        #select-rate-pro {
            // float: left;
            // width: 100%;
            width: 280px;
            margin: 0 auto;
            text-align: center;
        }
        .rating-input{
            float: left;
            width: 52px;
            height: 50px;
            padding: 0;
            margin: 0 0 0 -52px;
            opacity: 0;
        }
         .rating-star:hover{
            background-position:0 0;
        }
         .rating-star{
            position: relative;
            float: right;
            display: block;
            width: 52px;
            height: 50px;
            background: url(../images/star_rating.png) 0 0px;
            margin: 0 2px;
        }
         .rating-star:hover, .rating-star:hover ~ .rating-star{
            background-position:0 0;
        }
         .rating-star:hover, .rating-star:hover ~ .rating-star, .rating-input:checked ~ .rating-star{
            background-position:0 0;
        }
         .rating:hover .rating-star:hover, .rating:hover .rating-star:hover ~ .rating-star, .rating-input:checked ~ .rating-star{
            background-position:0 0;
        }
         .rating-star, .rating-comment:hover .rating-star{
            position:relative;
            float:right;
            display:block;
            background:url('../images/star_rating.png?v=2.1') 0 -64px;
        }
         .rating-comment:hover .rating-star:hover, .rating-comment:hover .rating-star:hover ~ .rating-star{
            background-position:0px -125px !important;
        }
        #star_tip {
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            margin-top: 11px;
            float: left;
            width: 100%;
        }
        .custom-textarea {
            background: #FFFFFF;
            border: 1px solid #DDDDDD;
            width: 100%;
            border-radius: 4px;
            padding-top: 12px;
            padding-left: 12px;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #828282;
            max-height: 92px;
            margin-bottom:15px;
            &:focus {
                border: none;
                outline: none; 
            }
        }
    }
    &.login-theme-5 {
        background: url('../images/bg-login-theme-5.png') no-repeat center;
        
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        .edit-main-box {
            background: rgba(255,255,255,0.6);
            border-radius: 10px;
            color : #121212 ;
            padding: 45px;
            .box-header .head-title{
                color: #121212;
            }
            .box-header .head-desc {
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #121212;
                margin-top: 40px;
                margin-bottom: 20px;
            }
            .btn-submit {
                background: #3B5999;
                i {
                    margin-right: 10px;
                }
            }
        }
    }
    &.login-theme-6  {
        background: url('../images/bg-login-theme-6.png') no-repeat center;
        
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        padding: 0;
        .custom-container {
            padding: 0 ;
        }
        .login-themes {
            width: 100%;
            height: 100%;
            max-width: 100%;
        }
        .edit-main-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
        }
        .btn-submit-fixed-bottom{
            padding: 21px 14px;
            text-align: center;
        }
        .btn-submit.btn-submit-red {
            background: #F51C22;
            display: inline-block;
            width: auto;
            padding: 11px 32px;
            max-width: 250px;
            line-height: unset;
            height: auto;
            margin-bottom: 0;
        }
        .slick-dotted.slick-slider{
            margin-bottom: 0;
        }
        .slick-dots {
            display: flex;
            justify-content: center;
            margin: 0;
            bottom: 20px;
            list-style-type: none;
                li {
                    margin: 0 5px;
                    width: 10px;
                    height: 10px;
                }
                button {
                    display: block;
                    width: 10px;
                    height: 10px;
                    padding: 0;
                    
                    border: none;
                    border-radius: 100%;
                    background: #FFFFFF;
                    opacity: 0.2;
                    text-indent: -9999px;
                }
            
                li.slick-active button {
                    background: #FFFFFF;
                    opacity: 1;
                }
            
        }
        .slider , .slick-slider{
            height: calc( 100vh - 110px);
            .slick-track {
                height: 100%;
            }
            
            .slick-slide img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }
        .slick-slider{
            display: flex;
        }
    }
    &.login-theme-7{
        background: url('../images/bg-login-theme-6.png') no-repeat center;
        
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        .video-box {
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-top: 56.25%; 
          }
          
        .responsive-iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
        .box-header .head-title {
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #C5302A;
            margin: 20px 0 30px 0 ;
        }
        .box-header .head-desc {
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            color: #333333;
            margin: 10px 0 24px 0 ;
        }
        .btn-submit {
            background: #04A6B0;
        }
    }
}

.login-themes {
    max-width: 500px;
    margin: 0 auto;
    .edit-main-box {
        background: transparent;
        width: 100%;
        padding: 0;
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0,0);
    }
    .btn-submit {
        margin-bottom: 20px;
    }
}
.color-gray {
    color : #555555 ; 
}

.btn-submit {
 cursor: pointer;
}
// theme 3
@media ( max-width: 640px) {
    .login-theme.login-theme-3 {
        width: 100%;
        height: 100vh;
        padding-bottom: 30px;
        .edit-main-box {
            position: fixed; 
            height: 100%;
            top: 0 ;
            left: 0 ; 
            padding: 4vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .btn-submit {
            margin-bottom: 0;
        }
    }
    .login-theme.login-theme-5 {
        .edit-main-box {
            background : transparent;
            padding: 0 ; 
            
            .box-header .head-title ,
            .box-header .head-desc{
                color : #fff ;
            }
        }
    }
}
