@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    min-width: 1200px;
    background: #f0eded;
    overflow-x: hidden;
}
#wrap {
    min-width: 1200px;
}
.container {
    width: 1200px;
    margin: auto;
    position: relative;
}
.ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;
}
#top {
    height: 35px;
    background: #000;
    color: #fff;
    font-size: 14px;
    &> .container > ul > li {
        float: left;
        line-height: 29px;
        margin-right: 40px;
        position: relative;
        white-space: nowrap;
        font-size: 14px;
    }
    a {
        color: #fff;
        font-size: 14px;
        white-space: nowrap;
    }
    ul li:last-child{
        float:right;
    }
    .social-icon {
        margin-right: 5px;
        font-size: 16px;
        line-height: 35px;
    }
}
#header {
    height: 85px;
    position: relative;
    background: #fff;
    #logo {
        float: left;
        text-decoration: none;
        margin-top: 17px;
    }
    #search {
        width: 500px;
        height: 38px;
        float: left;
        background: #fff;
        margin-top: 25px;
        margin-left: 50px;
        border-radius: 3px;
        border: 1px solid #333;
    }
    #text_search {
        width: 83%;
        height: 35px;
        border: none;
        margin-right: 10px;
        background: none;
        float: left;
        outline: none;
        margin-left: 10px;
    }
    #submit_search {
        width: 50px;
        border: none;
        cursor: pointer;
        float: right;
        background-color: #282828;
        color: #fff;
        font-weight: 700;
        height: 38px;
        font-size: 20px;
    }
    #cart {
        float: right;
        border: 1px solid #8c0408;
        border-radius: 5px;
        line-height: 35px;
        padding: 0 20px 0 15px;
        position: relative;
        margin-top: 25px;
        a {
            font-size: 14px;
        }
        i {
            font-size : 20px;
        }
        span {
            vertical-align: top;
        }
        #count_shopping_cart_store {
            background: url('/images/count-cart.png') no-repeat left top;
            position: absolute;
            color: #fff;
            font-size: 14px;
            padding: 0px 10px;
            right: -5px;
            top: -10px;
            background-size: 100% 100%;
            line-height: 20px;
        }
    }
    #header_right {
        width: 210px;
        float: left;
        margin-left: 80px;
        margin-top: 20px;
        position: relative;
        height: 43px;
        #hotline_header{
             i {
                height: 37px;
                color: #185069;
                width: 37px;
                margin-top: 5px;
                float: left;
                background: url('/images/hotline-bg.png'); 
            }
            span{
                font-size: 13px;
                display: inline-block;
                text-align: left;
                margin-left: 5px;
                .hotline-number {
                    font-size: 25px;
                    color : #ed1b24;
                }
            }
        }
    }
}
#nav-main {
    background: #de0006;
    height: 40px;
    #nav_doc {
        width: 210px;
        float: left;
        position: relative;
        z-index: 200;
        padding-top: 0px;
        .title_nav-doc {
            height: 40px;
            line-height: 40px;
            text-transform: uppercase;
            position: relative;
            text-align: left;
            font-size: 15px;
            z-index: 99999;
            color: #fff;
        }
        &> ul {
            position: absolute;
            background: #ffffff;
            width: 206px;
            top: 43px;
            left: 0;
            height: 444px;
            z-index: 99;
            border: solid 2px #f0efef;
            &>li {
                border-top: solid 1px #eeeeee;
                padding-left: 40px;
                line-height: 28px;
                overflow: hidden;
                height: 28px;
                margin-right: -2px;
                &>a {
                    color: #333;
                    font-weight: 400;
                    font-family: Roboto;
                    font-size: 14px;
                }
            }
        }
        .sub-nav {
            position: absolute;
            left: -2209px;
            min-height: 451px;
            width: 731px;
            top: -2px;
            background: white;
            z-index: 99;
            border: solid 1px #ccc;
            overflow: hidden;
            .box_cate {
                padding: 9px;
                float: left;
                line-height: 20px;
                width: 163px !important;
                .sub1 {
                    font-weight: bold;
                    color: #d00;
                    font-size: 13px;
                    width: 100%;
                    line-height: 20px;
                }
            }
        }
    }
    #nav_ngang {
        height: 40px;
        width: 979px;
        line-height: 40px;
        float: right;
        border-radius: 3px 3px 0 0;
        color: #fff;
        box-sizing: border-box;
        margin-left: 10px;
        a {
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            font-size: 12px;
            margin: 0 25px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
            img {
                vertical-align: middle;
                margin-right: 5px;
            }
        }
    }
}
#container_slider {
    width: 690px;
    height: 420px;
    overflow: hidden;
    margin-left: 300px;
    position: relative;
    #slider {
        width: 720px;
        position: relative;
        margin-right: 10px;
    }
    #sync1 {
        max-height: 360px;
        overflow: hidden;
      }
      #sync2 {
        border: solid 1px #ddd;
        box-sizing: border-box;
        width: 100%;
        float: left;
        font-size: 13px;
        line-height: 17px;
        height: 80px;
        background: #d00;
        overflow: hidden;
        .item {
            width: 100%;
            height: 61px;
            float: left;
            padding: 7px 8px;
            box-sizing: border-box;
            cursor: pointer;
            position: relative;
            text-align: center;
            font-size: 13px;
            font-family: tahoma;
            border-right: solid 1px #ddd;
          cursor: pointer;
          h1 {
            font-size: 18px;
          }
        }
        .current .item{
          background: #ffffff;
        }
      }
}
b.title-f {
    font-size: 16px;
    display: block;
    text-transform: uppercase;
    margin: 10px 0px;
}
#likebox_bottom {
    float: left;
    width: 480px;
    height: 250px;
}
#support_center {
    width: 700px;
    float: right;
    height: 250px;
    padding: 0px 10px;
    i.icons.icon-subscrible {
        width: 73px;
        height: 20px;
        background-position: -155px -233px;
        vertical-align: text-bottom;
        margin-top: -14px;
    }
    .icons {
        display: inline-block;
        background-image: url('https://www.hanoicomputer.vn/template/default/images/sprite2.png');
        background-repeat: no-repeat;
    }
    ul {
        padding-left: 15px;
        list-style: none;
        padding-top: 0;
        line-height: 20px;
        border-top: 1px solid #333;
        li {
            margin: 8px 0;
            font-size: 13px;
        }
    }
}
.you-ft {
    width: 300px;
    float: left;
    b {
        display: inline-block !important;
    }
}
.tg-ft {
    float: left;
    width: 345px;
    padding: 0px 10px;
    p {
        font-size: 14px;
        text-transform: uppercase;
        padding: 0px 10px;
        margin: 0;
        font-weight: bold;
    }
}
.space2 {
    height: 10px;
    clear: both;
    display: block;
}
.font16 {
    font-size: 16px;
  }
  
  .icons {
    display: inline-block;
    background-image: url('/images/sprite.png');
    background-repeat: no-repeat;
  }
  
  footer-bottom {
    font-size: 14px;
    padding-top: 15px;
  }
  
  footer table {
    width: 100%;
    td {
      vertical-align: top;
    }
  }
  
  .center {
    text-align: center;
  }
  
  .list_info {
    b.title {
      color: #e00;
      display: block;
      margin-bottom: 5px;
    }
    a {
      display: block;
      padding: 6px 0;
      font-size: 13px;
    }
  }
  
  a.icons {
    &.icon-pay-tienmat {
      width: 76px;
      height: 29px;
      background-position: 0 -222px;
    }
    &.icon-pay-visa {
      width: 51px;
      height: 29px;
      background-position: -85px -222px;
    }
    &.icon-pay-chuyenkhoan {
      width: 76px;
      height: 29px;
      background-position: 0 -261px;
    }
    &.icon-pay-master {
      width: 42px;
      height: 29px;
      background-position: -84px -262px;
    }
    &.icon-pay-banking {
      width: 76px;
      height: 29px;
      background-position: 0 -302px;
    }
  }
  
  #news_letter {
    width: 296px;
    float: right;
    p {
      font-weight: 500;
      font-size: 14px;
    }
  }
  
  .btn {
    cursor: pointer;
    display: inline-block;
    border: none;
    &.btn-blue {
      background: rgb(53, 155, 217);
      background: -moz-linear-gradient(top, rgba(67, 164, 239, 1) 0%, rgba(69, 187, 247, 1) 100%);
      background: -webkit-linear-gradient(top, rgba(67, 164, 239, 1) 0%, rgba(69, 187, 247, 1) 100%);
      background: linear-gradient(to bottom, rgb(21, 141, 214) 0%, rgb(60, 176, 234) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43a4ef', endColorstr='#45bbf7',GradientType=0 );
      color: #fff;
      padding: 9px 18px !important;
      font-size: 16px;
      border-radius: 2px;
      border: solid 1px #0f84ca;
    }
  }
  
  #news_letter p .btn-blue {
    background: #056bad;
    color: #fff;
    padding: 3px 10px;
    border-radius: 3px;
    font-size: 14px;
    padding: 3px 10px !important;
  }
  
  #email_newsletter {
    width: 200px;
    height: 33px;
    padding: 0 5px;
    border-radius: 3px;
    border: solid 1px #ccc;
    float: left;
  }
  
  #news_letter .button {
    background: #056bad;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    height: 33px;
    padding: 0 12px;
    text-align: center;
    line-height: 34px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    float: right;
  }
  
  #tag_footer {
    padding: 10px 0;
    border-bottom: solid 1px #ccc;
    a {
      color: #666;
      text-decoration: none;
      padding: 0 9px;
      border-left: solid 1px #ccc;
    }
  }
  
  #copyright {
    float: left;
    font-weight: 600;
    padding-left: 10px;
  }
  .showroom-list {
    background-color: #de0006;
  }