<footer>
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-2 ft_col">
                    <h3>Iphone</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Iphone xyz</a></li>
                        <li><a href="#">Iphone xyz</a></li>
                        <li><a href="#">Iphone xyz</a></li>
                        <li><a href="#">Iphone xyz</a></li>
                        <li><a href="#">Iphone xyz</a></li>
                        <li><a href="#">Iphone xyz</a></li>
                        <li><a href="#">Iphone xyz</a></li>
                        <li><a href="#">Iphone xyz</a></li>
                        <li><a href="#">Iphone xyz</a></li>
                        <li><a href="#">Iphone xyz</a></li>
                        <li><a href="#">Iphone xyz</a></li>
                    </ul>
                </div>
                <div class="col-2 ft_col">
                    <h3>Máy tính bảng</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Máy tính bảng oxy</a></li>
                        <li><a href="#">Máy tính bảng oxy</a></li>
                        <li><a href="#">Máy tính bảng oxy</a></li>
                        <li><a href="#">Máy tính bảng oxy</a></li>
                        <li><a href="#">Máy tính bảng oxy</a></li>
                        <li><a href="#">Máy tính bảng oxy</a></li>
                        <li><a href="#">Máy tính bảng oxy</a></li>
                        <li><a href="#">Máy tính bảng oxy</a></li>
                        <li><a href="#">Máy tính bảng oxy</a></li>
                        <li><a href="#">Máy tính bảng oxy</a></li>
                    </ul>
                </div>
                <div class="col-2 ft_col">
                    <h3>Samsung</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Samsung galaxy</a></li>
                        <li><a href="#">Samsung galaxy</a></li>
                        <li><a href="#">Samsung galaxy</a></li>
                        <li><a href="#">Samsung galaxy</a></li>
                        <li><a href="#">Samsung galaxy</a></li>
                        <li><a href="#">Samsung galaxy</a></li>
                        <li><a href="#">Samsung galaxy</a></li>
                        <li><a href="#">Samsung galaxy</a></li>
                        <li><a href="#">Samsung galaxy</a></li>
                    </ul>
                </div>
                <div class="col-2 ft_col">
                    <h3>Smartwatch</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Smartwatch full smart</a></li>
                        <li><a href="#">Smartwatch full smart</a></li>
                        <li><a href="#">Smartwatch full smart</a></li>
                        <li><a href="#">Smartwatch full smart</a></li>
                        <li><a href="#">Smartwatch full smart</a></li>
                        <li><a href="#">Smartwatch full smart</a></li>
                        <li><a href="#">Smartwatch full smart</a></li>
                        <li><a href="#">Smartwatch full smart</a></li>
                    </ul>
                </div>
                <div class="col-2 ft_col">
                    <h3>Phụ Kiện</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Phụ kiện chính hãng</a></li>
                        <li><a href="#">Phụ kiện chính hãng</a></li>
                        <li><a href="#">Phụ kiện chính hãng</a></li>
                        <li><a href="#">Phụ kiện chính hãng</a></li>
                        <li><a href="#">Phụ kiện chính hãng</a></li>
                        <li><a href="#">Phụ kiện chính hãng</a></li>
                        <li><a href="#">Phụ kiện chính hãng</a></li>
                    </ul>
                </div>
                <div class="col-2 ft_col">
                    <h3>Dịch vụ</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Dịch vụ thông minh</a></li>
                        <li><a href="#">Dịch vụ thông minh</a></li>
                        <li><a href="#">Dịch vụ thông minh</a></li>
                        <li><a href="#">Dịch vụ thông minh</a></li>
                        <li><a href="#">Dịch vụ thông minh</a></li>
                    </ul>
                    <h3>Dịch vụ</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Dịch vụ thông minh</a></li>
                        <li><a href="#">Dịch vụ thông minh</a></li>
                        <li><a href="#">Dịch vụ thông minh</a></li>
                        <li><a href="#">Dịch vụ thông minh</a></li>
                        <li><a href="#">Dịch vụ thông minh</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row">                
                <div class="col-2 ft_col">
                    <h3>Liên Kết</h3>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fas fa-info"></i> Giới thiệu</a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i> Youtube</a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i>Google</a></li>
                        <li><a href="#"><img src="{#IMAGE_PATH#}bct.png" alt=""></a></li>
                    </ul>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-3 ft_col">
                            <h3>Chính sách và quy định</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">Hướng dẫn mua hàng</a></li>
                                <li><a href="#">Chính sách bảo mật</a></li>
                                <li><a href="#">Chính sách vận chuyển</a></li>
                                <li><a href="#">Chính sách bảo hành</a></li>
                                <li><a href="#">Chính sách đổi hàng</a></li>
                                <li><a href="#">Quy định thanh toán</a></li>
                                <li><a href="#">Thông báo tuyển dụng</a></li>
                            </ul>
                        </div>
                        <div class="col-3 ft_col">
                            <h3>Liên hệ</h3>
                            <ul class="list-unstyled">
                                <li><p><i class="far fa-clock"></i><b>9h - 21h30</b>(Tất cả các ngày trong tuần)</p></li>
                                <li><p><a href="mailto:tantanstore.vn@gmail.com"><i class="fas fa-envelope"></i> tantanstore.vn@gmail.com</a></p></li>
                            </ul>
                            <h3>Khiếu nại - Góp ý</h3>
                            <ul class="list-unstyled">
                                <li><p><a href="mailto:tantanstore.vn@gmail.com"><i class="fas fa-envelope"></i> tantanstore.vn@gmail.com</a></p></li>
                            </ul>
                        </div>
                        <div class="col-3 ft_col">
                            <h3>Thông tin cửa hàng</h3>
                            <ul class="list-unstyled">
                                <li><p><i class="fas fa-map-marker-alt"></i><b>Số 112 Ô Chợ Dừa, Đống Đa, Hà Nội</b></p></li>
                                <li><p><i class="fas fa-phone-volume"></i><b>Tư vấn mua hàng: 0966.666.763</b></p></li>
                                <li><p><i class="fas fa-phone-volume"></i><b>Tư vấn mua hàng: 01238.83.93.93</b></p></li>
                                <li><p><i class="fas fa-phone-volume"></i><b>Hỗ trợ - Bảo hành: 01238.63.93.93</b></p></li>
                                <li><p><i class="fas fa-phone-volume"></i><b>Khiếu nại: 096.432.2222</b></p></li>
                            </ul>
                        </div>
                        <div class="col-3 ft_col">
                            <h3>Có thể thanh toán</h3>
                            <a href="#">
                                <img src="{#IMAGE_PATH#}visa-mastercard.png" alt="">
                            </a>
                            <div class="iframe">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3515.299144170421!2d105.82646716254436!3d21.019488553005395!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x631bbd097ef0bcc1!2zQ-G7rWEgSMOgbmcgxJBp4buHbiBUaG_huqFpIFTDom4gVMOibiBTdG9yZQ!5e0!3m2!1svi!2sus!4v1538453597593" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>