<header>
    <div class="header-ducdt-12">
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-5">
                        <div class="bar-left">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item top-hotline">
                                    <span>Hotline 24/7:
                                        <span class="hotline">
                                            1900 12340
                                        </span>
                                        Từ 8h30 - 19h30 (T2 - CN) </span>
                                </li>
                                <li class="list-inline-item social-list">
                                    <i class="fab fa-facebook-square"></i>
                                    <i class="fab fa-google-plus-g"></i>
                                    <i class="fab fa-youtube"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- ................... -->
                    <div class="col-7">
                        <div class="bar-right float-right">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item text-14">
                                    <i class="fas fa-user" style="color: white;">
                                    </i>
                                    <a href="#">
                                        Đăng nhập
                                    </a>
                                </li>
                                <li class="list-inline-item text-14">
                                    <a href="#">
                                        Đăng ký
                                    </a>
                                </li>
                                <li class="list-inline-item text-14">
                                    <a href="#">
                                        Trợ giúp
                                        <i class="fas fa-angle-down">
                                        </i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main header -->
        <div class="main-head">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <div class="logo">
                            <a href="#">
                                <img src="{#IMAGE_PATH#}logo.png" width="140" height="50" />
                            </a>
                        </div>
                    </div>
                    <!-- ................... -->
                    <div class="col-6 pl-5">
                        <div class="search-all">
                            <div class="dropdown">
                                <button class="btn bg-white dropdown-toggle" data-toggle="dropdown" type="button">
                                    Tất cả danh mục
                                </button>
                                <div class="dropdown-menu">
                                    <span class="dropdown-item" href="#">
                                        Link 1
                                    </span>
                                    <span class="dropdown-item" href="#">
                                        Link 2
                                    </span>
                                    <span class="dropdown-item" href="#">
                                        Link 3
                                    </span>
                                </div>
                            </div>
                            <form class="form">
                                <input class="search-all-text" placeholder="Từ khoá tìm kiếm" type="text">
                                <input class="search-all-button" type="button" value="TÌM KIẾM">
                            </form>
                        </div>
                    </div>
                    <!-- ................... -->
                    <div class="col-3">
                        <div class="d-inline-block float-right img-right">
                            <div class="img-right-img cart-header">
                                <img src="{#IMAGE_PATH#}icon-cart.png" />
                                <span id="count_shopping_cart_store" class="text-16">1</span>
                            </div>
                            <div class="img-right-text">
                                <a href="#">
                                    <b>
                                        GIỎ HÀNG
                                        <br>
                                        23.500.000 đ
                                        <i class="fas fa-angle-down">
                                        </i>
                                    </b>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both;">
            </div>
        </div>
        <!-- End main header -->
        <!-- Menu -->
        <div class="menu">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <div class="danh-muc-title"  style="z-index: 2;">
                            <a href="#" style=" padding-left: 30px;">
                                DANH MỤC
                                <span class="danh-muc-title-img">
                                    <i class="fas fa-bars">
                                    </i>
                                </span>
                            </a>
                            <!-- ------------------------ -->
                            <div class="danh-muc-list {if="$module.name!='home'"}deactive{/if}">
                                <ul class="list-unstyled position-relative">
                                    <li class="position-relative">
                                        <a href="#">
                                            Điện máy
                                            <i class="fas fa-angle-right">
                                            </i>
                                        </a>
                                    </li>
                                    <li class="position-relative">
                                        <a href="#">
                                            Nội thất
                                            <i class="fas fa-angle-right">
                                            </i>
                                        </a>
                                    </li>
                                    <li class="position-relative">
                                        <a href="#">
                                            Tiêu dùng
                                            <i class="fas fa-angle-right">
                                            </i>
                                        </a>
                                    </li>
                                    <li class="position-relative">
                                        <a href="#">
                                            Dịch vụ
                                            <i class="fas fa-angle-right">
                                            </i>
                                        </a>
                                    </li>
                                    <li class="position-relative">
                                        <div class="menu-sale-item">
                                            <a href="#" class="orange">
                                                <span class="last-item">
                                                    <i class="fas fa-tag">
                                                    </i>
                                                </span>
                                                SALE
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- ------------------------ -->
                    <div class="col-9">
                        <div class="danh-muc-info ">
                            <ul class="m-0 p-0 d-flex justify-content-around">
                                <li>
                                    <a href="#">
                                        <i class="fas fa-bus"></i>
                                        Lịch trình xe bus
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-map-marker-alt">
                                        </i>
                                        Bản đồ tới Micom
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-newspaper"></i>
                                        Bản tin Micom
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-place-of-worship"></i>
                                        Làm việc tại Micom
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Menu -->
    </div>
</header>