<div id="breadcrumb">
    <div class="container">
        <div class="d-flex">
            <div class="item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="/" itemprop="url" class="nopad-l">
                    <span itemprop="title">Trang chủ</span>
                </a>
            </div>
            {if="sizeof($article_detail.categoryInfo) > 0"}
            <div class="item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="{$article_detail.categoryInfo.0.request_path}" itemprop="url" class="nopad-l">
                    <span itemprop="title">{$article_detail.categoryInfo.0.name}</span>
                </a>
            </div>
            {/if}
            <div class="item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="" itemprop="url" class="nopad-l">
                    <span itemprop="title">{$article_detail.title}</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!--breadcrumb-->
<div class="container bg-white rounded py-3">
    <div class="row">
        <div class="col-12">
            <h1 class="border-bottom mb-4 pb-2 text-18 text-uppercase">{$article_detail.title}</h1>
            <div class="w-100 mb-2">
                <span class="b-time fw-300"><i class="far fa-clock"></i> {$article_detail.lastUpdate}</span>
                <div class="float-right">
                    <iframe src="https://www.facebook.com/plugins/like.php?href={#CURRENT_DOMAIN#}&width=122&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId" width="122" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
            <div class="w-100 b-emtry_content">
                {$article_detail.content}
            </div>
            <ul class="blog-related list-unstyled mt-5">
                <h4 class="fw-500 text-16">Bài liên quan</h4>
                {loop="$other_article_list[$article_detail.categoryInfo.0.id]"}
                {if="$counter < 8"}
                    <li><i class="fas fa-chevron-right text-11"></i> <a href="{$value.url}" class="color_22">{$value.title}</a></li>
                {/if}
                {/loop}
            </ul>
        </div>
    </div>
</div>