<div id="breadcrumb">
    <div class="container">
        <div class="d-flex">
            <div class="item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="/" itemprop="url" class="nopad-l">
                    <span itemprop="title">Trang chủ</span>
                </a>
            </div>
            <div class="item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="" itemprop="url" class="nopad-l">
                    <span itemprop="title">{$category_info.name}</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!--breadcrumb-->
<div class="container bg-white rounded py-3">
    <div class="row">
        <div class="col-12">
            <h1 class="border-bottom mb-4 pb-2 text-18 text-uppercase">{$category_info.name}</h1>
            {if="$category_info.isParent"}
            {loop="$article_category.article[$category_info.id]"}
            <div class="w-100 my-3 blog_home row border-bottom">
                <h4 class="col-12"><a href="{$value.url}" class="text-16 color_22">{$value.title}</a></h4>
                <div class="col-12 col-lg-6">
                    {loop="$other_article_list[$value.id]"}
                    {if="$counter < 1 && 1 < 2"}
                        <div class="blog_item_1">
                            <a href="{$value.url}" class="b-img">
                                <img src="{$value.image.original}" alt="{$value.title}">
                            </a>
                            <a href="{$value.url}" class="b-name">{$value.title}
                                <span>Xem thêm</span>
                            </a>
                        </div>
                    {/if}
                    {/loop}
                </div>
                <div class="col-12 col-lg-6">
                    {loop="$other_article_list[$value.id]"}
                    {if="$counter > 0 && $counter < 4"}
                        <div class="blog_item_2 flex">
                            <a href="{$value.url}" class="b-img">
                                <img class="img-fluid" src="{$value.image.thum}" alt="{$value.title}">
                            </a>
                            <p>
                                <a href="{$value.url}" class="b-name fw-500 text-14">{$value.title}</a>
                                <span class="d-block mt-2">Cập nhập: <i>{$value.lastUpdate}</i></span> 
                            </p>
                        </div>
                    {/if}
                    {/loop}
                </div>
            </div>
            {/loop}
            {/if}
            {loop="$other_article_list[$category_info.id]"}
                <div class="blog_item_2 row mb-4">
                    <div class="col-12 col-md-4">
                        <a href="{$value.url}" class="b-img">
                            <img class="img-fluid w-100 rounded" src="{$value.image.thum}" alt="{$value.title}">
                        </a>
                    </div>
                    <div class="col-12 col-md-8">
                        <a href="{$value.url}" class="b-name text-16 fw-500 color_22">{$value.title}</a>
                        <span class="d-block my-2 text-12">Cập nhập: <i>{$value.lastUpdate}</i></span> 
                        <p>{$value.summary|subString:130}</p>
                    </div>
                </div>
            {/loop}
        </div>
    </div>
</div>