<div class="comment-form">
          <img src="{#IMAGE_PATH#}noavatar.jpg" alt="avatar" class="img-avatar"/>
          <form action="/ajax/post_comment.php" method="post" enctype="multipart/form-data"  onsubmit="return check_field(0)">
            <input type=hidden name='user_post[item_type]' value='article'/>
            <input type=hidden name='user_post[item_id]' value='{$article_detail.id}'/>
            <input type=hidden name='user_post[item_title]' value='{$article_detail.title}'/>
            <input type=hidden name='user_post[rate]' value='0'/>
            <input type=hidden name='user_post[title]' value='{$article_detail.title}'/>
            <input type=hidden name='user_post[user_email]' value='{$customer_info.email}'/>
            <input type=hidden name='user_post[user_name]' value='{$customer_info.name}'/>
            <input type=hidden name='user_post[user_avatar]' value='{$customer_info.avatar}'/>

            <div class="relative">
              <textarea name="user_post[content]" placeholder="Nội dung bình luận"  id="content0"></textarea>
              {if="$is_customer_login=='yes'"}
              <input type="submit" value="Bình luận" class="btn btn-red right" />
              {else}
              <div class="form-input">
                <a href="javascript:closeFormCommentInput();" class="close">x</a>
                <table style="width:100%;" class="tbl-common">
                  <tr class="font14">
                    <td style="width:50%;">Nhập thông tin để bình luận</td><td>Hoặc đăng nhập qua</td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" id="name0" name='user_post[user_name]' class="inputText" placeholder="Họ tên (bắt buộc)" value="{$customer_info.name}"/>
                    </td>
                    <td>
                    <a href="javascript:open_oauth('Google')"><img src="{#IMAGE_PATH#}log-in-with-google.jpg" alt="login google" /></a>
                    <a href="javascript:open_oauth('Facebook')"><img src="{#IMAGE_PATH#}log-in-with-facebook.jpg" alt="facebook" /></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" id="email0" name='user_post[user_email]' class="inputText" placeholder="Email" value="{$customer_info.email}"/>
                    </td>
                    <td>
                      
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="inputText" id="comment-capcha0" name="captcha" onkeyup="check_user_captcha(this.value,0)" placeholder="Nhập mã xác nhận"/>
                    </td>
                    <td>
                      <img id="captchaimg" src="/includes/captcha/captcha.php?v=" class="captcha" style="height:60px; margin-top:-20px;"/>
                      <a id="change-image" onclick="document.getElementById('captchaimg').src='/includes/captcha/captcha.php?'+Math.random();" href="javascript:;" style="color:#158dda; float:right; margin-top:15px;">[Đổi mã khác]</a>
                      <input type="hidden" value="" id="check_captcha0"/>
                    </td>
                  </tr>
                  <tr>
                    <td><input type="submit" value="Bình luận" class="btn btn-red" /></td>
                    <td></td>
                  </tr>
                </table>
              </div><!--form-input-->
              {/if}
            </div><!--relative-->
          </form>
        </div><!--comment-form-->
      {if="sizeof($comment_list) > 0"}
      {loop="comment_list"}
        <div class="item_comment {if="$counter==0"}first{/if}">
    <div class="comment_left">
      {if="strlen($value.user_avatar) < 3"}
      <img src="{#IMAGE_PATH#}noavatar.jpg" alt="avatar" />
      {else}
      <img src="{$value.user_avatar}" alt="avatar" />
      {/if}
    </div>
    <div class="comment_right">
      
      <div class="comment-name">
        <span>{$value.user_name}</span>
        {if="$value.is_user_admin == 1"}<i class="note">QUẢN TRỊ VIÊN</i>{/if}
      </div>
      {if="$value.approved == 0 && $value.is_user_admin != 1"}
      <p><i>Bình luận đang được kiểm duyệt !</i></p>
      {elseif="$value.is_user_admin == 1 || $value.approved == 1"}
      <p>{$value.content}</p>
      {/if}
      {if="$value.is_user_admin == 1 || $value.approved == 1"}
      <div class="info_feeback">
        <span style="color:#888;">({$value.post_time|show_datetime_from_unix})</span>
        <span id='comment_like_{$value.id}' style="color:#26a159;">
          <img src="{#IMAGE_PATH#}icon_like.png" alt="like" style="vertical-align:sub;"/>&nbsp;{$value.people_like_count}</span>
        <div class="right">
          <a href='javascript:;' onclick="$('#reply_comment_{$value.id}').toggle();" class="write_reply blue">Trả lời</a>
          &nbsp;&nbsp;
          <a href="javascript:;" class="like_comment blue" onclick="user_like_content({$value.id}, 'comment-like', 'comment_like_{$value.id}')">Thích</a>
        </div>
      </div>
      {/if}
      <div id='reply_comment_{$value.id}' style="display:none; margin-top:15px;">
        <div class="comment-form">
          <img src="{#IMAGE_PATH#}noavatar.jpg" alt="avatar" class="img-avatar"/>
          <form action="/ajax/post_comment.php" method="post" enctype="multipart/form-data"  onsubmit="return check_field({$value.id})">
            <input type=hidden name='user_post[reply_to]' value='{$value.id}'/>
            <input type=hidden name='user_post[rate]' value='0'/>
            <input type=hidden name='user_post[title]' value='re: {$value.id}'/>
            <input type=hidden name='user_post[user_email]' value='{$customer_info.email}'/>
            <input type=hidden name='user_post[user_name]' value='{$customer_info.name}'/>
            <div class="relative">
              <textarea name="user_post[content]" placeholder="Nội dung bình luận"  id="content{$value.id}"></textarea>
              {if="$is_customer_login=='yes'"}
              <input type="submit" value="Bình luận" class="btn btn-red right" />
              {else}
              <div class="form-input">
                <a href="javascript:closeFormCommentInput();" class="close">x</a>
                <table style="width:100%;" class="tbl-common">
                  <tr class="font14">
                    <td style="width:50%;">Nhập thông tin để bình luận</td><td>Hoặc đăng nhập qua</td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" id="name{$value.id}" name='user_post[user_name]' class="inputText" placeholder="Họ tên (bắt buộc)" value="{$customer_info.name}"/>
                    </td>
                    <td>
                      <a href="javascript:open_oauth('Google')"><img src="{#IMAGE_PATH#}log-in-with-google.jpg" alt="login google" /></a>
                      <a href="javascript:open_oauth('Facebook')"><img src="{#IMAGE_PATH#}log-in-with-facebook.jpg" alt="facebook" /></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" id="email{$value.id}" name='user_post[user_email]' class="inputText" placeholder="Email" value="{$customer_info.email}"/>
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" class="inputText" id="comment-capcha{$value.id}" name="captcha" onkeyup="check_user_captcha(this.value,{$value.id})" placeholder="Nhập mã xác nhận"/>
                    </td>
                    <td>
                      <img id="captchaimg{$value.id}" src="/includes/captcha/captcha.php?v=" class="captcha" style="height:60px; margin-top:-20px;"/>
                      <a id="change-image" onclick="document.getElementById('captchaimg{$value.id}').src='/includes/captcha/captcha.php?'+Math.random();" href="javascript:;" style="color:#158dda; float:right; margin-top:15px;">[Đổi mã khác]</a>
                    </td>
                  </tr> 
                  <tr>
                    <td><input type="submit" value="Bình luận" class="btn btn-red" /></td>
                    <td></td>
                  </tr>
                </table>
              </div><!--form-input-->
              {/if}
            </div><!--relative-->
          </form>
        </div><!--comment-form-->
        <input type="hidden" value="" id="check_captcha{$value.id}"/>
          
      </div><!--reply-form-->
      
        
        <!--{$user_reply = $value.user_name}-->
        {if="$value.reply_count > 0"}
      	{loop="$value.reply_list"}
        <div class="item_reply">
          <div class="comment_left">
            {if="strlen($value.user_avatar) < 3"}
            <img src="{#IMAGE_PATH#}noavatar.jpg" alt="avatar" />
            {else}
            <img src="{$value.user_avatar}" alt="avatar" />
            {/if}
          </div>
          <div class="comment_right">
            <div class="comment-name">
              <span>{$value.user_name}</span>
              {if="$value.is_user_admin == 1"}<i class="note">QUẢN TRỊ VIÊN</i>{/if}
            </div>
            {if="$value.approved == 0 && $value.is_user_admin != 1"}
            <p><i>Bình luận đang được kiểm duyệt !</i></p>
            {elseif="$value.is_user_admin == 1 || $value.approved == 1"}
            <p>{$value.content}</p>
            {/if}
            {if="$value.is_user_admin == 1 || $value.approved == 1"}
            <div class="info_feeback">
              <span style="color:#888">({$value.post_time|show_datetime_from_unix})</span>
              <span style="color:#26a159;"><img src="{#IMAGE_PATH#}icon_like.png" alt="like"/>&nbsp;{$value.people_like_count}</span>
              <a href="javascript:;" class="like_comment right blue" onclick="user_like_content({$value.id}, 'comment-reply-like', 'comment_reply_like_{$value.id}')">Thích</a>
              
            </div>
            {/if}
          </div><!--comment_right-->
          <div class="clear"></div>
          {/loop}
        </div>
        {/if}
      </div>
      <!--comment_right-->
      <div class="clear"></div>
    </div>
    <!--item_reply-->
        {/loop}
        {/if}
        
<script>
  function check_user_captcha(captcha,id){
    $.post("/ajax/check_user.php", {action : 'check-captcha', captcha : captcha}, function(data){
    document.getElementById("check_captcha"+id).value = data;
  });
  }
  function check_field(id){
    var error = "";
    var name = document.getElementById("name"+id).value;
    var email = document.getElementById("email"+id).value;
    var content = document.getElementById("content"+id).value;
    var captcha = document.getElementById('comment-capcha'+id).value;
    
    if(name=='') error+= "Bạn chưa nhập tên\n";
    if(email=='') error+= "Bạn chưa nhập email\n";
    if(content=='') error+= "Bạn chưa nhập nội dung\n";
    if(captcha=='') error+="Bạn chưa nhập mã kiểm tra"
    else {
    var check_captcha = $("#check_captcha"+id).val();
    	if(check_captcha!='') error+=check_captcha;
    }
    
    if(error==''){
      alert("Đã gửi thành công, bình luận của bạn sẽ được kiểm duyệt trước khi hiển thị");
      return true;
    }
    else {
      alert(error);
      return false;
    }
  };
</script>

