<div id="breadcrumb">
    <div class="container">
        <div class="d-flex">
            <div class="item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="/" itemprop="url" class="nopad-l">
                    <span itemprop="title">Trang chủ</span>
                </a>
            </div>
            <div class="item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="" itemprop="url" class="nopad-l">
                    <span itemprop="title">Tin tức</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!--breadcrumb-->
<div class="container bg-white rounded py-3">
    <div class="row">
        <div class="col-12 col-md-8 col-xl-9">
            <h1 class="border-bottom mb-4 pb-2 text-18 text-uppercase">Tin tức nổi bật</h1>
            <div class="row m-0 blog_home">
                <div class="col-12 col-lg-7 pl-0">
                    {loop="$top_article_list"}
                    {if="$counter < 1"}
                        <div class="blog_item_1">
                            <a href="" class="b-img">
                                <img src="{$value.image.original}" alt="{$value.title}">
                            </a>
                            <a href="{$value.url}" class="b-name">{$value.title}
                                <span>Xem tất cả</span>
                            </a>
                        </div>
                    {/if}
                    {/loop}
                </div>
                <div class="col-12 col-lg-5 p-0">
                    {loop="$top_article_list"}
                    {if="$counter > 0 && $counter < 3"}
                        <div class="blog_item_2 flex">
                            <a href="" class="b-img">
                                <img class="img-fluid" src="{$value.image.thum}" alt="">
                            </a>
                            <a href="{$value.url}" class="b-name">{$value.title}</a>
                        </div>
                    {/if}
                    {/loop}
                </div>
            </div>
            {loop="$article_category.article[0]"}
            <div class="w-100 my-3 blog_home row">
                <h4 class="col-12"><a href="{$value.url}" class="text-16 color_22">{$value.title}</a></h4>
                <div class="col-12 col-lg-6">
                    {loop="$other_article_list[$value.id]"}
                    {if="$counter < 1 && 1 < 2"}
                        <div class="blog_item_1">
                            <a href="{$value.url}" class="b-img">
                                <img src="{$value.image.original}" alt="{$value.title}">
                            </a>
                            <a href="{$value.url}" class="b-name">{$value.title}
                                <span>Xem thêm</span>
                            </a>
                        </div>
                    {/if}
                    {/loop}
                </div>
                <div class="col-12 col-lg-6">
                    {loop="$other_article_list[$value.id]"}
                    {if="$counter > 0 && $counter < 4"}
                        <div class="blog_item_2 flex">
                            <a href="{$value.url}" class="b-img">
                                <img class="img-fluid" src="{$value.image.thum}" alt="{$value.title}">
                            </a>
                            <p>
                                <a href="{$value.url}" class="b-name fw-500 text-14">{$value.title}</a>
                                <span class="d-block mt-2">Cập nhập: <i>{$value.lastUpdate}</i></span> 
                            </p>
                        </div>
                    {/if}
                    {/loop}
                </div>
            </div>
            {/loop}
        </div>
    </div>
</div>