<div class="page_path">
    <div class="page_nav productNav" id="NavChitietSP">
        <span xmlns:v="http://rdf.data-vocabulary.org/#">
            <span typeof="v:Breadcrumb"> 
                <a rel="v:url" property="v:title" href="/" title='Trang chủ' class="submenuhome123" >Trang chủ </a>
            </span> >
            <span typeof="v:Breadcrumb">
              <a rel="v:url" property="v:title" alt="{$category_info.name}" title="{$category_info.name}" href="{$category_info.url}">{$category_info.name}</a></span>
        </span>
    </div>
</div>
<div class="clear_fix"></div>
<div class="article_list page">
    {loop="article_list"}
    <div class="news-item {if="$counter == 0"}first{/if}">
        <a href="{$value.url}" class="news-image">
            <img src="{if="$counter == 0"}{$value.image.original}{else}{$value.image.thum}{/if}" alt="{$value.title}" />
        </a>
        <a href="{$value.url}" class="news-name">{$value.title}</a>
        <span class="news-summary">{|subString:$value.summary,120}</span>
      	<span class="amain-time text-999 space3px block">{$value.lastUpdate}</span>
    </div>
    {/loop}
    <div id="show-more-product"></div>
    <div class="clear_fix"></div>
  
    {if="$paging_count > 1"}<div class="top_area_list_page">
            <div class="paging">
                {loop="paging_collection"}
                    <a href="{$value.url}" {if="$value.url == '#'"}class="current"{/if}>{$value.name}</a>
                {/loop}
            </div><!--paging-->
    </div>{/if}
  
</div>
