<div class="page_path">
    <div class="page_nav productNav" id="NavChitietSP">
        <span xmlns:v="http://rdf.data-vocabulary.org/#">
            <span typeof="v:Breadcrumb"> 
                <a rel="v:url" property="v:title" href="/" title='Trang chủ' class="submenuhome123" >Trang chủ </a>
            </span> >
            <span typeof="v:Breadcrumb">
              <a rel="v:url" property="v:title" href="{$article_detail.categoryInfo.request_path}">{$article_detail.categoryInfo.name}</a></span>
        </span>
    </div>
</div>
<div class="clear_fix"></div>
<div class="article-detail" style="padding: 5px;">
    <h1>{$article_detail.title}</h1>
    <span class="time">{$article_detail.createDate}</span>
  
    <span class="content format_html article-detail p_content line-h22">{$article_detail.content}</span>
  
  	<div class="clear_fix"></div>
  	<div class="article_references">
        <h4 class="relative"><i class="icon_article_ref"></i>Tin liên quan</h4>
        <ul class="art_ref_list">
            {loop="$article_other_same_category.new"}
            {if="$value.id != $article_detail.id"}
                <li class="relative"><a href="{$value.url}">{$value.title}</a><i class="icon_art_ref_list"></i></li>
            {/if}
            {/loop}
            {loop="$article_other_same_category.old"}
            {if="$value.id != $article_detail.id"}
                <li class="relative"><a href="{$value.url}">{$value.title}</a><i class="icon_art_ref_list"></i></li>
            {/if}
            {/loop}
        </ul>
    </div>
</div>



<script>
  
  $(document).ready(function(){
  
  var html = $(".article-detail").html();
  var patt = /<p.+\[Products:.+].+<\/p>/;
  var patt2 = /\[Products:.+]/;
  var test = "";
  
  //console.log(patt.test(html));
  
  while(patt.test(html) == true){
  	var stringIds = html.match(patt2).toString();
    var ids = stringIds.substring(10,stringIds.length-1).trim();
  
  	console.log(ids);
  
    $.ajax({
      type: "POST",
      url: "/ajax/get_json.php?action=product-list&ids="+ids,
      success: function (data) { 
  
  		//console.log(data);
  
          if(data.length > 10) {
    			
  			var products = JSON.parse(data);
  
  			var htmlProducts="<div class='box-pro-article' style='text-align:center;'><ul class='prod-grid non-style product-list'>";
  			for(var i=0; i < products.length; i++){
  				var price = "";
  				var prodPrice = "";
  				if(products[i].price > 0 ) price = products[i].priceFormat+"đ"
  				else price = "Liên hệ";
  			
  			    if(products[i].specialOffer!='') 
                prodPrice = `<div class="prod-price">
                  <span class="new-price">${price}<span>+ khuyến mãi</span></span>
                </div>`;
                else{
  					prodPrice=`
  					<div class="prod-price">
                      <span class="new-price">${price}</span>
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="javascript:addToShoppingCart('pro','${products[i].productId}',1,'${products[i].price}');" style="color:red;"><span>Chọn mua</span></a>
                    </div>
  					`;
  				}
  				
  				htmlProducts+=`
                <li class="prod-item" style='display:inline-block; float:none;'>
                  <a href="${products[i].productUrl}" class="prod-image" target="_blank">
                    <img src="${products[i].productImage.large}" alt="${products[i].productName}"/>
                  </a>
                  <h3><a href="${products[i].productUrl}" class="prod-name">${products[i].productName}</a></h3>
                  ${prodPrice}
                </li>
  				`;
		  }
  			htmlProducts+="</ul></div>";
  		 
  		  var res = html.replace(patt, htmlProducts);
  
  			$(".article-detail").html(res);
  		  
  			html = res;
  		  
  			}
      }, 
      async: false
  
    });
  }
  
  
  });
</script>